<div id='menu'>
	<p class="menu_head">数据源</p>
	<div class="menu_body">
		<a href="{% url index %}">URL查询</a>
		<a href="#">最近检出</a>
		<a href="{% url white-hosts %}">白名单</a>
	</div>
	<p class="menu_head">系统监控</p>
	<div class="menu_body">
		<a href="{% url client-list %}">客户端状态</a>
		<a href="http://n5.hd.mercury.rdev.kingsoft.net/monitor/task-status/">网关数据同步</a>
		<a href="{% url daily-reporter %}" target="_blank">每日报表</a>
	</div>
	<p class="menu_head">任务管理</p>
	<div class="menu_body">
		<a href="#">URL检测任务</a>
		<a href="{% url plantasks %}">计划任务</a>
	</div>
</div>
<p id="menu_bar">&nbsp;</p>