*/2 * * * * sh /data/apps/dtspider/dtspider/client/smartclient/start_sanyaxunfang_spider.sh  > /data/appdatas/dtspider_working/sanyaxunfang_spider.log
*/1 * * * * python2.5 /data/apps/gba/gba/client/betch/freeplayer_auction_handler.py
