{% load common_extras %}
<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<link href="/site_media/css/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">
  
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #eef2fb;
}
-->
</style>
<body>
<table width="99%" border=0 cellpadding=0 cellspacing=0 class="normal_table">
  <thead>
    <th>id</th>
    <th>客户端</th>
    <th>状态</th>
    <th>日志内容</th>
     <th>日志时间</th>
    <th>开始时间</th>
    <th>完成时间</th>
    <th class="right">操作</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr no="{{ info.no }}">
        <td class="left name">{{ info.id }}</a></td>
        <td>{{ info.client_name }}</td>
        <td>{{ info.status }}</td>
        <td>{{ info.log }}</td>
        <td>{{ info.log_time }}</td>
        <td>{{ info.created_time }}</td>
        <td>{{ info.updated_time }}</td>
        <td class="right">&nbsp;</td>
        </td>
       </tr>
      {% endfor %}
      <tr>
        <td colspan="9" class="right">
          共{{page}}/{{totalpage}}页
          {% ifequal page 1 %}
            首页
            上一页
          {% else %}
             <a href="{% url betch-log %}?page=1&client_type={{client_type}}&date={{date}">首页</a>
             <a href="{% url betch-log %}?page={{prevpage}}&client_type={{client_type}}&date={{date}">上一页</a>
          {% endifequal %}
          {% ifequal page totalpage %}
            末页
            下一页
          {% else %}
             <a href="{% url betch-log %}?page={{totalpage}}&client_type={{client_type}}&date={{date}}">末页</a>
             <a href="{% url betch-log %}?page={{nextpage}}&client_type={{client_type}}&date={{date}">下一页</a>
          {% endifequal %}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
</body>