{% load common_extras %}
<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<link href="/site_media/css/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">
     
  service = new rpc.ServiceProxy("/services/player/", {asynchronous:false, methods: ['freeplayer_auction', 'get_free_auction_info', 'attention_player']});
  $(document).ready(function(){
    
	 $('a.player_name').click(function() {
	     var id = $(this).parent().parent().attr('no');
	     $.ajax({
		    url: '{% url freeplayer-detail %}?no=' + id,
		    type: 'get',
		    datatype: 'html',
		    timeout: 1000,
		    error: function(error){
		        alert(error.message);
		    },
		    success: function(html){
		        $('#play_detail').html(html);
		    }
		});
	 });
	 
	 $('a.auction').click(function() {
	     var no = $(this).parent().parent().attr('no');
	     try{
	         var data = service.get_free_auction_info(no);
	         var result = data[0];
	         if(result==-1){
	            alert('该球员已经截止!');
	            return;
	         }else if(result == -2){
	            alert('您已经出过价了,不允许重复出价!');
	            return;
	         }
	     }catch(error){
	         alert('出现未知异常!,请重试');
	     }
	     $("#no").val(no);
	     $("#min_price").html(data[1]);
	     $("#free_funds").html(data[2]);
	     $("#auction_player_dialog").show().dialog({
	         height: 180, width: 300, modal: false,
             title: '自由球员竞拍',
	         overlay: {
               opacity: 0.5, 
               background: "black" 
             }
         });
         $("#auction_player_dialog").dialog('open');
	 });
	 
	 $('a.attention').click(function() {
	     var no = $(this).parent().parent().attr('no');
	     try{
	         var result = service.attention_player(no, 1);
	         if(result == 1){
	            alert('关注成功!您可以在我的关注列表中查看该球员');
	            return;
	         }else if(result == 2){
	            alert('您已经关注过该球员了!');
	            return;
	         }else if(result == 3){
	            alert('最多只可以关注10个球员!');
	            return;
	         }else{
	            alert('出现未知异常,请重试');
	         }
	     }catch(error){
	         alert(error);
	     }
	 });
	 
	  
	 $('#update_button').click(function(){
	     var no = $('#no').val();
	     var price = $('#price').val();
	     if(!price){
	       alert('您必需填写您想要购买的价格!');
	       return;
	     }
         try{
            var result = service.freeplayer_auction(no, price);
            if(result==1){
                alert('竟拍成功!');
                $("#auction_player_dialog").dialog('close');
            }else if(result==-2){
                alert('您的资金不足!');
            }else if(result==-3){
                alert('您已经出过价,不可以重复出价!');
            }else if(result==-5){
                alert('您出的价格低于当前价格!');
            }else{
                alert('球员竟拍出错,请重试!');
            }
         }catch(error){
            alert(error.message);
         }
     });
});
  
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #eef2fb;
}
-->
</style>
<body>
<table width="99%" border=0 cellpadding=0 cellspacing=0 class="normal_table">
  <thead>
    <th>id</th>
    <th>客户端</th>
    <th>状态</th>
    <th>日志内容</th>
     <th>日志时间</th>
    <th>开始时间</th>
    <th>完成时间</th>
    <th class="right">操作</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr no="{{ info.no }}">
        <td class="left name">{{ info.id }}</a></td>
        <td>{{ info.client_name }}</td>
        <td>{{ info.status }}</td>
        <td>{{ info.log }}</td>
        <td>{{ info.log_time }}</td>
        <td>{{ info.created_time }}</td>
        <td>{{ info.updated_time }}</td>
        <td class="right">&nbsp;</td>
        </td>
       </tr>
      {% endfor %}
      <tr>
        <td colspan="9" class="right">
          共{{page}}/{{totalpage}}页
          {% ifequal page 1 %}
            首页
            上一页
          {% else %}
             <a href="{% url betch-log %}?page=1&client_type={{client_type}}&date={{date}">首页</a>
             <a href="{% url betch-log %}?page={{prevpage}}&client_type={{client_type}}&date={{date}">上一页</a>
          {% endifequal %}
          {% ifequal page totalpage %}
            末页
            下一页
          {% else %}
             <a href="{% url betch-log %}?page={{totalpage}}&client_type={{client_type}}&date={{date}}">末页</a>
             <a href="{% url betch-log %}?page={{nextpage}}&client_type={{client_type}}&date={{date}">下一页</a>
          {% endifequal %}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
</body>