{% extends "master.html" %}
{% load common_extras %}

{% block head_ext %}
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.draggable.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.droppable.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.resizable.js"></script>
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
{% endblock %}
{% block title %}编辑|创建{% endblock %}
{% block content %}
{% autoescape off %}
 {{ module|display_form}}
 {% endautoescape %}
{% endblock %}