{% extends "admin/master.html" %}
{% block title %}异常比赛查询{% endblock %}
{% block head_ext %}
    <link rel="stylesheet" type="text/css" href="/site_media/ext3/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/plan-task.css" />
	<script type="text/javascript" src="/site_media/ext3/ext-base.js"></script>
    <script type="text/javascript" src="/site_media/ext3/ext-all.js"></script>
    <script type="text/javascript" src="/site_media/js/admin/error-match-ex.js"></script>
{% endblock %}
{% block content %}
<div id="data_div"></div>
{% endblock %}