<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>left</title>
<script type="text/javascript" src="/site_media/js/prototype.lite.js"></script>
<script type="text/javascript" src="/site_media/js/moo.fx.js"></script>
<script type="text/javascript" src="/site_media/js/moo.fx.pack.js"></script>
<link href="/site_media/css/left.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<table width="100%" height="280" border="0" cellpadding="0" cellspacing="0" bgcolor="#EEF2FB">
  <tr>
    <td width="182" valign="top">
	 <div id="container">
	   <h1 class="type"><a href="javascript:void(0)">日志查询</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/site_media/images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="{% url betch-log%}" target="main">计划任务运行情况</a></li>
        </ul>
      </div>
         <h1 class="type"><a href="javascript:void(0)">比赛参数</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/site_media/images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="{% url action-desc %}" target="main">战报描述</a></li>
        </ul>
      </div>
     </div>
    </td>
  </tr>
</table>
</body>
</html>
    <script type="text/javascript">
		var contents = document.getElementsByClassName('content');
		var toggles = document.getElementsByClassName('type');
	
		var myAccordion = new fx.Accordion(
			toggles, contents, {opacity: true, duration: 400}
		);
		myAccordion.showThisHideOpen(contents[0]);
	</script>
