<div id='menu'>
	<p class="menu_head">客户端监控</p>
	<div class="menu_body">
		<a href="{% url client-list %}">客户端状态</a>
	    <a href="{% url engine-status %}">引擎状态</a>
	</div>
	<p class="menu_head">日志查询</p>
	<div class="menu_body">
		<a href="{% url betch-log %}">批处理日志</a>
		<a href="{% url daily-update-log %}">每日更新日志</a>
	</div>
	<p class="menu_head">比赛相关</p>
	<div class="menu_body">
		<a href="{% url action-desc %}">比赛描述</a>
		<a href="{% url match-list %}">比赛管理</a>
		<a href="{% url error-match %}">异常比赛管理</a>
	</div>
	<p class="menu_head">联赛相关</p>
	<div class="menu_body">
	    <a href="{% url cup-list %}">奖杯管理</a>
		<a href="{% url league-list %}">联赛管理</a>
	</div>
	<p class="menu_head">系统监控</p>
	<div class="menu_body">
	    <a href="{% url list-database-status %}">数据库状态</a>
	</div>
	<p class="menu_head">用户管理</p>
	<div class="menu_body">
	    <a href="{% url email-send-log %}">激活邮件记录</a>
	</div>
</div>
<p id="menu_bar">&nbsp;</p>
