{% extends "master.html" %}
{% block head_ext %}
<script>
  $(document).ready(function(){
      $("#add_button").click(function(){
          window.location = "{% url table-add %}";
      });    
      
      $(".edit_btn").click(function(){
          var id = $(this).parent().parent().attr('id');
          window.location = "{% url table-edit %}?id=" + id;
      });   
  })
</script>
{% endblock %}
{% block title %}table list{% endblock %}
{% block content %}
<input type="button" value="add table" id="add_button"/>
<table cellspacing="1" class="tablesorter">
<thead>
  <tr>
	<th>id</th>
	<th>table name</th>
	<th>created time</th>
	<th>last updated time</th>
	<th>modify</th>
  </tr>
</thead>
<tbody>
{% if tables %}
  {% for table in tables %}
   <tr id="{{ table.id }}">
     <td>
       {{ table.id }}
     </td>
     <td>
       {{ table.name }}
     </td>
     <td>
       {{ table.created_at }}
     </td>
     <td>
       {{ table.updated_at }}
     </td>
     <td>
       <input type="button" class="edit_btn" value="edit"/>
       <input type="button" class="delete_btn" value="delete"/>
     </td>
   </tr>
  {% endfor %}
    <tr>
		<td colspan="5">
		总{{ page }}/{{ totalpage }}页
		{% ifnotequal page 1 %}
		 <a href="{% url module-list module %}?page=1">首页</a>
		 <a href="{% url module-list module %}?page={{prevpage}}">上一页</a>
		{% else %}
		首页
		上一页
		{% endifnotequal %}
		{% ifnotequal page totalpage %}
		 <a href="{% url module-list module %}?page={{nextpage}}">下一页</a>
		 <a href="{% url module-list module %}?page={{totalpage}}">尾页</a>
	    {% else %}
	           下一页
	           末页
	    {% endifnotequal %}
	    </td>
	</tr>
{% else %}
	<tr>
		<td colspan="8">暂无数据.</td>
	</tr>
{% endif %}
 </tbody>
</table>
{% endblock %}