{% extends "admin/master.html" %}
{% load common_extras %}
{% block head_ext %}
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">
     
      
     
  service = new rpc.ServiceProxy("/services/player/", {asynchronous:false, methods: ['add_player5',]});
  
  $(document).ready(function(){
   
   
	genPageLinks({{total}}, {{pagesize}});
	       
	
    $('input.add').click(function(){
	     $("#add_dialog").show().dialog({
		     height: 230, width: 330, modal: true,
	         title: '添加球员',
		     overlay: {
                opacity: 0.5, 
                background: "black" 
             }
	     });
	});
	
    $('#add_form input.button').click(function(){
		var count = $('#count').val();
        var category = $('#type option:selected').val();
        var hours =  $('#hours').val();
        var now_point =  $('#now_point').val();
        var max_point =  $('#max_point').val();
	    if(!count){
		   alert("请输入数量");
		}else{
		    try{
		       service.add_player5(count, category, hours, now_point, max_point);
	           window.location.reload() ;
			}catch(e){
			   alert(e.message);
			}
	    }
	});
	 
	$('.category').click(function(){
		 var category = $(this).attr('category');
		 var url = "{% url player5 %}?category=" + category;
		 window.location = url;
	});
	 
	 $(".category").each(function(){
	    if($(this).attr("category")=={{category}}){
		   $(this).attr("disabled", "disabled");
		}
	});
	 
  });
  
</script>
{% endblock %}
{% block title %}客户端监控{% endblock %}
{% block content %}
<input type="button" class="add" value="添加球员"/><br/>
<input type="button" class="category" category="1" value="职业球员" />
<input type="button" class="category" category="2" value="职业转会" />
<input type="button" class="category" category="3" value="职业选秀" />
<input type="button" class="category" category="4" value="极限球员" />
<table cellspacing="1" class="tablesorter">
  <thead>
    <th>球员ID</th>
    <th>俱乐部ID</th>
    <th>名称</th>
    <th>类型</th>
    <th>号码</th>
    <th>年龄</th>
    <th>薪水</th>
    <th>位置</th>
    <th>体力</th>
    <th>身高</th>
    <th>体重</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr id="{{ info.id }}">
         <td>{{ info.playerid }}</td>
         <td>{{ info.clubid }}</td>
         <td>{{ info.name }}</td>
         <td>{{ info.category|player5_category }}</td>
         <td>{{ info.number }}</td>
         <td>{{ info.age }}</td>
         <td>{{ info.salary }}</td>
         <td>{{ info.pos|position }}</td>
         <td>{{ info.power }}</td>
         <td>{{ info.height }}</td>
         <td>{{ info.weight }}</td>
       </tr>
      {% endfor %}
    {% endif %}
     <tr style="display:none"><td id="pageLink" colspan="12"></td></tr>
  </tbody>
</table>
<div id="add_dialog" class="flora" style="display: none;">
    <form id="add_form">
        <p>
    		<label>类型:</label>
			<span>
			  <select id="type">
			   <option value="2">职业转会</option>
			   <option value="3">职业选秀</option>
			   <option value="4">极限球员</option>
			  </select>
			</span>
	    </p>
    	<p>
    		<label>数量:</label>
			<span><input id="count" type="text" value="12"/></span>
	    </p>
	    <p>
    		<label>截止时间(N小时后):</label>
			<span><input id="hours" type="text" value="12"/></span>
	    </p>
	    <p>
    		<label>当前能力百分比:</label>
			<span><input id="now_point" type="text" value="55"/></span>
	    </p> 
	    <p>
    		<label>最大能力百分比:</label>
			<span><input id="max_point" type="text" value="70"/></span>
	    </p>
	    <br> 
		<input class="button" type="button" value="提交" />
    </form>
</div>
{% endblock %}