<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<link href="/site_media/css/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<head>
   <title>注册新用户</title>
</head>
<body>
<form name="register_form" action="{% url register %}" method="post">
<p>用户名:<input type="txet" name="username"/></p>
<p>密码:<input type="password" name="password"/></p>
<p>确认密码:<input type="password" name="password"/></p>
<p>经理名:<input type="text" name="nickname"/></p>
<p>球队名:<input type="text" name="teamname"/></p>
<input type="submit" value="注册"/>
</form>
</body>