<script language="javascript">
    dui_wu_onclick = function(dui_wu) {
        $("dui_wu").value = dui_wu;
    }
    check_frm = function(myform) {
        var temp = true;
        var type_1 = "LENGTH";
        var ids_1 = new Array("yz_nei_rong");
        var msgs_1 = new Array("附言内容长度不能超过20个字符！");
        var other_1 = new Array("20");
        if (!checkPublic(type_1, ids_1, msgs_1, other_1)) return false;
        //内容过滤
        if (is_political_words($('yz_nei_rong').value) || is_dirty_words($('yz_nei_rong').value)) {
            alert("附言不合法！");
            return false;
        }
        return submit_to_div(myform, 'popup_inner');
    }
</script>
<form name="yue_zhan_form" id="yue_zhan_form" action="{% url send-match-request %}" method="post" onsubmit='return check_frm(this);'>
    <div class="blank20">
    </div>
    <div class="floatBox_msg">
        <div>
            <img src="/site_media/images/w_blank/blank_2_07.gif" width="68" height="55" alt=""/>
        </div>
        <dl>
            <dd>
                <span class="floatBox_msg_l">
                    &nbsp;
                </span>
                <span class="floatBox_msg_r">
                <input type="radio" name="yz_dui_wu" id="yz_dui_wu" value="1" checked="checked" onclick="dui_wu_onclick('1');"> 职业队　 
                <input type="radio" name="yz_dui_wu" id="yz_dui_wu" value="2" onclick="dui_wu_onclick('2');">业余队
                <input type="hidden" id="dui_wu" name="dui_wu" value="1">
                </span>
            </dd>
        </dl>
        <div class="clear">
        </div>
        <div class="blank10">
        </div>
        <dl>
            <dd>
                <span class="floatBox_msg_l lh21">
                    经理名称：
                </span>
                <span class="floatBox_msg_r">
                    <div class="left">
                        <input type="hidden" name="team_id" id="team_id" value="{{team.id}}">
                        {{team.name}}
                    </div>
                    <div class="right">
                        <select name="type" id="type">
                            <option value="2">
                                友谊赛
                            </option>
                            <option value="1">
                                训练赛
                            </option>
                        </select>
                    </div>
                </span>
            </dd>
        </dl>
        <div class="clear">
        </div>
        <div class="blank10">
        </div>
        <dl>
            <dd>
                <div class="floatBox_msg_l lh21">
                    附言：
                </div>
                <div class="floatBox_msg_r">
                    <textarea name="yz_nei_rong" id="yz_nei_rong" cols="25" rows="5" class="in1"
                    onfocus="this.className='in2';" onblur="this.className='in1';" style="width:190px; height:146px">
                    </textarea>
                </div>
                <div class="clear">
                </div>
            </dd>
        </dl>
        <div class="blank10">
        </div>
        <dl>
            <dd>
                <span class="floatBox_msg_l lh21">
                    &nbsp;
                </span>
                <span class="floatBox_msg_r floatBox_msg_btn">
                    <div class="btn_3 left">
                        <input type="submit" name="yue_zhan" value="发送约战" class="btn_4" style="CURSOR: pointer"
                        />
                    </div>
                    <div class="btn_3 right">
                        <input type="button" name="qu_xiao" onclick="return hide_popup();"
                        value="取消" class="btn_3" style="CURSOR: pointer" />
                    </div>
                </span>
            </dd>
        </dl>
        <div class="clear">
        </div>
        <input type="hidden" id="dui_wu" name="dui_wu" value="1">
</form>