{% load common_extras %}
<div class="floatBox_content">
		<span class="left border_black mr10"><img id=imgClothes height=55 src="{{show_team.micro}}" width=55></span>
		<div class="blank10"></div>
		<p class="lh21">
		<table border="0">
			<tr>
			  <td colspan=2><font color="#616161">俱乐部名：</font><span class="blue">{{show_team.name}}</span></td>
		    </tr>
			</tr>
				<td colspan=2><font color="#616161">经理名称：</font><span class="blue">{{show_team.id|nickname}}</span></td>
			</tr>
			<tr>
			  <td><font color="#616161">综合实力：</font><span class="blue">{{show_team.agv_ability|format_number}}</span></td>
			  <td><font color="#616161">实力排名：</font><span class="blue">{{show_team.agv_ability_rank}}</span></td>
			</tr>
			<tr>
			  <td><font color="#616161">最后登录：</font><span class="blue">{{show_team.last_active_time}}</span></td>
			  <td>　<a href="{% url add-friend %}?team_id={{show_team.id}}" onclick="return href_to_div(this,'popup_inner')"><font color="#0096f1">加为好友</font></a></td>
			 </tr>
		</table>	
		</p>
		<div class="clear"></div>
		<div class="blank10"></div>
		<div class="players_lab players_lab_1">
			<dl>
			<dd id="wz2_1" onclick="show_s_table(2,1,5)" class="active" >职业</dd>
			<dd id="wz2_2" onclick="show_s_table(2,2,5)">业余</dd>
			<dd id="wz2_3" onclick="show_s_table(2,3,5)">荣誉</dd>
			{% ifequal show_team.is_self 0%}
			<dd id="wz2_4" onclick="show_s_table(2,4,5)">短信</dd>
			<dd id="wz2_5" onclick="show_s_table(2,5,5)">约战</dd>
			{% endifequal %}
			</dl>
		</div><div class="clear"></div>
<div id="tab2_1">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="list_table">
<tr>
<th>&nbsp;&nbsp;</th>
<th>姓名</th>
<th>位置</th>
<th class="end_cell">综合</th>
</tr>
{% for player in pro_players %}
<tr >
<td>
<img src="/site_media/images/qiu_yuan/{{player.player_no}}.gif"></td>
<td>
<span class='blue'>
<a href='{% url player-detail %}?no={{player.no}}&type=2&from_page=user-detail&from_id={{show_team.id}}' onclick='return href_to_div(this,"popup_inner")'>
{{player.name}}
</a>
</span></td>
<td>{{player.position}}</td>
<td><font color='{{player.ability|attr_color}}'>{{player.ability|format_number}}</font></td>
</tr>
{% endfor %}
</table>   <!--业余队球员列表  -->
</div>
<div id="tab2_2" style="display:none">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="list_table">
<tr>
<th>&nbsp;&nbsp;</th>
<th>姓名</th>
<th>位置</th>
<th class="end_cell">综合</th>
</tr>
{% for player in youth_players %}
<tr>
<td><img src="/site_media/images/qiu_yuan/{{player.player_no}}.gif"></td>
<td>
<span class='blue'>
<a href='{% url player-detail %}?no={{player.no}}&type=3&from_page=user-detail&from_id={{show_team.id}}' onclick='return href_to_div(this,"popup_inner")'>{{player.name}}</a>
</span>
</td>
<td>{{player.position}}</td>
<td><font color='#666666'>{{player.ability|format_number}}</font></td>
</tr>
{% endfor %}
</table> 
</div>
<div id="tab2_3" style="display:none">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="list_table">
<tr>
<th  >奖杯</th>
<th  >荣誉</th>
<th  class="end_cell">获得时间</th>
</tr>

</table>   <!--荣誉列表  -->
		</div>
		
			<div id="tab2_4" style="display:none">
			<script language="javascript">
			check_xx = function(myform)
			{
				var temp = true;
				var type_1  ="LENGTH";
				var ids_1   = new Array("content");
				var msgs_1  = new Array("短信内容长度不能超过100个字符！");
				var other_1 = new Array("100");
				if(!checkPublic(type_1,ids_1,msgs_1,other_1))
					return  false;

				var ids   = new Array("content");
				var msgs  = new Array("短信内容不能为空！");
				var types = new Array("STRING");
				if(!checkSubmit(ids,msgs,types))
					return  false;
				//内容过滤
				if(is_political_words($("content").value)||is_dirty_words($("content").value))
				{
					alert("短信内容不合法！");
					return false;
				}
				return submit_to_div(myform,"popup_inner");
			}
			</script>

			<form name="duan_xin_form" id="duan_xin_form" action="{% url send-message %}" method="post" onsubmit="return check_xx(this);">
			  <div class="blank20"></div>
					<dl><dd>
						<span class="floatBox_msg_l">经理名称：</span>
						<span class="floatBox_msg_r">
							{{show_team.id|nickname}}
						    <input type="hidden" name="team_id" id="team_id" value="{{show_team.id}}">
						    <input type="hidden" name="title" id="title" value="站内短信">
						</span>

					</dd></dl>
					<div class="clear"></div>
					<div class="blank10"></div>
					<dl>
					  <dd>
						<div class="floatBox_msg_l lh21">短信内容：</div>
						<div class="floatBox_msg_r">
							<textarea name="content" id="content" cols="30" rows="10" class="in1" onfocus="this.className='in2';" onblur="this.className='in1';" style="width:190px; height:146px"></textarea>
						</div>
						<div class="clear"></div>
					 </dd>
				    </dl>
					<div class="blank10"></div>
					<dl><dd>
						<span class="floatBox_msg_l lh21">&nbsp;</span>
						<span class="floatBox_msg_r floatBox_msg_btn">
						  <div class="btn_3 mauto">
						   <input type="submit" name="liu_yan" value="确定" class="btn_3" style="CURSOR: pointer"/>
						  </div>
						</span>
					</dd></dl>
					<div class="clear"></div>

        	</form>
			</div>
					    <!--短信  -->
		
			<div id="tab2_5" style="display:none">
			<script language="javascript">
				is_youth_change=function(is_youth)
				{
					$("is_youth").value = is_youth
				}
				check_request = function(myform)
				{
					var temp = true;
					var type_1  ="LENGTH";
					var ids_1   = new Array("remark");
					var msgs_1  = new Array("附言内容长度不能超过20个字符！");
					var other_1 = new Array("20");
					if(!checkPublic(type_1,ids_1,msgs_1,other_1))
						return  false;
					//内容过滤
					if(is_political_words($("remark").value)||is_dirty_words($("remark").value))
					{
						alert("附言内容不合法！");
						return false;
					}
					return submit_to_div(myform,"popup_inner");
				}
			</script>
			<form name="match_req_form" id="match_req_form" action="{% url send-match-request %}" method="post" onsubmit="return check_request(this);">
		      <div class="blank20"></div>
					<dl><dd>
					  <span class="floatBox_msg_l">&nbsp;</span>
					  <span class="floatBox_msg_r">
						<input type="radio" name="rad_is_youth" value="0" checked="checked" onclick="is_youth_change('0');">
						职业队
						<input type="radio" name="rad_is_youth" value="1" onclick="is_youth_change('1');">
						街球队
						<input type="hidden" name="is_youth" id="is_youth" value="0">
					  </span>
					</dd></dl>
					<div class="clear"></div>
					<div class="blank10"></div>
					<dl><dd>
						<span class="floatBox_msg_l lh21">经理名称：</span>
						<span class="floatBox_msg_r">
							<div class="left">
							   <input type="hidden" name="team_id" id="team_id" value="{{show_team.id}}">
                               {{show_team.name}}
							</div>
						  <div class="right">
							<select name="match_type" id="match_type">
									<option value="2">友谊赛</option>
									<option value="1">训练赛</option>
						    </select>

						  </div>
						</span>
					</dd></dl>
					<div class="clear"></div>
					<div class="blank10"></div>
					<dl><dd>
						<div class="floatBox_msg_l lh21">附言：</div>
						<div class="floatBox_msg_r">
							<textarea name="remark" id="remark" cols="25" rows="5" class="in1" onfocus="this.className='in2';" onblur="this.className='in1';" style="width:190px; height:146px"></textarea>
						</div>
						<div class="clear"></div>
					</dd></dl>
					<div class="blank10"></div>
					<dl><dd>
						<span class="floatBox_msg_l lh21">&nbsp;</span>
						<span class="floatBox_msg_r floatBox_msg_btn">
							<div class="btn_3 mauto"><input type="submit" name="yue_zhan" value="发送约战" class="btn_4" style="cursor: pointer"/></div>
						</span>
					</dd></dl>
					<div class="clear"></div>
	          </form>
			  </div>
		<div class="blank20"></div>
</div>