{% load common_extras %}
<form method="post" action="{% url union-title-setting %}" name="frm" onsubmit='return submit_to_div(this,"popup_inner")'>
 <input id="member_id" type="hidden" name="member_id" value="{{union_member.id}}"/>
<div class="floatBox_sms">
<div class="blank20"></div>
<div class="blank10"></div>
<p class="lh21" align="center">
  封号: <input id="title" type="text" name="title" value="{%if union_member.title%}{{union_member.title}}{%endif%}"/>
</p>
</div>
<div class="blank10"></div>
<div class="floatBox_sms_btn">
<div class="left">
 <input name="Submit" value="确定" class="btn_3" type="submit">
</div>
<div class="btn_3 right"><a href="#" onclick="return hide_popup('');">取消</a>
</div>
</div><div class="clear"></div>
</div>
<div class="blank20"></div>
<div class="blank20"></div>
</form>
