<table class="list_table" width="100%"
 border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<th>联盟名称</th>
<th>盟主</th>
<th><a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=671&amp;pai_xu=id_wang_guo" 
onclick='return href_to_div(this,"main_content")' title="按照该项排序"><font 
color="#0096f1">国家</font></a></th>
<th><a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=671&amp;pai_xu=wei_wang" 
onclick='return href_to_div(this,"main_content")' title="按照该项排序"><font 
color="#0096f1">盟威</font></a></th>
<th>联盟人数</th>
<th>空缺战队</th>
<th>战队数</th>
<th class="end_cell">操作</th>
</tr>
<tr>
<td><a href="http://s3.dlm.17uxi.cn/source/n.php?a=688&amp;id=577" 
onclick="return show_popup(this)"><font color="#0096f1">薔薇婲徔夣</font></a></td>
<td><a href="http://s3.dlm.17uxi.cn/source/n.php?a=119&amp;id=15737" 
onclick="return show_popup(this)"><font color="#0096f1">【膤】фの薔薇</font></a></td>
<td>北国</td>
<td>3070</td>
<td>124</td>
<td>2</td>
<td>6</td>
<td><a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=700&amp;id_lian_meng=577" 
onclick="return show_popup(this);"><font color="#0096f1">查看</font></a> |
 <a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=689&amp;id_lian_meng=577" 
onclick="return show_popup(this);"><font color="#0096f1">申请入盟</font></a></td>
</tr>
</tbody>
</table>
<div class="blank10"></div>
<div class="mlr8 tr">
{% ifequal page 1 %}
    首页
    上一页
{% else %}
     <a href="{% url youth-free-players-min %}?page=1" onclick="return href_to_div(this,'main_content');">首页</a>
     <a href="{% url youth-free-players-min %}?page={{prevpage}}" onclick="return href_to_div(this,'main_content');">&lt;上一页</a>
{% endifequal %}
{% ifequal page totalpage %}
    下一页
    末页
{% else %}
     <a href="{% url youth-free-players-min %}?page={{nextpage}}" onclick="return href_to_div(this,'main_content');">下一页&gt;</a>
     <a href="{% url youth-free-players-min %}?page={{totalpage}}" onclick="return href_to_div(this,'main_content');">末页</a>
{% endifequal %}
[第{{page}}/{{totalpage}}页]
</div>
<div></div>
<div class="blank10"></div>