{% load common_extras %}
<div class="clear">
</div>
<div class="blank10">
</div>
<div class="union_half0 left">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" height="194">
        <tbody>
            <tr>
                <td class="blk1218" style="border-bottom: 1px solid rgb(218, 218, 218);" width="120" bgcolor="#f0f0f0" height="26">
                    联盟基本信息
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top" height="185">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td rowspan="2" width="27%">
                                    <a href="http://s3.dlm.17uxi.cn/source/n.php?a=698" onclick="return show_popup(this)">
                                        <img src="/site_media/images/meng_hui.gif" alt="点击上传个性徽章" width="64" height="64">
                                    </a>
                                </td>
                                <td class="gray" style="border-bottom: 1px solid rgb(218, 218, 218);" width="73%" height="38">
                                    联盟名称：{{union.name}}[{{union.short_name}}]
                                </td>
                            </tr>
                            <tr>
                                <td class="gray" style="border-bottom: 1px solid rgb(218, 218,  218);" height="35">
                                    盟主：
                                    <a href="{%url user-detail%}?id={{union.leader}}" onclick="return show_popup(this)">
                                        {{union.leader|nickname}}
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="guozhan_table" width="278" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr class="td_bgcolor_white">
                                <td class="gray">
                                    威望：{{union.prestige}}
                                </td>
                                <td class="gray">
                                    成员：{{union.member}}
                                </td>
                            </tr>
                            <tr class="td_bgcolor_white">
                                <td class="gray">
                                    QQ群：{%if union.qq_group%}{{union.qq_group}}{%else%}无{%endif%}
                                </td>
                                <td class="gray">
                                    <a href="http://s3.dlm.17uxi.cn/source/n.php?a=685" class="org" onclick="return href_to_div(this,'main_content')">
                                        论坛：{%if union.forum%}{{union.forum}}{%else%}无{%endif%}
                                    </a>
                                </td>
                            </tr>
                            <tr class="td_bgcolor_white">
                                <td class="gray" colspan="2">
                                    <a href="http://s3.dlm.17uxi.cn/source/n.php?a=693" onclick="return  href_to_div(this,'main_content')">
                                        待审成员：1/1
                                    </a>
                                </td>
                            </tr>
                            <tr class="td_bgcolor_white">
                                <td class="gray" colspan="2">
                                    创建时间：{{union.created_time}}
                                </td>
                            </tr>
                             <tr class="td_bgcolor_white">
                                <td class="gray" colspan="2">
                                    管理：{{union.created_time}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="blank10">
    </div>
    <div>
		<a href="http://s3.dlm.17uxi.cn/source/n.php?a=674" class="org" onclick="return href_to_div(this,'main_content')">盟内人事</a>
		<a href="http://s3.dlm.17uxi.cn/source/n.php?a=679" class="org" onclick="return show_popup(this);">解散联盟</a>
		<a href="http://s3.dlm.17uxi.cn/source/n.php?a=685" class="org" onclick="return href_to_div(this,'main_content')">批准入盟</a>
		<a href="http://s3.dlm.17uxi.cn/source/n.php?a=683" onclick="return show_popup(this)" class="org">禅让盟主</a>
	</div>
    <div class="blank10">
    </div>
</div>
<div class="union_half right">
    <table style="width:337px;" border="0" cellpadding="0" cellspacing="0" height="194">
        <tbody>
            <tr>
                <td class="blk1218" style="border-bottom: 1px solid rgb(218, 218, 218);" width="100%" bgcolor="#f0f0f0" height="26">
                    联盟公告
                    {% if is_leader %}
                     <a onclick="return show_popup(this)" href="{% url union-announce %}">[更改]</a>
                    {%endif%}
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top" height="155">
                   <div class="union_huizhang_info3 left lh18">{{union.announce}}</div> 
                </td>
             </tr>
        </tbody>
    </table>
     <table style="width:337px;" border="0" cellpadding="0" cellspacing="0" height="194">
        <tbody>
            <tr>
                <td class="blk1218" style="border-bottom: 1px solid rgb(218, 218, 218);" width="100%" bgcolor="#f0f0f0" height="26">
                    联盟介绍
                    {% if is_leader %}
                     <a onclick="return show_popup(this)" href="{% url union-announce %}">[更改]</a>
                    {%endif%}
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="top" height="155">
                   <div class="union_huizhang_info3 left lh18">{{union.union_desc}}</div> 
                </td>
             </tr>
        </tbody>
    </table>
</div>