{% extends "index.html" %}
{% block show_nav %}
<script language="javascript">
   sub_menu_highlight(7,3);
   nav_over('nav7','show7');
   nav_show('nav7','show7');
</script>
{% endblock %}
{% block sub_menu %}
<div class="players_lab">
 <ul>
 <li class="" id="menu_third_1">
  <a href="{% url union-war-list-min %}" onclick="javascript:href_to_div(this,'main_content');third_menu_highlight(1);return false;">
   竞技场
  </a>
 </li>
 <li class="" id="menu_third_2">
  <a href="{% url team-union-war %}" onclick="javascript:href_to_div(this,'main_content');third_menu_highlight(2);return false;">
  我的比赛
  </a>
  </li>
 <li class="" id="menu_third_3">
  <a href="{% url union-war-history %}" onclick="javascript:href_to_div(this,'main_content');third_menu_highlight(3);return false;">
  比赛历史
  </a>
 </li>
  <li class="" id="menu_third_4">
  <a href="{% url union-event %}" onclick="javascript:href_to_div(this,'main_content');third_menu_highlight(4);return false;">
  大事记录
  </a>
 </li>
</ul>
</div>
 <div class="clear"></div>				
<script language="javascript">
 third_menu_highlight(1);	
</script>
{% endblock %}
