{% load common_extras %}
{% if apply %}
 <div class="explain_box players_talbe">&nbsp;
第1场比赛&nbsp;&nbsp;当前你能得到的奖励是 100资金 ，胜出后退出比赛可立即得到。下一场奖励是 200资金。
</div>
{% ifequal challenge_pool.status 1 %}
<input id="waiting" type="hidden" value="{{waiting_time}}"/>
<script language="javascript">
  setInterval(count_down_waiting, 1000);
</script>
<div class="r_box_1">
	<div class="r_box_1_title"></div>
	<div class="r_box_1_1">
		<div class="w160 tr">
		  <h2>
		   <a href="{% url user-detail %}?id={{team.id}}" onclick="return show_popup(this);">{{team.name}}</a>
		  </h2>
		  <h3></h3>
		</div>
		<div class="w55">
		   <img id="imgClothes" src="{{team.micro}}" width="55" height="55">
		</div>
		<div class="w173" align="center">
			<div class="blank10"></div>
			<img id="imgLogo1" src="/site_media/images/zero.gif">
		</div>
		<div class="w55"><img id="imgLogo1" src="/site_media/images/99.gif" width="40" height="42"></div>
		<div class="w160"><h2>正在等待合适的对手...</h2><h3></h3></div>

	</div><div class="clear"></div>
	<div class="blank5"></div>
	<div class="r_box_1_2 gray">
		<div id="yz_time">等待对手中……已等待{{waiting_time}}秒</div>
	</div>
	<div class="blank10"></div>
	<div class="blank10"></div>
	<div class="blank10"></div>
	<div class="w173" align="center">
		<!--input name="button" value="战术设置" type="submit" class="btn_3" onclick="javascript:window.document.location.href='i.php?a=126'" onmouseup="javascript:window.open('i.php?a=126')"/-->
		<input name="button" value="继续比赛" class="btn_3x" disabled="disabled"
 type="submit">
		&nbsp;
		<input name="button" value="退出比赛" class="btn_3x" disabled="disabled"
 type="submit">
	</div>
</div>

{% else %}
   <div class="r_box_1">
	<div class="r_box_1_title"></div>
    <div class="r_box_1_1">
	 <div class="w160 tr">
	  <h2>
	   <a href="{% url user-detail %}?id={{home_team.id}}" onclick="return show_popup(this);">{{home_team.name}}</a>
	  </h2>
	  <h3></h3>
	 </div>
	<div class="w55"><img id="imgClothes" src="{{home_team.micro}}" width="55" height="55"></div>
	<div class="w173" align="center">
	    <div class="blank10"></div>
	      <div id="bifen">
	        {% if show_point %}
	           <span class="sp"></span>
				<span class="bf{{a1}}"></span>
				<span class="bf{{a2}}"></span>
				<span class="bf{{a3}}"></span>
				<span class="sp"></span>
				<span class="vs"></span>
				<span class="sp"></span>
				<span class="sp"></span>
				<span class="bf{{b1}}"></span>
				<span class="bf{{b2}}"></span>
				<span class="bf{{b3}}"></span>
	        {% else %}
	           <img id="imgLogo1" src="/site_media/images/zero.gif">
		   {% endif %}
		 </div>
   </div>
   <div class="w55">
     <img id="imgClothes" src="{{guest_team.micro}}" width="55" height="55">
  </div>
  <div class="w160">
     <h2>
       <a href="{% url user-detail %}?id={{guest_team.id}}" onclick="return show_popup(this);">{{guest_team.name}}</a>
     </h2>
     <h3></h3>
  </div>
</div>
<div class="clear"></div>
<div class="blank5"></div>
<div class="r_box_1_2 gray">
   {% if entering %}
     赛前准备中 还剩{{remain_time}}秒
   {% else %}
     {% if statistics %}
         比赛统计中 还剩{{remain_time}}秒
     {% else %}
        {% if finish %}
           {% if win %}
              比赛赢了
           {% else %}
              比赛输了
           {% endif %}
        {% else %}
           {{match_nodosity_main.seq|match_sub_status}} 还剩{{remain_time}}秒
        {% endif %}
     {% endif %}
   {% endif %}
</div>
</div>
<div class="r_box_1_2 gray">
 <div id="yz_time">
 {% if finish %}
   比赛已结束 
  <a href="{% url match-detail%}?match_id={{match.id}}" target="_blank">本场战报</a>
  <a href="{% url match-stat%}?match_id={{match.id}}" target="_blank">本场统计</a>
  {% endif %}
 </div>
<table width="500" align="center" border="0">
 <tbody>
  {% if match_nodosity_main %}
  <tr>
   <td width="252">
     {{match_nodosity_main.seq|match_sub_status}} 
     {{match_nodosity_main.home_offensive_tactic|tactical}}
     {{match_nodosity_main.home_defend_tactic|tactical}} 
   </td>
   <td width="252">
     {{match_nodosity_main.guest_offensive_tactic|tactical}}
     {{match_nodosity_main.guest_defend_tactic|tactical}} 
   </td>
  </tr>
 {% endif %}
  <tr>
   <td colspan="2">
	<div class="w173" align="center">
	{% if finish %}
	 {% if win %}
	  <input name="button" value="继续比赛" class="btn_3"  onclick="javascript:window.document.location.href='{% url challenge-apply %}';" onmouseup="return href_to_div('{% url challenge-apply %}','main_content');" type="submit">
	  <input name="button" value="退出比赛" class="btn_3" onclick="javascript:window.document.location.href='{% url challenge-apply %}'" onmouseup="return href_to_div('{% url challenge-apply %}','main_content');" type="submit">
	 {% else %}
	  <input name="button" value="继续比赛" class="btn_3x">
	  <input name="button" value="退出比赛" class="btn_3" onclick="javascript:window.document.location.href='{% url challenge-apply %}'" onmouseup="return href_to_div('{% url challenge-apply %}','main_content');" type="submit">
	 {% endif %}
	{% else %}
	<input name="button" value="继续比赛" class="btn_3x">
	<input name="button" value="退出比赛" class="btn_3x">
	{% endif %}
	</div>
  </td>
 </tr>
</tbody>
</table>
</div>
{% endifequal %}
<br><br><br><br><br><br><br>
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
   <tbody>
    <tr>
      <td colspan="6" style="border-bottom: 1px solid rgb(218, 218, 218);" bgcolor="#ffffff" height="42">
       <span class="f14">
       <img src="/site_media/images/gold.gif" width="48" align="absmiddle" height="35">
       <strong>挑战奖励</strong>
       </span>
     </td>
     </tr>
     <tr>
      <td width="30" bgcolor="#f6f6f6">
      <img src="/site_media/images/ball.gif" width="16" height="16">
      <div align="center"></div>
     </td>
     <td width="187" bgcolor="#f6f6f6" height="28">第一场 100资金</td>
     <td width="30" bgcolor="#f6f6f6">
      <div align="center"></div>
     </td>
     <td width="196" bgcolor="#f6f6f6">第二场 200资金</td>
     <td width="30" bgcolor="#f6f6f6"><div align="center"></div></td>
     <td width="202" bgcolor="#f6f6f6">第三场 300资金</td>
     </tr>
     <tr>
       <td><div align="center"></div></td> 
       <td height="28">第四场 400资金 1资质</td>
        <td><div align="center"></div></td>
        <td>第五场 500资金 2资质</td>
        <td><div align="center"></div></td>
        <td>第六场 600资金 3资质</td>
      </tr>
      <tr>
        <td bgcolor="#f6f6f6"><div align="center"></div></td>
        <td bgcolor="#f6f6f6" height="28">第七场 700资金 5资质</td>
        <td bgcolor="#f6f6f6"><div align="center"></div></td>
        <td bgcolor="#f6f6f6">第八场 800资金 7资质</td>
        <td bgcolor="#f6f6f6"><div align="center"></div></td>
        <td bgcolor="#f6f6f6">第九场 900资金 10资质</td>
      </tr>
    </tbody>
 </table>
{% else %}
<div class="blank10"></div>
<div class="blueBox_bg">
<div class="jlbBox">
<div align="center">
 <strong>
   昨日竞技王，大奖得主 
   <a href="http://s3.dlm.17uxi.cn/source/n.php?a=119&amp;id=15737" onclick="return show_popup(this);">
   <font color="blue">小雨酥</font></a> ，获得奖金1000000资金！
 </strong>
</div>
<p>&nbsp;</p>
<div align="center">
今日排名 第一 
<a href="http://s3.dlm.17uxi.cn/source/n.php?a=119&amp;id=15737" onclick="return show_popup(this);">
<font color="#0096f1">【膤】фの薔薇</font></a>经理 
<a href="http://s3.dlm.17uxi.cn/source/n.php?a=119&amp;id=15737" onclick="return show_popup(this);">
<font color="#0096f1">小雨酥</font></a> ，积分 110</div>
<div align="center">
<p>&nbsp;</p>
<p><img src="/site_media/images/jing_yi_chang.jpg"></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="btn_3 center">
<a href="{% url challenge-apply %}" onclick="return href_to_div(this,'main_content');">
 报名
</a>
</div>
<p>&nbsp;</p>现在有：13支球队</div>
</div>
{% endif %}	