{% extends "index.html" %}
{% block ext_head %}
 <script type="text/javascript" src="/site_media/js/challenge.js"></script>
{% endblock %}
{% block show_nav %}
<script language="javascript">
  sub_menu_highlight(4,3);
  nav_over('nav4','show4');
  nav_show('nav4','show4');
</script>
{% endblock %}
{% block sub_menu %}
<div class="players_lab">
 <ul>
 <li class="active" id="menu_third_1">
  <a href="{% url challenge-main-min %}" onclick="javascript:href_to_div(this,'main_content');third_menu_highlight(1);return false;">
  比赛中心
  </a>
</li>
<li class="" id="menu_third_2">
<a href="http://s3.dlm.17uxi.cn/source/n.php?a=603" onclick="javascript:href_to_div(this,'main_content');third_menu_highlight(2);return false;">
我的战绩
</a>
</li>
<li class="" id="menu_third_3">
<a href="http://s3.dlm.17uxi.cn/source/n.php?a=604" onclick="javascript:href_to_div(this,'main_content');third_menu_highlight(3);return false;">
今日排名
</a>
</li>
<li class="" id="menu_third_4">
<a href="http://s3.dlm.17uxi.cn/source/n.php?a=605" onclick="javascript:href_to_div(this,'main_content');third_menu_highlight(4);return false;">
历史排名
</a>
</li>
</ul>
</div><div class="clear"></div>				
{% endblock %}