{% load common_extras %}
<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<link href="/site_media/css/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<script type="text/javascript">

</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
}
-->
</style>
<body>
<table width="99%">
<tr>
<td width="60%" valign="top">
<TABLE width="99%" border=0 cellPadding=0 cellSpacing=0 class="player">
  <thead>
    <th>&nbsp;</th>
    <th>主场</th>
    <th>比分</th>
    <th>客场</th>
    <th>时间</th>
    <th class="right">操作</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr id="{{ info.id }}" no="{{ info.no }}">
        <td>{{ info.type }}</td>
        <td>{{ info.home_team_id|team_name }}</td>
        <td>
           {% if info.point %}
              {{ info.point }}
           {% else %}
              -- : --
           {% endif %}
        </td>
        <td>{{ info.guest_team_id|team_name }}</td>
        <td>{{ info.send_time }}</td>
        <td class="right">
           {% ifequal info.status 2 %}
               <a href="{% url match-stat %}?match_id={{info.id}}" target="_blank">比赛统计</a>
               <a href="{% url match-detail %}?match_id={{info.id}}" target="_blank">比赛战报</a>
           {% else %}
             {{info.status|match_status}}|<a class="edit_player">取消</a>
           {% endifequal %}
        </td>
       </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
</td>
<td class="detail_td">
<span id="play_detail" ></span>
</td>
</tr>
</table>
<div id="edit_player_dialog" class="flora" style="display: none;">
    <form id="edit_player_form">
        <input type="hidden" id="no"/>
    	<p>
    		<label>名字:</label>
			<span><input id="player_name" type="text"/></span>
	    </p>
	    <p>
            <label>号码:</label>
			<span>
			  <select name="player_no" id="player_no">
			  </select>
			</span>
	    </p>
	    <p>
			<label>位置:</label>
			<span>
			  <select name="position" id="position">
			    <option value="PG">组织后卫</option>
			    <option value="SG">得分后卫</option>
			    <option value="SF">小前锋</option>
			    <option value="PF">大前锋</option>
			    <option value="C">中锋</option>
			  </select>
			</span>
		</p>
		<p>
		  <input id="update_button" type="button" value="更新" />
		</p>
    </form>
</div>
</body>