{% load common_extras %}
<table class="list_table" width="100%" border="0" cellpadding="0" cellspacing="0">
<thead>
   <tr>
    <th>类别</th>
	<th>发起</th>
	<th>比分</th>
	<th>接收</th>
	<th>比赛</th>
	<th>时间</th>
    <th class="end_cell">操作</th>
  </tr>
</thead>
<tbody>
{% for info in infos %}
  <tr>
    <td>
        <font color="#ff0000">
        {% ifequal info.is_youth 0 %}
          职业
        {% else %}
          青年
        {% endifequal %}
        </font>
    </td>
    <td>
     <span class="blue">
     <a href="{% url user-detail %}?id={{info.home_team_id}}" onclick="return show_popup(this);">{{ info.home_team_id|team_name }}</a>
     </span>
    </td>
    <td>
       {{info|match_point}}
    </td>
    <td>
     <span class="blue">
     <a href="{% url user-detail %}?id={{info.guest_team_id}}" onclick="return show_popup(this);">{{ info.guest_team_id|team_name }}</a>
     </span>
    </td>
    <td>友谊赛</td>
    <td>
        <div id="yz_time_2">
           {{info|match_show_status|safe}}
        </div>
	</td>
    <td>
        {{info|match_status:info.id|safe}}
    </td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="blank10"></div>
<div class="mlr8 tr">
  {% ifequal page 1 %}
    首页
    上一页
  {% else %}
     <a onclick="return href_to_div(this,'main_content');" href="{% url friendly-match-min %}?page=1">首页</a>
     <a onclick="return href_to_div(this,'main_content');" href="{% url friendly-match-min %}?page={{prevpage}}">&lt;上一页</a>
  {% endifequal %}
  {% ifequal page totalpage %}
    下一页
    末页
  {% else %}
     <a onclick="return href_to_div(this,'main_content');" href="{% url friendly-match-min %}?page={{nextpage}}">下一页&gt;</a>
     <a onclick="return href_to_div(this,'main_content');" href="{% url friendly-match-min %}?page={{totalpage}}">末页</a>
  {% endifequal %}
  [共{{page}}/{{totalpage}}页]
</div>
<div class="blank10"></div>