{% load common_extras %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link media="all" href="/site_media/css/report.css" rel="stylesheet" type="text/css" />
<style media="all" type="text/css">
body/**/{
	font-family /* IE6不识别 */: 微软雅黑;
	_font-family:Georgia, "Times New Roman", Times, serif, Helvetica, simsun;
    }
</style>
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<title>比赛战报({{home_team_name }}--{{guest_team_name}})</title>
</head>
<body>
<div class="rs_div_body">
 <table cellspacing="0" cellpadding="0" border="0" class="rs_table_t1">
  <tbody>
   <tr>
    <td height="50">
	 <div class="rs_div_clubname">{{home_team_name}}</div>
	 <div class="rs_div_position">             
	 </div>
	</td>
	<td align="center" width="50">
	 <img height="46" width="46" src="http://match-3.xba.com.cn//images/club/logo/1.gif">
   </td>
   <td width="170" class="rs_div_score">67:91</td>
   <td align="center" width="50">
   <img height="46" width="46" src="http://match-3.xba.com.cn//images/club/logo/1.gif"></td>
   <td align="left"><div class="rs_div_clubnamea">{{guest_team_name}}</div>
   <div class="rs_div_position2">
   </div>
   </td>
   </tr>
 </tbody>
</table>
<div class="rs_div_zb">战报</div>
 {% for match_nodosity_main in match_nodosity_mains %}
   <div>
     <div class="rs_div_match" style="float: left;">  {{match_nodosity_main.seq|match_sub_status}}</div>
     <div style="float: left; padding-left: 10px;"> {{match_nodosity_main.point}}</div>
   </div>
  <table cellspacing="0" cellpadding="0" border="0" class="rs_table_match">
     <tbody>
      <tr>
       <td>
          <div class="rs_div_v1">{{home_team_name }}</div>
          <div class="rs_div_v2">{{match_nodosity_main.home_offensive_tactic|tactical}}　{{match_nodosity_main.home_defend_tactic|tactical}}</div>
       </td>        
       <td>
          <div class="rs_div_v1">{{guest_team_name }}</div>
          <div class="rs_div_v2">{{match_nodosity_main.guest_offensive_tactic|tactical}}　{{match_nodosity_main.guest_defend_tactic|tactical}}</div>
       </td>
     </tr>
    </tbody>
   </table> 
  <div class="rs_div_m1">
   <table cellspacing="0" cellpadding="0" border="0" class="rs_table_m1">
    <tbody>
	 <tr align="center" class="rs_table_m1head">
	 <td style="padding: 0pt 0pt 0pt 20px; width: 30px;">
	 </td>
	 <td style="width: 90px; text-align: left;">球员</td>
     <td width="40">号码</td>
	 <td width="40">年龄</td>
	 <td width="40">身高</td>
	 <td width="40">体重</td>
	 <td width="40">体力</td>
	 <td width="40">综合</td>
	 <td>&nbsp;</td>
	</tr>
	<tr align="center">
	<td>[c]</td>
	<td style="text-align: left;">
	  <u>{{match_nodosity_main.CA.player_name}}</u>
	</td>
	<td>{{match_nodosity_main.CA.no}}</td>								
	<td>{{match_nodosity_main.CA.age}}</td>								
	<td>{{match_nodosity_main.CA.stature}}</td>								
	<td>{{match_nodosity_main.CA.avoirdupois}}</td>								
	<td>{{match_nodosity_main.CA.power}}</td>								
	<td>{{match_nodosity_main.CA.ability}}</td>		                        
	<td>&nbsp;</td>							
	</tr>					
	<tr align="center">								
	<td>[pf]</td>								
	<td style="text-align: left;"><u>{{match_nodosity_main.PFA.player_name}}</u></td>								
	<td>{{match_nodosity_main.PFA.no}}</td>								
	<td>{{match_nodosity_main.PFA.age}}</td>								
	<td>{{match_nodosity_main.PFA.stature}}</td>								
	<td>{{match_nodosity_main.PFA.avoirdupois}}</td>								
	<td>{{match_nodosity_main.PFA.power}}</td>								
	<td>{{match_nodosity_main.PFA.ability}}</td>		                        
	<td>&nbsp;</td>								
	</tr>					
	<tr align="center">								
	<td>[sf]</td>								
	<td style="text-align: left;"><u>{{match_nodosity_main.SFA.player_name}}</u></td>								
	<td>{{match_nodosity_main.SFA.no}}</td>								
	<td>{{match_nodosity_main.SFA.age}}</td>								
	<td>{{match_nodosity_main.SFA.stature}}</td>								
	<td>{{match_nodosity_main.SFA.avoirdupois}}</td>								
	<td>{{match_nodosity_main.SFA.power}}</td>								
	<td>{{match_nodosity_main.SFA.ability}}</td>		                        
	<td>&nbsp;</td>						
	</tr>					
	<tr align="center">
	<td>[sg]</td>
	<td style="text-align: left;"><u>{{match_nodosity_main.SGA.player_name}}</u></td>								
	<td>{{match_nodosity_main.SGA.no}}</td>								
	<td>{{match_nodosity_main.SGA.age}}</td>								
	<td>{{match_nodosity_main.SGA.stature}}</td>								
	<td>{{match_nodosity_main.SGA.avoirdupois}}</td>								
	<td>{{match_nodosity_main.SGA.power}}</td>								
	<td>{{match_nodosity_main.SGA.ability}}</td>		                        
	<td>&nbsp;</td>	
	</tr>
	<tr align="center">
	<td>[pg]</td>
	<td style="text-align: left;"><u>{{match_nodosity_main.PGA.player_name}}</u></td>								
	<td>{{match_nodosity_main.PGA.no}}</td>								
	<td>{{match_nodosity_main.PGA.age}}</td>								
	<td>{{match_nodosity_main.PGA.stature}}</td>								
	<td>{{match_nodosity_main.PGA.avoirdupois}}</td>								
	<td>{{match_nodosity_main.PGA.power}}</td>								
	<td>{{match_nodosity_main.PGA.ability}}</td>		                        
	<td>&nbsp;</td>								
	 </tr>				
	 </tbody>
	 </table>
	 <table cellspacing="0" cellpadding="0" border="0" class="rs_table_m1">    
	 <tbody><tr align="center" class="rs_table_m1head">		
	 <td>&nbsp;</td>       
	 <td style="padding: 0pt 0pt 0pt 20px; width: 30px;"></td>        
	 <td style="width: 90px; text-align: left;">球员</td>        
	 <td width="40">号码</td>        
	 <td width="40">年龄</td>
	 <td width="40">身高</td>
	 <td width="40">体重</td>
	 <td width="40">体力</td>	
	 <td width="40">综合</td>  
	 </tr>			
	 <tr align="center">	
	 <td>&nbsp;</td>		
	 <td height="25">[c]</td>	
	<td style="text-align: left;">{{match_nodosity_main.CB.player_name}}</td>								
	<td>{{match_nodosity_main.CB.no}}</td>								
	<td>{{match_nodosity_main.CB.age}}</td>								
	<td>{{match_nodosity_main.CB.stature}}</td>								
	<td>{{match_nodosity_main.CB.avoirdupois}}</td>								
	<td>{{match_nodosity_main.CB.power}}</td>								
	<td>{{match_nodosity_main.CB.ability}}</td>		                        
	<td>&nbsp;</td>						
	 </tr>				
	 <tr align="center">	
	 <td>&nbsp;</td>		
	 <td height="25">[pf]</td>	
	 <td style="text-align: left;">{{match_nodosity_main.PFB.player_name}}</td>								
	 <td>{{match_nodosity_main.PFB.no}}</td>								
	 <td>{{match_nodosity_main.PFB.age}}</td>								
	 <td>{{match_nodosity_main.PFB.stature}}</td>								
	 <td>{{match_nodosity_main.PFB.avoirdupois}}</td>								
	 <td>{{match_nodosity_main.PFB.power}}</td>								
	 <td>{{match_nodosity_main.PFB.ability}}</td>		                        
	 <td>&nbsp;</td>						
	 </tr>				
	 <tr align="center">	
	 <td>&nbsp;</td>			
	 <td height="25">[sf]</td>		
	 <td style="text-align: left;">{{match_nodosity_main.SFB.player_name}}</td>								
	 <td>{{match_nodosity_main.SFB.no}}</td>								
	 <td>{{match_nodosity_main.SFB.age}}</td>								
	 <td>{{match_nodosity_main.SFB.stature}}</td>								
	 <td>{{match_nodosity_main.SFB.avoirdupois}}</td>								
	 <td>{{match_nodosity_main.SFB.power}}</td>								
	 <td>{{match_nodosity_main.SFB.ability}}</td>		                        
	 <td>&nbsp;</td>					
	 </tr>				
	 <tr align="center">	
	 <td>&nbsp;</td>		
	 <td height="25">[sg]</td>	
	 <td style="text-align: left;">{{match_nodosity_main.SGB.player_name}}</td>								
	 <td>{{match_nodosity_main.SGB.no}}</td>								
	 <td>{{match_nodosity_main.SGB.age}}</td>								
	 <td>{{match_nodosity_main.SGB.stature}}</td>								
	 <td>{{match_nodosity_main.SGB.avoirdupois}}</td>								
	 <td>{{match_nodosity_main.SGB.power}}</td>								
	 <td>{{match_nodosity_main.SGB.ability}}</td>		                        
	 <td>&nbsp;</td>			
	 </tr>					
	 <tr align="center">	
	 <td>&nbsp;</td>			
	 <td height="25">[pg]</td>
	 <td style="text-align: left;">{{match_nodosity_main.PGB.player_name}}</td>								
	 <td>{{match_nodosity_main.PGB.no}}</td>								
	 <td>{{match_nodosity_main.PGB.age}}</td>								
	 <td>{{match_nodosity_main.PGB.stature}}</td>								
	 <td>{{match_nodosity_main.PGB.avoirdupois}}</td>								
	 <td>{{match_nodosity_main.PGB.power}}</td>								
	 <td>{{match_nodosity_main.PGB.ability}}</td>		                        
	 <td>&nbsp;</td>			
	 </tr>				
	 </tbody>
	 </table>
	</div>
    <table cellspacing="0" cellpadding="0" border="0" class="rs_table_m2">
	  <tbody>
	   <tr align="center" class="rs_table_m2head">
	    <td height="25" width="80">时间</td>
	    <td width="70">主：客</td>
	    <td>描 述</td>
	   </tr>
      {% for detail in match_nodosity_main.details %}
        <tr onmouseout="this.style.backgroundColor=''" onmouseover="this.style.backgroundColor='#fff'" style="">	
        {% if detail.is_new_line %}
         <td height="25" align="center" style="font-size: 12px;">{{ detail.time_msg }}</td>		
		 <td align="center">{{ detail.point_msg }}</td>		
        {% else %}
         <td height="25" align="center" style="font-size: 12px;">&nbsp;</td>	
         <td align="center">&nbsp;</td>		
        {% endif %}	
		<td style="padding: 4px; text-align: left;">{{ detail.description }}</td>
		</tr>
      {% endfor %}
        </tbody>
   </table>
  {% endfor %}
</div>
</body>
</html>