{% load common_extras %}
<script>
     
    tactical_check = function(myform){
      return submit_to_div(myform,'popup_inner');
    }
    
</script>
 <form id="submitform" style="display:block;" name="submitform" action="{% url profession-tactical %}" method="post" onsubmit="return tactical_check(this);">
<table cellspacing="0" cellpadding="0" border="0" width="100%" class="list_table">
  <thead>
  <tr>
       <th>&nbsp;</th>
       <th>职业联赛</th>
       <th>杯赛</th>
       <th>其它比赛</th>
   </tr>
  </thead>
  <tbody>
   {% for section in sections %}
     <tr>
       <td>{{ section|section_name }}</td>
       <td>
          <select name='profession{{section}}' id="profession{{section}}">
            {% for tactical_detail in tactical_details %}
                   <option value="{{ tactical_detail.id }}" {% ifequal tactical_detail.id match_type_1.section_ %}selected=true{% endifequal %}>{{ tactical_detail.name }}</option>
            {% endfor %}
          </select>
       </td>
       <td>
          <select name="cup{{section}}" id="cup{{section}}">
            {% for tactical_detail in tactical_details %}
              <option value="{{ tactical_detail.id }}" {% ifequal tactical_detail.id match_type_2.section_ %}selected=true{% endifequal %}>{{ tactical_detail.name }}</option>
            {% endfor %}
          </select>
       </td>
       <td>
           <select name="others{{section}}" id="others{{section}}">
            {% for tactical_detail in tactical_details %}
              <option value="{{ tactical_detail.id }}" {% ifequal tactical_detail.id match_type_3.section_ %}selected=true{% endifequal %}>{{ tactical_detail.name }}</option>
            {% endfor %}
          </select>
       </td>
     </tr>
     {% endfor %}
     <tr>
       <td colspan="4" class="right"><input name="savesubmit" value="保存设置" class="btn_5" type="submit"></td>
     </tr>
    </tbody>
</table>
</form>