{% extends "admin/master.html" %}
{% load common_extras %}
{% block head_ext %}
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">
     
  service = new rpc.ServiceProxy("/services/admin/", {asynchronous:false, methods: ['set_article_status', 'delete_article',]});
       
  $(document).ready(function(){
   
   
	genPageLinks({{total}}, {{pagesize}});
	 
	$('.category').click(function(){
		 var category = $(this).attr('category');
		 var url = "{% url article-list %}?category=" + category;
		 window.location = url;
	});
	 
	 $(".category").each(function(){
	    if($(this).attr("category") == "{{category}}"){
		   $(this).attr("disabled", "disabled");
		}
	});
	
	$('a.delete').click(function() {
		var id = $(this).parent().parent().attr('id');
		if (confirm("确定删除吗?")){
		    service.delete_article(id);
			window.location = window.location;
		}
	});
	
	$('a.publish').click(function() {
	    var id = $(this).parent().parent().attr('id');
		var status = $(this).parent().parent().attr('status');
		var msg = "确定要发布吗?";
	    if(status == 0){
	       status = 1;
	    }else{
	       status = 0;
	       msg = "确定要取消发布吗?";
	    }
		if (confirm(msg)){
		    service.set_article_status(id, status);
			window.location = window.location;
		}
	});
	 
	 
	$('input.add').click(function(){
        window.location = "{% url create-article %}";
	});
  });
  
</script>
{% endblock %}
{% block title %}文章管理{% endblock %}
{% block content %}
<input type="button" class="add" value="添加文章"/><br/>
<input type="button" class="category" category="notice" value="游戏公告" />
<input type="button" class="category" category="strategy" value="游戏攻略" />
<input type="button" class="category" category="guide" value="新手指南" />
<input type="button" class="category" category="experience" value="玩家经验" />
<input type="button" class="category" category="nba" value="nba新闻" />
<table cellspacing="1" class="tablesorter">
  <thead>
    <th>ID</th>
    <th>状态</th>
    <th>标题</th>
    <th>关键字</th>
    <th>简介</th>
    <th>创建时间</th>
    <th>编辑</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr id="{{ info.id }}" status={{ info.status }}>
         <td>{{ info.id }}</td>
         <td>{{ info.status|article_status|safe }}</td>
         <td>{{ info.title }}</td>
         <td>{{ info.keyword }}</td>
         <td>{{ info.summary }}</td>
         <td>{{ info.created_time }}</td>
         <td>
            <a href="{% url create-article %}?id={{info.id}}" class="assign">编辑</a>
            |
            <a href="#" class="delete">删除</a>
            |
            {% ifequal info.status 0 %}
             <a href="#" class="publish">发布</a>
            {% else %}
             <a href="#" class="publish">取消发布</a>
            {% endifequal %}
         </td>
       </tr>
      {% endfor %}
    {% endif %}
     <tr style="display:none"><td id="pageLink" colspan="12"></td></tr>
  </tbody>
</table>
{% endblock %}