{% extends "master.html" %}
{% load common_extras %}
{% block keyword %}{{article.keyword}}{% endblock %}
{% block description %}{{article.title}}{% endblock %}
{% block head_ext %}
<link href="/site_media/css/list.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}
{% block title %}{{article.title}}{% endblock %}
{% block content %}
<td valign="top" align="left">
    <div class="content">
       <h1>{{article.title}}</h1>
       <div class="Gray4 f14">
         {{article.content|safe}}
       </div>
       <div style="margin-top:50px;">
       <p>评论:</p>
         <form action="{% url comment %}" method="post">
            <input type="hidden" value="{{article.id}}" name="id"/>
            <input type="hidden" value="{{article.category}}" name="category"/>
            <p><span style="width:30px;">用户:</span>&nbsp;&nbsp;&nbsp;&nbsp;<span><input type="text" name="username" value="无道xba玩家"/></span></p>
            <p>我想说:
              <textarea rows="8" cols="80" name="content"></textarea>
            </p>
            <p><input type="submit" value="发我的看法"></p>
         </form>
       </div>   
      <div class="comment_list">
        {% for comment in comment_list %}
           <p style="line-height:10px;margin-top:5px;">用户:{{comment.username}}  回复时间:{{comment.created_time}}</p>
           <p style="margin-top:10px;">{{comment.content}}</p>
           <p style="margin-top:10px;">------------------------------------------------------------------------------------</p>
        {% endfor %}
      </div>    
       <div style="margin-top:50px;">
         {% if prev %}
          上一篇: <a href="/article/{{ prev.category }}/detail/{{ prev.id }}.html" target="_blank" title="{{ prev.title }}">{{ prev.title }}</a><br/>
         {% endif %}
          {% if next %}
          下一篇: <a href="/article/{{ next.category }}/detail/{{ next.id }}.html" target="_blank" title="{{ next.title }}">{{ next.title }}</a><br/>
         {% endif %}
       </div>
       <div style="margin-top:50px;">
       相关文章<br/>
       {% for info in sub_list %}
         <a href="/article/{{ info.category }}/detail/{{ info.id }}.html" target="_blank" title="{{ info.title }}">{{ info.title }}</a><br/>
       {% endfor %}
       </div>
    </div>
</td>
{% endblock %}



