{% load common_extras %}
<div class="lh30 mlr8"></div>
<table class="list_table" width="100%" border="0" cellpadding="0" cellspacing="0">
 <thead>
  <tr>
	<th>姓名</th>
	<th>年龄</th>
	<th>位置</th>
	<th>体质</th>
	<th>市场</th>
	<th>综合</th>
	<th>次数</th>
	<th>买主</th>
	<th>剩余出价时间</th>
	<th class="end_cell">操作</th>
 </tr>
</thead>
<tbody>
{% for info in infos %}
<tr>
<td>
<a href="{% url player-detail %}?no={{info.no}}&type={% ifequal info.type 1%}1{%endifequal%}{% ifequal info.type 2%}4{%endifequal%}{% ifequal info.type 3%}5{%endifequal%}" onclick="return show_popup(this)" title="">
<font color="#0096f1">{{info.name}}</font></a></td>
<td>{{info.age}}</td>
<td>{{info.position}}</td>
<td>{{ info.stature }}CM | {{ info.avoirdupois }}KG</td>
<td>
   {% ifequal info.type 1 %}
       职
   {% else %}
      {% ifequal info.type 2 %}
         青
      {% else %}
         秀
      {% endifequal %}
   {% endifequal %}
</td>
<td><font color="#0096f1">{{info.ability|format_number}}</font></td>
<td>{{ info.bid_count }}</td>
<td>
  {% ifequal info.type 1%}
       {{ info.current_price }}/
       {% if info.current_team_id %}
         <a href="{% url user-detail %}?id={{info.current_team_id}}" onclick="return show_popup(this);">
         <font color="#0096f1">{{ info.current_team_id|nickname}}</font>
         </a>
       {% else %}
         --
       {% endif %} 
  {% else %}
       隐藏
  {% endifequal %}
</a>
</td>
<td>
  {% ifequal info.auction_status 0%}
    <div id="time_1">{{ info.lave_time|format_lave_time }}</div>
  {% else %} 
    {% ifequal info.auction_status 1%}
     <font color="#0096f1">
      {{info.current_price}}/
        <a href="{% url user-detail %}?id={{info.team_id}}" onclick="return show_popup(this)" title="">
           <font color="#0096f1">{{info.current_team_id|nickname}} </font>
        </a>
      </font>
    {% else %}
        不成交
    {% endifequal %}
  {% endifequal %}   
<input id="value_1" value="85678" type="hidden"></td>
<td>
 {% ifless info.lave_time 0 %}
     
 {% else %}
     {% ifequal info.type 1%}
        <a href="{% url free-player-bid %}?no={{info.no}}" onclick="return show_popup(this)">
           <font color="#0096f1">出价</font>
        </a>
     {% else %}
          {% ifequal info.type 2%}
            <a href="{% url youth-free-player-bid %}?no={{info.no}}" onclick="return show_popup(this)">
              <font color="#0096f1">出价</font>
            </a>
          {%else%}
            <a href="{% url youth-free-player-bid %}?no={{info.no}}" onclick="return show_popup(this)">
              <font color="#0096f1">试训</font>
            </a>
          {% endifequal %}
     {% endifequal %}
     <a href="{% url remove-attention-player %}?no={{info.no}}" onclick="return show_popup(this)">
        <font color="#0096f1">取消</font>
     </a>
 {% endifless %}
</td>
</tr>
{% endfor %}
</tbody>
</table>
<div></div>
<div class="blank10"></div>
<div class="blank10"></div>
<font color="brown"><div align="center">可利用资金：{{team.funds}}</div></font>