{% load common_extras %}
<div class="floatBox_content">
	<div class="floatBox_content_l">
		<div class="head_img"><img src="/site_media/images/tou_xiang/C.gif" width="83" height="123" alt="" /></div>
		<div class="blank10"></div>
		<div></div>
	</div>
	<div class="floatBox_content_r blue">
		<h2><div style="display:block;clear:both"><span class="i_smile"></span><span style="display:inline;float:left">{{player.name}}</span></div></h2>
		<ul>
		<li>
		年龄	<span class='blue'><a title='第{{player.birthday}}轮生日'  style='CURSOR:hand'>{{player.age}}</a></span>
		位置 <span class="blue">
		<a title='{{player.position|position}}' style='CURSOR:hand'>{{player.position}}</a></span><br />
		身高  <span class="blue">{{player.stature}}CM</span><br />
		体重  <span class="blue">{{player.avoirdupois}}KG</span><br />
		体力  <span class="green">{{player.power}}</span><br />
		综合  <span class="blue">{{player.ability|format_number}}</span><br />
		{% if player.wage %}
		 薪水  <span class="blue">{{player.wage}}</span>
		{% endif %}
		</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div style='width:100%'>
	</div>
	<div class="clear"></div>
	<div class="training_box1" id="tab1_1">
		<ul>
		<li class="gray l_title">速度</li>
		<li class="c_bar">
			<div class="scroll"><img src="/site_media/images/qiu_yuan/Color0.gif" height="8" width="{{player.speed|format_number}}" alt="" /></div>
		</li>
		<li class="r_value"><font color='#666666'>5</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">弹跳</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.bounce|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.bounce|format_number}}</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">强壮</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.strength|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.strength|format_number}}</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">耐力</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.stamina|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.stamina|format_number}}</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">投篮</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.shooting|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.shooting|format_number}}</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">三分</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.trisection|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.trisection|format_number}}</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">运球</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.dribble|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.dribble|format_number}}</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">传球</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.pass|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.pass|format_number}}</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">篮板</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.backboard|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.backboard|format_number}}</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">抢断</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.steal|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.steal|format_number}}</font></li>
		</ul><div class="clear"></div>
		<ul>
		<li class="gray l_title">封盖</li>
		<li class="c_bar">
			<div class="scroll"><img src='/site_media/images/qiu_yuan/Color0.gif' width='{{player.blocked|format_number}}' height='8'></div>
		</li>
		<li class="r_value"><font color='#666666'>{{player.blocked|format_number}}</font></li>
		</ul><div class="clear"></div>
  </div>  
	<div class="blank10"></div>
	{% if url %}
	 <div align="center"><a onclick="return href_to_div(this,'popup_inner');" href="{{url}}?id={{from_id}}"><font color="#0096f1">返回</font></a></div>
    {% endif %}
</div>