{% load common_extras %}
<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<link href="/site_media/css/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">

	  $(document).ready(function(){
	    
		 $('a.player_name').click(function() {
		     var id = $(this).parent().parent().attr('no');
		     $.ajax({
			    url: '{% url freeplayer-detail %}?no=' + id,
			    type: 'get',
			    datatype: 'html',
			    timeout: 1000,
			    error: function(error){
			        alert(error.info);
			    },
			    success: function(html){
			        $('#play_detail').html(html);
			    }
			});
		 });
	  });
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #eef2fb;
}
-->
</style>
<body>
<div id="left">
<table width="99%" border=0 cellpadding=0 cellspacing=0 id=sectable>
    <tbody>
      <tr align=middle height=20>
        <td align="center" class="{% ifequal position 'c' %}sec2{% else %}sec1{% endifequal %}"><a href="{% url free-players %}?position=c">中锋<a></td>
        <td align="center" class="{% ifequal position 'pf' %}sec2{% else %}sec1{% endifequal %}"><a href="{% url free-players %}?position=pf">大前锋<a></td>
        <td align="center" class="{% ifequal position 'sf' %}sec2{% else %}sec1{% endifequal %}"><a href="{% url free-players %}?position=sf">小前锋<a></td>
        <td align="center" class="{% ifequal position 'sg' %}sec2{% else %}sec1{% endifequal %}"><a href="{% url free-players %}?position=sg">得分后卫<a></td>
        <td align="center" class="{% ifequal position 'pg' %}sec2{% else %}sec1{% endifequal %}"><a href="{% url free-players %}?position=pg">控球后卫<a></td>
      </tr>
    </tbody>
</table>
<table width="99%" border=0 cellpadding=0 cellspacing=0 class="free_player">
  <thead>
    <th class="left">名字</th>
    <th><a href="{% url free-players %}?position={{ position }}&order_by=age&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}">年龄<a></th>
    <th><a href="{% url free-players %}?position={{ position }}&order_by=stature&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}">身高</a></th>
    <th><a href="{% url free-players %}?position={{ position }}&order_by=avoirdupois&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}">体重</th>
    <th>综合</th>
    <th>次数</th>
    <th>买主</th>
    <th>剩余时间</th>
    <th class="right">操作</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr no="{{ info.no }}">
        <td class="left name"><a class="player_name">{{ info.name }}</a></td>
        <td class="number">{{ info.age }}</td>
        <td class="number">{{ info.stature }}</td>
        <td class="number">{{ info.avoirdupois }}</td>
        <td class="number">{{ info.ability|format_number }}</td>
        <td class="number">{{ info.bid_count }}</td>
        <td>
           {{ info.current_price }}/
           {% if info.current_team_id %}
              {{ info.current_team_id|team_username}}
           {% else %}
              --
           {% endif %}
        </td>
        <td>{{ info.lave_time }}</td>
        <td class="right">
          <a>出价</a>|
          <a>关注</a>
        </td>
       </tr>
      {% endfor %}
      <tr>
        <td colspan="9" class="right">
          共{{page}}/{{totalpage}}页
          {% ifequal page 1 %}
            首页
            上一页
          {% else %}
             <a href="{% url free-players %}?page=1&position={{position}}&order={{order}}&order_by={{order_by}}">首页</a>
             <a href="{% url free-players %}?page={{prevpage}}&position={{position}}&order={{order}}&order_by={{order_by}}">上一页</a>
          {% endifequal %}
          {% ifequal page totalpage %}
            末页
            下一页
          {% else %}
             <a href="{% url free-players %}?page={{totalpage}}&position={{position}}&order={{order}}&order_by={{order_by}}">末页</a>
             <a href="{% url free-players %}?page={{nextpage}}&position={{position}}&order={{order}}&order_by={{order_by}}">下一页</a>
          {% endifequal %}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
</div>
<div id="side"><span id="play_detail" ></span></div>
</body>