{% load common_extras %}
<form name='frm' action='{% url free-player-bid %}' method='post' onsubmit="return check_form_bid(this);">
<div class="floatBox_sms">
	<div><img src="/site_media/images/w_blank/blank_2_12.gif" width="91" height="70" alt="" /></div>
	<div class="blank20"></div>
	<div class="blank10"></div>
	<p class="lh21">{{team.id|nickname}}经理，此次竞拍您至少需要出价{{ min_price }}</p>
	<div class="h25"></div>
	<div><span class="blue lh21 left">拍卖价格：
	</span><input name="price" id="price" type="text" class="in1" onfocus="this.className='in2';" onblur="this.className='in1';" />

	</div>
	<font color='red'><div id='notice'></div></font>
	<input type='hidden' name='min_price' id='min_price' value='{{min_price}}'>
	<input type='hidden' name='no' id='no' value='{{no}}'>
	<input type='hidden' name='funds' id='funds' value='{{team.funds}}'>
	<div class="blank10"></div>
	<div class="blank10"></div>
	<div class="blank10"></div>
	<div class="blank10"></div>
	<div class="floatBox_sms_btn">
		<div class="left"><input type="Submit" name="Submit" value="确定" class="btn_3"></div>
		<div class="btn_3 right"><a href="#" onclick="return hide_popup();">取消</a></div>
	</div>
	<div class="clear"></div>
	<div class="blank10"></div>
</div>
</form>