{% extends "master.html" %}
{% load common_extras %}
{% block title %}free player{% endblock %}
{% block head_ext %}
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
	 $('a.view_player').click(function() {
	     var id = $(this).parent().parent().attr('id');
	     $.ajax({
		    url: '{% url freeplayer-detail %}?id=' + id,
		    type: 'GET',
		    dataType: 'html',
		    timeout: 1000,
		    error: function(error){
		        alert(error);
		    },
		    success: function(html){
		        $('#play_detail').html(html);
		    }
		});
	 });
  });
</script>
{% endblock %}
{% block content %}
<a href="{% url free-players %}?position=C">C</a>
<a href="{% url free-players %}?position=PF">PF</a>
<a href="{% url free-players %}?position=SF">SF</a>
<a href="{% url free-players %}?position=SG">SG</a>
<a href="{% url free-players %}?position=PG">PG</a>
<table>
<tr>
  <td width="650"> 
<table cellspacing="1" class="tablesorter">
	<thead>
	<tr>
	    <th>no</th>
	    <th>position</th>
	    <th>name</th>
	    <th>age</th>
	    <th>stature</th>
		<th>avoirdupois</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	{% if infos %}
	  {% for info in infos %}
	    <tr id="{{ info.id }}">
	     <td> 
	      {{ info.player_no }}
	     </td>
	     <td>{{ info.position }}</td>
	     <td> 
	      <a href="#" class="view_player">{{ info.name }}</a>
	     </td>
	     <td> 
	      {{ info.age }}
	     </td>
	     <td> 
	        {{ info.stature }}
	     </td>
	     <td> {{ info.avoirdupois }}</td>
	     <td> 
         
	     </td>
	    </tr> 
	  {% endfor %}
	  <tr>
		<td colspan="7">
		总{{ page }}/{{ totalpage }}页
		{% ifnotequal page 1 %}
		 <a href="?page=1&type={{type}}">首页</a>
		 <a href="?page={{prevpage}}&type={{type}}">上一页</a>
		{% else %}
		首页
		上一页
		{% endifnotequal %}
		{% ifnotequal page totalpage %}
		 <a href="?page={{nextpage}}&type={{type}}">下一页</a>
		 <a href="?page={{totalpage}}&type={{type}}">尾页</a>
	    {% else %}
	           下一页
	           末页
	    {% endifnotequal %}
	    </td>
	</tr>
	{% else %}
	<tr>
		<td colspan="7">暂无数据.</td>
	</tr>
	{% endif %}
	</tbody>
</table>
</td>
<td>
  <div id="play_detail">
  
  </div>
</td>
</tr>
</table>

{% endblock %}