{% load common_extras %}
<script language="javascript" src="i4.php_files/zhuan_hui.js"></script>
<div class="lh30 mlr8">
{% ifequal position 'c' %}
 <font color="red">中锋 C</font>
{% else %}
<a href="{% url free-players-min %}?position=c" onclick='return href_to_div(this,"main_content")'>中锋 C</a>
{% endifequal %}
|
{% ifequal position 'pf' %}
 <font color="red">大前 PF</font>
{% else %}
<a href="{% url free-players-min %}?position=pf" onclick='return href_to_div(this,"main_content")'>大前 PF</a>
{% endifequal %}
| 
{% ifequal position 'sf' %}
 <font color="red">小前 SF</font>
{% else %}
<a href="{% url free-players-min %}?position=sf" onclick='return href_to_div(this,"main_content")'>小前 SF</a>
{% endifequal %}
| 
{% ifequal position 'sg' %}
 <font color="red">分卫 SG</font>
{% else %}
<a href="{% url free-players-min %}?position=sg" onclick='return href_to_div(this,"main_content")'>分卫 SG</a>
{% endifequal %}
| 
{% ifequal position 'pg' %}
 <font color="red">控卫 C</font>
{% else %}
<a href="{% url free-players-min %}?position=pg" onclick='return href_to_div(this,"main_content")'>控卫 PG</a>
{% endifequal %}
</div>
<table class="list_table" width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
 <th>姓名</th>
 <th>
  <a href="{% url free-players-min %}?position={{ position }}&order_by=age&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
  <font color="#0096f1">年龄</font></a></th>
  <th>位置</th>
  <th><a href="{% url free-players-min %}?position={{ position }}&order_by=stature&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
  <font color="#0096f1">身高</font></a></th>
  <th><a href="{% url free-players-min %}?position={{ position }}&order_by=avoirdupois&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
  <font color="#0096f1">体重</font></a></th>
  <th><a href="{% url free-players-min %}?position={{ position }}&order_by=ability&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
  <font color="#0096f1">综合</font></a></th>
  <th>次数</th>
  <th>买主</th>
  <th><a href="{% url free-players-min %}?position={{ position }}&order_by=expired_time&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
  <font color="#0096f1">剩余出价时间</font></a></th>
  <th class="end_cell">操作</th>
</tr>
{% for info in infos %}
<tr>
<td><a href="{% url free-player-detail %}?no={{info.no}}" onclick="return show_popup(this)" title="{{info.name}}">
 <font color="#0096f1">{{ info.name }}</font></a>
</td>
 <td>{{ info.age }}</td>
 <td>{{ info.position }}</td>
 <td>{{ info.stature}}</td>
 <td>{{ info.avoirdupois }}</td>
 <td><font color="#ff8000">{{ info.ability|format_number}}</font></td>
 <td>{{ info.bid_count }}</td>
 <td>
   {{ info.current_price }}/
   {% if info.current_team_id %}
       <a href="{% url user-detail %}?id={{info.current_team_id}}" onclick="return show_popup(this);">
       <font color="#0096f1">{{ info.current_team_id|team_username}}</font>
       </a>
   {% else %}
      --
   {% endif %} 
 </td>
  <td><div id="time_1">{{ info.lave_time|format_lave_time }}</div>
	<input id="value_1" value="2548" type="hidden"></td>
  <td>
  {% ifless info.lave_time 0 %}
     {% ifequal info.auction_status 1 %}
       <a>成交详情</a>
     {% else %}
          {% ifequal info.auction_status 2 %}
            未成交
          {% else %}
            结算中
          {% endifequal %}
     {% endifequal %}
  {% else %}
  <a href="{% url free-player-bid %}?no={{info.no}}" onclick="return show_popup(this)">
    <font color="#0096f1">出价</font>
  </a>
  |
  <a href="{% url add-attention-player %}?no={{info.no}}&type=1" onclick="return show_popup(this)">
   <font color="#0096f1">关注</font>
  </a>
  {% endifless %}
 </td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="blank10"></div>
<div class="mlr8 tr">
{% ifequal page 1 %}
    首页
    上一页
{% else %}
     <a href="{% url free-players-min %}?page=1" onclick="return href_to_div(this,'main_content');">首页</a>
     <a href="{% url free-players-min %}?page={{prevpage}}" onclick="return href_to_div(this,'main_content');">&lt;上一页</a>
{% endifequal %}
{% ifequal page totalpage %}
    下一页
    末页
{% else %}
     <a href="{% url free-players-min %}?page={{nextpage}}" onclick="return href_to_div(this,'main_content');">下一页&gt;</a>
     <a href="{% url free-players-min %}?page={{totalpage}}" onclick="return href_to_div(this,'main_content');">末页</a>
{% endifequal %}
[第{{page}}/{{totalpage}}页]
</div>
<div class="blank10"></div>
<div class="blank10"></div>
<font color="brown"><div align="center">可利用资金：{{team.funds}}</div></font