{% load common_extras %}
<div class="floatBox_content">
		<div class="floatBox_content_l">
			<div class="head_img"><img src="/site_media/images/tou_xiang/SG.gif" width="83" height="123" alt="" /></div>
		</div>
		<div class="floatBox_content_r blue">
			<h2>
			 <div style="display:block;clear:both">
			  <span class="i_smile"></span>
			  <span style="display:inline;float:left">{{ player.name }}</span>
			 </div>
			</h2>
			<ul>
			<li>
			年龄	<span class='blue'><a title='第6轮生日'  style='CURSOR:hand'>{{player.age}}</a></span>
			 <!-- <a title='球龄' style="CURSOR: hand">[]</a> --><br />
			位置  <span class="blue"><a title='分卫' style='CURSOR:hand'>SG</a></span><br />
			身高  <span class="blue">{{player.stature}}CM</span><br />
			体重  <span class="blue">{{player.avoirdupois}}KG</span><br />
			体力  <span class="green">{{player.power}}</span><br />
			综合  <span class="blue">{{player.ability|format_number}}</span><br />
			</li>
			</ul>
			<div class="clear"></div>
		</div>
		<div style='width:100%'>
		</div>
<div class="clear"></div>
<div class="mauto">
</div>  
<div class="clear"></div>
<div class="blank5"></div>
<div class="floatBox_nav blue">
	<span class="tshirt_icon"><img src='/site_media/images/qiu_yuan/{{player.player_no}}.gif' width="16" height="19" /></span>
	<span class="active" id="wz1_1" onclick="show_s_table(1,1,3)">能力</span> | 
	<span id="wz1_2" onclick="show_s_table(1,2,3)">统计</span> | 
	<span id="wz1_3" onclick="show_s_table(1,3,3)">修改</a></span> 
</div>    
<div class="blank10"></div> 
		<!--能力-->
		<div class="training_box1" id="tab1_1">
			<ul>
			<li class="gray l_title">速度</li>
			<li class="c_bar">
				<div class="scroll"><img src="/site_media/images/qiu_yuan/color{{player.speed_oten|check_attr}}.gif" height="8" width="{{player.speed}}" alt="" /></div>
			</li>
			<li class="r_value"><font color='black'>{{player.speed|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">弹跳</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.bounce_oten|check_attr}}.gif' width='{{player.bounce}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.bounce|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">强壮</li>
			<li class="c_bar">

				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.strength_oten|check_attr}}.gif' width='{{player.strength}}' height='8'></div>
			</li>
			<li class="r_value"><font color='#666666'>{{player.strength|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">耐力</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.stamina_oten|check_attr}}.gif' width='{{player.stamina}}' height='8'></div>

			</li>
			<li class="r_value"><font color='#666666'>{{player.stamina|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">投篮</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.shooting_oten|check_attr}}.gif' width='{{player.shooting}}' height='8'></div>
			</li>

			<li class="r_value"><font color='black'>{{player.shooting|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">三分</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.trisection_oten|check_attr}}.gif' width='{{player.trisection}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.trisection|format_number}}</font></li>

			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">运球</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.dribble_oten|check_attr}}.gif' width='{{player.dribble}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.dribble|format_number}}</font></li>
			</ul><div class="clear"></div>

			<ul>
			<li class="gray l_title">传球</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.pass_oten|check_attr}}.gif' width='{{player.pass}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.pass|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>

			<li class="gray l_title">篮板</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.backboard_oten|check_attr}}.gif' width='{{player.backboard}}' height='8'></div>
			</li>
			<li class="r_value"><font color='#666666'>{{player.backboard|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">抢断</li>

			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.steal_oten|check_attr}}.gif' width='{{player.steal}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.steal|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">封盖</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.blocked_oten|check_attr}}.gif' width='{{player.blocked}}' height='8'></div>
			</li>
			<li class="r_value"><font color='#666666'>{{player.blocked|format_number}}</font></li>
			</ul><div class="clear"></div>
	  </div>  
		<div class="blank10"></div>
		<div class="training_box1" id="tab1_2" style="display:none">
		<table class="list_table">
		  <tr>
		    <th colspan="5" bgcolor="">赛季场均<th>
		  </tr>
		  <tr>
		     <td>得分</td>
		     <td>篮板</td>
		     <td>助攻</td>
		     <td>抢断</td>
		     <td>封盖</td>
		  </tr>
		  <tr>
		   <td>{{season_stat_total|point_agv}}</td>
		   <td>{{season_stat_total|rebound_agv}}</td>
		   <td>{{season_stat_total|assist_agv}}</td>
		   <td>{{season_stat_total|steal_agv}}</td>
		   <td>{{season_stat_total|block_agv}}</td>
		  </tr>
		</table>
		<table class="list_table">
		 <tr>
		   <th colspan="5" bgcolor="">生涯场均<th>
		 </tr>
		 <tr>
		   <td>得分</td>
		   <td>篮板</td>
		   <td>助攻</td>
		   <td>抢断</td>
		   <td>封盖</td>
		  </tr>
		  <tr>
		   <td>{{career_stat_total|point_agv}}</td>
		   <td>{{career_stat_total|rebound_agv}}</td>
		   <td>{{career_stat_total|assist_agv}}</td>
		   <td>{{career_stat_total|steal_agv}}</td>
		   <td>{{career_stat_total|block_agv}}</td>
		  </tr>
		 </table>
		 <table class="list_table">
		   <tr>
		     <th colspan="5" bgcolor="">赛季总计<th>
		   </tr>
		   <tr>
		     <td>得分</td>
		     <td>篮板</td>
		     <td>助攻</td>
		     <td>抢断</td>
		     <td>封盖</td>
		   </tr>
		   <tr>
		     <td>{{season_stat_total|point_total}}</td>
		     <td>{{season_stat_total|rebound_total}}</td>
		     <td>{{season_stat_total.assist}}</td>
		     <td>{{season_stat_total.steals}}</td>
		     <td>{{season_stat_total.block}}</td>
		   </tr>
		  </table>
		  <table class="list_table">
		    <tr>
		      <th colspan="5" bgcolor="">生涯总计<th>
		    </tr>
		    <tr>
		      <td>得分</td>
		      <td>篮板</td>
		      <td>助攻</td>
		      <td>抢断</td>
		      <td>封盖</td>
		    </tr>
		      <tr>
		        <td>{{career_stat_total|point_total}}</td>
		        <td>{{career_stat_total|rebound_total}}</td>
		        <td>{{career_stat_total.assist}}</td>
		        <td>{{career_stat_total.steals}}</td>
		        <td>{{career_stat_total.block}}</td>
		       </tr>
		   </table>
		</div>
<div class="training_box1" id="tab1_3" style="display:none">		
		<script language='javascript'>
		check_edit_qy = function (myform)
		{
			//过滤内容
			if(is_political_words($('xing_ming').value)||is_dirty_words($('xing_ming').value))
			{
				document.getElementById('notice_edit_qy').innerHTML = '俱乐部名称不合法！';
				return false;
			}
			if(!isNull('xing_ming'))
			{
				document.getElementById('notice_edit_qy').innerHTML = '姓名不能为空！';
				return false;
			}
			return submit_to_div(myform,"popup_inner");
		}
		</script>
		
<form name='frm11' action='n.php?a=242&id=1941643&dui_wu=1' method='post' onsubmit='return check_edit_qy(this)'>
	<ul>
		<li class='gray l_title'> 姓名</li>
		<li class='r_value'><input type='text' size='20' name='xing_ming' id='xing_ming' value='何塞-卡尔德隆'></li>
        <li><font color='red'><div id='notice_edit_qy'></div></font></li>
	</ul>
		<div class='clear'></div>
		<div class='blank10'></div>
	<ul>
	 <li class='gray l_title'> 号码</li>
	 <li class='r_value'><select name='hao_ma' id='hao_ma'  cols=10>
<option value='1' >1</option>
<option value='4' >4</option>
<option value='8' >8</option>
<option value='9' >9</option>
<option value='10' >10</option>
<option value='11' >11</option>
<option value='12' >12</option>
<option value='13' >13</option>
<option value='14' >14</option>
<option value='15' >15</option>
<option value='16' >16</option>
<option value='17' >17</option>
<option value='18' >18</option>
<option value='19' >19</option>
<option value='21' >21</option>
<option value='22' >22</option>
<option value='23' >23</option>
<option value='24' >24</option>
<option value='25' >25</option>
<option value='26' >26</option>
<option value='27' >27</option>
<option value='28' >28</option>
<option value='29' >29</option>
<option value='30' >30</option>
<option value='31' >31</option>
<option value='32' >32</option>
<option value='33' >33</option>
<option value='34' >34</option>
<option value='35' >35</option>
<option value='36' >36</option>
<option value='37' >37</option>
<option value='38' >38</option>
<option value='39' >39</option>
<option value='40' >40</option>
<option value='41' >41</option>
<option value='42' >42</option>
<option value='43' >43</option>
<option value='44' >44</option>
<option value='46' >46</option>
<option value='47' >47</option>
<option value='48' >48</option>
<option value='49' >49</option>
<option value='50' >50</option>
<option value='51' >51</option>
<option value='52' >52</option>
<option value='53' >53</option>
<option value='54' >54</option>
<option value='55' >55</option>
<option value='56' >56</option>
<option value='57' >57</option>
<option value='58' >58</option>
<option value='59' selected>59</option>
<option value='60' >60</option>
<option value='61' >61</option>
<option value='62' >62</option>
<option value='63' >63</option>
<option value='64' >64</option>
<option value='65' >65</option>
<option value='66' >66</option>
<option value='67' >67</option>
<option value='68' >68</option>
<option value='69' >69</option>
<option value='71' >71</option>
<option value='72' >72</option>
<option value='73' >73</option>
<option value='74' >74</option>
<option value='75' >75</option>
<option value='76' >76</option>
<option value='77' >77</option>
<option value='79' >79</option>
<option value='80' >80</option>
<option value='81' >81</option>
<option value='82' >82</option>
<option value='83' >83</option>
<option value='84' >84</option>
<option value='85' >85</option>
<option value='86' >86</option>
<option value='87' >87</option>
<option value='88' >88</option>
<option value='89' >89</option>
<option value='90' >90</option>
<option value='91' >91</option>
<option value='92' >92</option>
<option value='93' >93</option>
<option value='94' >94</option>
<option value='95' >95</option>
<option value='96' >96</option>
<option value='97' >97</option>
<option value='98' >98</option>
</select>
</li>
</ul>

<div class='clear'></div>
<div class='blank10'></div>
  <ul>
  <li class='gray l_title'> 位置</li>
  <li class='r_value'><select name='wei_zhi' id='wei_zhi'  cols=10>
    <option value='1' >中锋(C)</option>
    <option value='2' >大前(PF)</option>
    <option value='3' >小前(SF)</option>
    <option value='4' selected>分卫(SG)</option>
    <option value='5' >控卫(PG)</option>
   </select>
 </li>
</ul>
 <div class='clear'></div>
 <div class='blank10'></div>
 <div style='text-align:center'}><input type='submit' name='Submit' value='确定' class='btn_3'/></div>
</form>
</div>
</div>