{% load common_extras %}
<div class="floatBox_content">
		<div class="floatBox_content_l">
			<div class="head_img"><img src="/site_media/images/tou_xiang/{{player.position}}.gif" width="83" height="123" alt="" /></div>
		</div>
		<div class="floatBox_content_r blue">
			<h2>
			 <div style="display:block;clear:both">
			  <span class="i_smile"></span>
			  <span style="display:inline;float:left">{{ player.name }}</span>
			 </div>
			</h2>
			<ul>
			<li>
			年龄	<span class='blue'><a title='第{{player.birthday}}轮生日'  style='CURSOR:hand'>{{player.age}}</a></span>
			 <!-- <a title='球龄' style="CURSOR: hand">[]</a> --><br />
			位置  <span class="blue"><a title='{{player.position}}' style='CURSOR:hand'>{{player.position}}</a></span><br />
			身高  <span class="blue">{{player.stature}}CM</span><br />
			体重  <span class="blue">{{player.avoirdupois}}KG</span><br />
			体力  <span class="green">{{player.power}}</span><br />
			综合  <span class="blue">{{player.ability|format_number}}</span><br />
			</li>
			</ul>
			<div class="clear"></div>
		</div>
		<div style='width:100%'>
		</div>
<div class="clear"></div>
<div class="mauto">
</div>  
<div class="clear"></div>
<div class="blank5"></div>
<div class="floatBox_nav blue">
	<span class="tshirt_icon"><img src='/site_media/images/qiu_yuan/{{player.player_no}}.gif' width="16" height="19" /></span>
	<span class="active" id="wz1_1" onclick="show_s_table(1,1,3)">能力</span> | 
	<span id="wz1_2" onclick="show_s_table(1,2,3)">统计</span> | 
	<span id="wz1_3" onclick="show_s_table(1,3,3)">修改</a></span> 
</div>    
<div class="blank10"></div> 
		<!--能力-->
		<div class="training_box1" id="tab1_1">
			<ul>
			<li class="gray l_title">速度</li>
			<li class="c_bar">
				<div class="scroll"><img src="/site_media/images/qiu_yuan/color{{player.speed_oten|check_attr}}.gif" height="8" width="{{player.speed|attr_width}}" alt="" /></div>
			</li>
			<li class="r_value"><font color='black'>{{player.speed|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">弹跳</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.bounce_oten|check_attr}}.gif' width='{{player.bounce|attr_width}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.bounce|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">强壮</li>
			<li class="c_bar">

				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.strength_oten|check_attr}}.gif' width='{{player.strength|attr_width}}' height='8'></div>
			</li>
			<li class="r_value"><font color='#666666'>{{player.strength|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">耐力</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.stamina_oten|check_attr}}.gif' width='{{player.stamina|attr_width}}' height='8'></div>

			</li>
			<li class="r_value"><font color='#666666'>{{player.stamina|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">投篮</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.shooting_oten|check_attr}}.gif' width='{{player.shooting|attr_width}}' height='8'></div>
			</li>

			<li class="r_value"><font color='black'>{{player.shooting|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">三分</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.trisection_oten|check_attr}}.gif' width='{{player.trisection|attr_width}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.trisection|format_number}}</font></li>

			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">运球</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.dribble_oten|check_attr}}.gif' width='{{player.dribble|attr_width}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.dribble|format_number}}</font></li>
			</ul><div class="clear"></div>

			<ul>
			<li class="gray l_title">传球</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.pass_oten|check_attr}}.gif' width='{{player.pass|attr_width}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.pass|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>

			<li class="gray l_title">篮板</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.backboard_oten|check_attr}}.gif' width='{{player.backboard|attr_width}}' height='8'></div>
			</li>
			<li class="r_value"><font color='#666666'>{{player.backboard|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">抢断</li>

			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.steal_oten|check_attr}}.gif' width='{{player.steal|attr_width}}' height='8'></div>
			</li>
			<li class="r_value"><font color='black'>{{player.steal|format_number}}</font></li>
			</ul><div class="clear"></div>
			<ul>
			<li class="gray l_title">封盖</li>
			<li class="c_bar">
				<div class="scroll"><img src='/site_media/images/qiu_yuan/color{{player.blocked_oten|check_attr}}.gif' width='{{player.blocked|attr_width}}' height='8'></div>
			</li>
			<li class="r_value"><font color='#666666'>{{player.blocked|format_number}}</font></li>
			</ul><div class="clear"></div>
	  </div>  
		<div class="blank10"></div>
		<div class="training_box1" id="tab1_2" style="display:none">
		<table class="list_table">
		  <tr>
		    <th colspan="5" bgcolor="">赛季场均<th>
		  </tr>
		  <tr>
		     <td>得分</td>
		     <td>篮板</td>
		     <td>助攻</td>
		     <td>抢断</td>
		     <td>封盖</td>
		  </tr>
		  <tr>
		   <td>{{season_stat_total|point_agv}}</td>
		   <td>{{season_stat_total|rebound_agv}}</td>
		   <td>{{season_stat_total|assist_agv}}</td>
		   <td>{{season_stat_total|steal_agv}}</td>
		   <td>{{season_stat_total|block_agv}}</td>
		  </tr>
		</table>
		<table class="list_table">
		 <tr>
		   <th colspan="5" bgcolor="">生涯场均<th>
		 </tr>
		 <tr>
		   <td>得分</td>
		   <td>篮板</td>
		   <td>助攻</td>
		   <td>抢断</td>
		   <td>封盖</td>
		  </tr>
		  <tr>
		   <td>{{career_stat_total|point_agv}}</td>
		   <td>{{career_stat_total|rebound_agv}}</td>
		   <td>{{career_stat_total|assist_agv}}</td>
		   <td>{{career_stat_total|steal_agv}}</td>
		   <td>{{career_stat_total|block_agv}}</td>
		  </tr>
		 </table>
		 <table class="list_table">
		   <tr>
		     <th colspan="5" bgcolor="">赛季总计<th>
		   </tr>
		   <tr>
		     <td>得分</td>
		     <td>篮板</td>
		     <td>助攻</td>
		     <td>抢断</td>
		     <td>封盖</td>
		   </tr>
		   <tr>
		     <td>{{season_stat_total|point_total}}</td>
		     <td>{{season_stat_total|rebound_total}}</td>
		     <td>{{season_stat_total.assist}}</td>
		     <td>{{season_stat_total.steals}}</td>
		     <td>{{season_stat_total.block}}</td>
		   </tr>
		  </table>
		  <table class="list_table">
		    <tr>
		      <th colspan="5" bgcolor="">生涯总计<th>
		    </tr>
		    <tr>
		      <td>得分</td>
		      <td>篮板</td>
		      <td>助攻</td>
		      <td>抢断</td>
		      <td>封盖</td>
		    </tr>
		      <tr>
		        <td>{{career_stat_total|point_total}}</td>
		        <td>{{career_stat_total|rebound_total}}</td>
		        <td>{{career_stat_total.assist}}</td>
		        <td>{{career_stat_total.steals}}</td>
		        <td>{{career_stat_total.block}}</td>
		       </tr>
		   </table>
		</div>
<div class="training_box1" id="tab1_3" style="display:none">		
		<script language='javascript'>
		check_edit_qy = function (myform)
		{
			//过滤内容
			if(is_political_words($('name').value)||is_dirty_words($('name').value))
			{
				document.getElementById('notice_edit_qy').innerHTML = '球员名称不合法！';
				return false;
			}
			if(!isNull('name'))
			{
				document.getElementById('notice_edit_qy').innerHTML = '姓名不能为空！';
				return false;
			}
			return submit_to_div(myform,"popup_inner");
		}
		</script>
		
<form name='frm11' action='{% url player-update %}?type=2&no={{player.no}}' method='post' onsubmit='return check_edit_qy(this)'>
	<ul>
		<li class='gray l_title'> 姓名</li>
		<li class='r_value'><input type='text' size='20' name='name' id='name' value='{{player.name}}'></li>
        <li><font color='red'><div id='notice_edit_qy'></div></font></li>
	</ul>
		<div class='clear'></div>
		<div class='blank10'></div>
	<ul>
	 <li class='gray l_title'> 号码</li>
<li class='r_value'>
 <select name='number' id='number' cols=10>
   {% for no in free_nos %}   
     <option value="{{no}}" {%ifequal player.player_no no%}selected{%endifequal%}>{{no}}</option>
   {% endfor %}
 </select>
</li>
</ul>
<div class='clear'></div>
<div class='blank10'></div>
  <ul>
  <li class='gray l_title'> {{player.position}}位置</li>
  <li class='r_value'><select name='wei_zhi' id='wei_zhi'  cols=10>
    <option value='C' {%ifequal player.position 'C'%}selected{%endifequal%}>中锋(C)</option>
    <option value='PF' {%ifequal player.position 'PF'%}selected{%endifequal%}>大前(PF)</option>
    <option value='SF' {%ifequal player.position 'SF'%}selected{%endifequal%}>小前(SF)</option>
    <option value='SG' {%ifequal player.position 'SG'%}selected{%endifequal%}>分卫(SG)</option>
    <option value='PG' {%ifequal player.position 'PG'%}selected{%endifequal%}>控卫(PG)</option>
   </select>
 </li>
</ul>
 <div class='clear'></div>
 <div class='blank10'></div>
 <div style='text-align:center'}><input type='submit' name='Submit' value='确定' class='btn_3'/></div>
</form>
</div>
</div>