{% load common_extras %}
<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<link href="/site_media/css/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<script type="text/javascript">

      service = new rpc.ServiceProxy("/services/player/", {asynchronous:false, 
              methods: ['profession_player_detail', 'update_profession_player', 'update_profession_players']});

	  $(document).ready(function(){
	    
		 $('a.player_name').click(function() {
		     var no = $(this).parent().parent().attr('no');
		     $.ajax({
			    url: '{% url profession-player-detail %}?no=' + no,
			    type: 'GET',
			    dataType: 'html',
			    timeout: 5000,
			    cache: false,
			    error: function(error){
			        alert(error.message);
			    },
			    success: function(html){
			        $('#play_detail').html(html);
			    }
			});
		 });
		 
		 $('a.edit_player').click(function() {
		      var no = $(this).parent().parent().attr('no');
	          try{
	              var data = service.profession_player_detail(no);
	          }catch(error){
	              alert(error.message);
	          }
	          var info = data[0];
	          var player_no = info['player_no'];
	          var position = info['position'];
	          var in_use_nos = data[1]
	          
	          $('#no').val(no);
	          $('#player_name').val(info['name']);
	          $('#player_no').val(player_no);
	          
	          $("select[name='player_no'] option").each(function(){
	             $(this).remove();
	          });
	          for(var i=0; i <= 30; i++){
	              if(i==player_no){
	                  $("<option value='" + i + "' selected>" + i + "</option>").appendTo($("select[name='player_no']")); 
	              }else{
	                 var in_use = false;
	                 for(j=0; j < in_use_nos.length;j++){
	                    if(in_use_nos[j]==i){
	                        in_use = true;
	                        break
	                    }
	                 }
	                 if(!in_use){
	                    $("<option value='" + i + "'>" + i + "</option>").appendTo($("select[name='player_no']")); 
	                 }
	              }
	          }
	          
	          $("select[name='position'] option").each(function(){
	              if($(this).val()==position){
	                 $(this).attr('selected', true);
	              }
	          });
	          $("#edit_player_dialog").show().dialog({
		         height: 180, width: 300, modal: false,
	             title: '球员信息更改',
		         overlay: {
                   opacity: 0.5, 
                   background: "black" 
                 }
	          });
              $("#edit_player_dialog").dialog('open');

		 });
		 
		 $('#update_button').click(function(){
		     var no = $('#no').val();
		     var name = $('#player_name').val();
	         var player_no = $('#player_no').val();
	         var position = $('#position').val();
	         var data = {'no': no, 'name': name, 'player_no': player_no, 'position': position}
	         try{
	            var result = service.update_profession_player(data);
	            if(result==1){
	                alert('球员信息更新成功');
	                $("#edit_player_dialog").dialog('close');
	            }else if(result==0){
	                alert('球员信息更新失败,请联系管理员');
	            }else{
	                alert('该球员不在您的队中，您无权更改');
	            }
	         }catch(error){
	            alert(error.message);
	         }
	     
		 });
		 
		 $('#save_training').click(function(){
		     infos = [] ;
		     $('.training').each(function(){
		         var no = $(this).parent().parent().attr('no');
		         var training = $(this).val();
		         infos.push({'no': no, 'training': training});
		     });
		     try{
		         var result = service.update_profession_players(infos);
		         if(result==1){
		             alert('训练项保存成功');
		         }else{
		             alert('保存失败,请重试');
		         }
		     }catch(error){
		         alert('保存失败,请重试');
		     }
		 });
		 
	  });
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
}
-->
</style>
<body>
<div id="left">
<table width="99%" border=0 cellPadding=0 cellSpacing=0 class="normal_table">
  <thead>
    <th class="left">名字</th>
    <th>状态</th>
    <th>位置</th>
    <th>体力</th>
    <th>年龄</th>
    <th>身高</th>
    <th>体重</th>
    <th>综合</th>
    <th>薪水</th>
    <th>合同</th>
    <th>训练项</th>
    <th class="right">操作</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr id="{{ info.id }}" no="{{ info.no }}">
        <td class="left"><span>{{ info.player_no }}</span><a class="player_name">{{ info.name }}</a></td>
        <td>{{ info.status }}</td>
        <td>{{ info.position }}</td>
        <td>{{ info.power }}</td>
        <td>{{ info.age }}</td>
        <td>{{ info.stature }}</td>
        <td>{{ info.avoirdupois }}</td>
        <td>{{ info.ability|format_number }}</td>
        <td>{{ info.wage }}</td>
        <td class="align_center">{{ info.contract }}</td>
        <td class="align_center">
         <select class="training">
          {% for attr, attrname in attrs.items %}
             <option value="{{attr}}" {% ifequal attr info.training %}selected{% endifequal %}>{{attrname}}</option>
          {% endfor %}
         </select>
         {% if info.last_inc %}
           +{{ info.last_inc }}
         {% else %}
           +0.0
         {% endif %}
        </td>
        <td class="right"><a class="edit_player">修改</a></td>
       </tr>
      {% endfor %}
      <tr>
        <td colspan="12" class="right">
          <span style="float:right;margin-rigth:10px;"><input type="button" id="save_training" value="确定训练"/></span>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
</div>
<div id="side"><span id="play_detail" ></span></div>
<div id="edit_player_dialog" class="flora" style="display: none;">
    <form id="edit_player_form">
        <input type="hidden" id="no"/>
    	<p>
    		<label>名字:</label>
			<span><input id="player_name" type="text"/></span>
	    </p>
	    <p>
            <label>号码:</label>
			<span>
			  <select name="player_no" id="player_no">
			  </select>
			</span>
	    </p>
	    <p>
			<label>位置:</label>
			<span>
			  <select name="position" id="position">
			    <option value="PG">组织后卫</option>
			    <option value="SG">得分后卫</option>
			    <option value="SF">小前锋</option>
			    <option value="PF">大前锋</option>
			    <option value="C">中锋</option>
			  </select>
			</span>
		</p>
		<p>
		  <input id="update_button" type="button" value="更新" />
		</p>
    </form>
</div>
</body>