<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<link href="/site_media/css/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<script type="text/javascript">

	  $(document).ready(function(){
	    
		 $('a.player_name').click(function() {
		     var id = $(this).parent().parent().attr('id');
		     $.ajax({
			    url: '{% url freeplayer-detail %}?id=' + id,
			    type: 'GET',
			    dataType: 'html',
			    timeout: 1000,
			    error: function(error){
			        alert(error.message);
			    },
			    success: function(html){
			        $('#play_detail').html(html);
			    }
			});
		 });
	  });
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #EEF2FB;
}
-->
</style>
<body>
<br/>
<table width="99%">
<tr>
<td width="60%" valign="top">
<TABLE width="99%" border=0 cellPadding=0 cellSpacing=0 class="player">
  <thead>
    <th>号码</th>
    <th>位置</th>
    <th>名字</th>
    <th><a href="{% url free-players %}?position={{ position }}&order_by=age&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}">年龄<a></th>
    <th><a href="{% url free-players %}?position={{ position }}&order_by=stature&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}">身高</a></th>
    <th><a href="{% url free-players %}?position={{ position }}&order_by=avoirdupois&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}">体重</th>
    <th>综合</th>
    <th>体力</th>
    <th class="right">操作</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr id="{{ info.id }}">
        <td>{{ info.player_no }}</td>
        <td>{{ info.position }}</td>
        <td class="name"><a class="player_name">{{ info.name }}</a></td>
        <td>{{ info.age }}</td>
        <td>{{ info.stature }}</td>
        <td>{{ info.avoirdupois }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="right">&nbsp;</td>
       </tr>
      {% endfor %}
      <tr>
        <td colspan="9" class="right">
          共{{page}}/{{totalpage}}页
          {% ifequal page 1 %}
            首页
            上一页
          {% else %}
             <a href="{% url free-players %}?page=1&position={{position}}&order={{order}}&order_by={{order_by}}">首页</a>
             <a href="{% url free-players %}?page={{prevpage}}&position={{position}}&order={{order}}&order_by={{order_by}}">上一页</a>
          {% endifequal %}
          {% ifequal page totalpage %}
            末页
            下一页
          {% else %}
             <a href="{% url free-players %}?page={{totalpage}}&position={{position}}&order={{order}}&order_by={{order_by}}">末页</a>
             <a href="{% url free-players %}?page={{nextpage}}&position={{position}}&order={{order}}&order_by={{order_by}}">下一页</a>
          {% endifequal %}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
</td>
<td class="detail_td">
<span id="play_detail" ></span>
</td>
</tr>
</table>
</body>