<form id='frm' action='{% url remove-attention-player %}?no={{no}}' method='post' onsubmit='return submit_to_div(this,"popup_inner"); '> 
<div class='blank20'></div> 
	<div class='floatBox_msg mauto'> 
		<p class='lh21 color_7'>取消关注并不能取消您对该球员的出价！确认取消关注吗？</p><div class='blank20'> 
	</div> 
	<div class='floatBox_msg_btn mauto'> 
		<div class='left'><input type='submit' name='Submit' value='确定' class='btn_3' /></div> 
		<div class='btn_3 right'> 
		<a href='#' onclick='return hide_popup();'>取消</a></div> 
		<div class='clear'></div> 
	</div> 
</div> 
<div class='blank20'></div>