{% load common_extras %}
<div class="lh30 mlr8">
{% ifequal position 'c' %}
   <span class="select_href">中锋 C</span>
{% else %}
   <a href="{% url youth-free-players-min %}?position=c" onclick='return href_to_div(this,"main_content")'>中锋 C</a>
{% endifequal %}
|
{% ifequal position 'pf' %}
  <span class="select_href">大前 PF</span>
{% else %}
   <a href="{% url youth-free-players-min %}?position=pf" onclick='return href_to_div(this,"main_content")'>大前 PF</a>
{% endifequal %}
|
{% ifequal position 'sf' %}
  <span class="select_href">小前 SF</span>
{% else %}
  <a href="{% url youth-free-players-min %}?position=sf" onclick='return href_to_div(this,"main_content")'>小前 SF</a>
{% endifequal %} 
| 
{% ifequal position 'sg' %}
  <span class="select_href">分卫 SG</span>
{% else %}
   <a href="{% url youth-free-players-min %}?position=sg" onclick='return href_to_div(this,"main_content")'>分卫 SG</a>
{% endifequal %}
| 
{% ifequal position 'pg' %}
  <span class="select_href">控卫 PG</span>
{% else %}
  <a href="{% url youth-free-players-min %}?position=pg" onclick='return href_to_div(this,"main_content")'>控卫 PG</a>
{% endifequal %}
</div>
<table class="list_table" width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<th>姓名</th>
<th>
 <a href="{% url youth-free-players-min %}?position={{ position }}&order_by=age&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
  <font color="#0096f1">年龄</font>
 </a>
</th>
<th>位置</th>
<th>
 <a href="{% url youth-free-players-min %}?position={{ position }}&order_by=stature&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
  <font color="#0096f1">身高</font>
 </a>
</th>
<th>
  <a href="{% url youth-free-players-min %}?position={{ position }}&order_by=avoirdupois&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
  <font color="#0096f1">体重</font>
  </a>
</th>
<th>
 <a href="{% url youth-free-players-min %}?position={{ position }}&order_by=ability&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
  <font color="#0096f1">综合</font>
 </a>
</th>
<th>次数</th>
<th>
 <a href="{% url youth-free-players-min %}?position={{ position }}&order_by=expired_time&order={% ifequal order 'asc' %}desc{% else %}asc {% endifequal %}" id="href" onclick='return href_to_div(this,"main_content")' title="按照该项排序">
   <font color="#0096f1">剩余出价时间</font>
 </a>
</th>
<th class="end_cell">操作</th>
</tr>
{% for info in infos %}
<tr>
 <td>
  <a href="{% url player-detail %}?type=4&no={{info.no}}" onclick="return show_popup(this)" title="">
  <font color="#0096f1">{{info.name}}</font>
 </a>
</td>
<td>{{info.age}}</td>
<td>{{info.position}}</td>
<td>{{info.stature}}</td>
<td>{{info.avoirdupois}}</td>
<td><font color="#666666">{{ info.ability|format_number }}</font></td>
<td>{{ info.bid_count }}</td>
<td>
  {% ifequal info.auction_status 0%}
    <div id="time_1">{{ info.lave_time|format_lave_time }}</div>
  {% else %} 
    {% ifequal info.auction_status 1%}
     <font color="#0096f1">
      {{info.price}}/
        <a href="{% url user-detail %}?id={{info.team_id}}" onclick="return show_popup(this)" title="">
           <font color="#0096f1">{{info.team_id|nickname}} </font>
        </a>
      </font>
    {% else %}
        不成交
    {% endifequal %}
  {% endifequal %}
</td>
 <td>
  {% if info.can_bid %}
  <a href="{% url youth-free-player-bid %}?no={{info.no}}" onclick="return show_popup(this)">
  <font color="#0096f1">出价</font>
  </a>|
  {% endif%}
  <a href="{% url add-attention-player %}?no={{info.no}}&type=2" onclick="return show_popup(this)">
  <font color="#0096f1">关注</font>
  </a>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="blank10"></div>
<div class="mlr8 tr">
{% ifequal page 1 %}
    首页
    上一页
{% else %}
     <a href="{% url youth-free-players-min %}?page=1&position={{position}}&order={{order}}&order_by={{order_by}}" onclick="return href_to_div(this,'main_content');">首页</a>
     <a href="{% url youth-free-players-min %}?page={{prevpage}}&position={{position}}&order={{order}}&order_by={{order_by}}" onclick="return href_to_div(this,'main_content');">&lt;上一页</a>
{% endifequal %}
{% ifequal page totalpage %}
    下一页
    末页
{% else %}
     <a href="{% url youth-free-players-min %}?page={{nextpage}}&position={{position}}&order={{order}}&order_by={{order_by}}" onclick="return href_to_div(this,'main_content');">下一页&gt;</a>
     <a href="{% url youth-free-players-min %}?page={{totalpage}}&position={{position}}&order={{order}}&order_by={{order_by}}" onclick="return href_to_div(this,'main_content');">末页</a>
{% endifequal %}
[第{{page}}/{{totalpage}}页]
</div>
<div></div>
<div class="blank10"></div>
<div class="blank10"></div>
<font color="brown"><div align="center">可利用资金：{{team.funds}}</div></font>