{% load common_extras %}
<div id="tab3_1">
  <table class="list_table" width="100%" border="0" cellpadding="0" cellspacing="0">   
    <tbody>
     <tr>
      <th>号码</th>
      <th>姓名</th>
      <th>年龄</th>
      <th>位置</th>
      <th>体力</th>
      <th>状态</th>
      <th>身高</th>
      <th>体重</th>
      <th>综合</th>
      <th class="end_cell">操作</th>
    </tr>
{% for info in infos %}
<tr>
     <td><img src="/site_media/images/number/{{info.player_no}}.gif"></td>
     <td>
       <a href="http://s3.dlm.17uxi.cn/source/n.php?a=223&amp;id_qiu_yuan=1941648&amp;dui_wu=2" onclick="return show_popup(this)" title="">
         <font color="#0096f1">{{info.name}}</font>
       </a>
     </td>
     <td>{{info.age}}</td>
     <td>{{info.position}}</td>
     <td>{{info.power}}</td>
     <td><div style="display: block; clear: both;">
           <div style="width: 15px; height: 15px; margin: 0pt auto;">
             <div class="i_smile"></div>
           </div>
         </div>
     </td>
     <td>{{info.stature}}</td>
     <td>{{info.avoirdupois}}</td>
     <td><font color="#666666">{{info.ability|format_number}}</font></td>
     <td>
       <div align="center">
        <a href="http://s3.dlm.17uxi.cn/source/n.php?a=263&amp;id_qiu_yuan=1941648" onclick='return href_to_div(this,"main_content")'>
         <font color="#0096f1">拍卖</font>
        </a>&nbsp;
        <a href="http://s3.dlm.17uxi.cn/source/n.php?a=265&amp;id_qiu_yuan=1941648" onclick="return show_popup(this)">
        <font color="#0096f1">出售</font></a>&nbsp;
        <a href="http://s3.dlm.17uxi.cn/source/n.php?a=414&amp;id_qiu_yuan=1941648" onclick="return show_popup(this);">
        <font color="#0096f1">提拔</font></a>
       </div>
     </td>
 </tr>
{% endfor %}
</tbody></table>
</div>
