@charset "utf-8";
.lmpm {
	float: left;
	width: 335px;
}
.mz {
	float: left;
	width: 318px;
	margin-left: 10px;
}
.duizhan {
	float: left;
	height: 185px;
	width: 340px;
}
.mzbg_list {
	height:144px;
	width: 324px;
	padding-top: 0;
	padding-right: 0;
	text-indent: 6px;
	float: left;
	padding-left: 6px;
}
.mzbg_list li {
	line-height:28px;
	color:#666666;
	height:22px;
	text-indent: 0px;
}
.pk_list {
	height:155px;
	width: 326px;
	padding-top: 0;
	padding-right: 0;
	padding-left: 5px;
}
.pk_list li {
	line-height:20px;
	color:#666666;
	height:20px;
	padding-left: 5px;
}
.pkxw_list {
	height:170px;
	width: 340px;
	padding-top: 0;
	padding-right: 0;
	float: left;
	margin-top: 3px;
	padding-left: 3px;
}
.pkxw_list li {
	line-height:28px;
	color:#666666;
	height:20px;
}
.zdxw_list {
	height:173px;
	width: 380px;
	padding-top: 0;
	padding-right: 0;
	float: left;
	margin-top: 1px;
	padding-left: 3px;
}
.zdxw_list li {
	line-height:28px;
	color:#666666;
	height:20px;
}
.zdgl {
	line-height: 28px;
	height: 58px;
	width: 375px;
}

.dnrs_list {
	overflow:auto;
	height:385px;
	width: 680px;
	float: left;
	margin-top: 2px;
	margin-bottom: 5px;
}
.td {
	background-image: url(../images/td-bg1px.gif);
}
.yellow1 {
	color: #deaa1e;
}
.zhandui {
	clear: left;
	width: 680px;
	overflow: auto;
	height: 390px;
}
.wdzd1 {
	float: left;
	width: 390px;
}
.wdzd2 {
	float: right;
	width: 278px;
	padding-left: 0px;
}
.gry1220 {
	font-size: 12px;
	line-height: 18px;
	color: #707070;
	text-decoration: none;
	padding-left: 6px;
}
.blk1218 {
	font-size: 12px;
	line-height: 22px;
	color: #000000;
	text-decoration: none;
	padding-left: 6px;
}
.zhanshu {
	float: left;
	width: 680px;
	line-height: 20px;
	margin-top: 5px;
}
.zhanshu_tit1 {
	float: left;
	height: 24px;
	width: 168px;
	background-color: #f0f0f0;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dadada;
	line-height: 24px;
}
.zhanshu_tit2 {
	float: left;
	height: 24px;
	width: 490px;
	background-color: #f0f0f0;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dadada;
	text-align: right;
	line-height: 24px;
}



.zhanshu_tag {
	float: left;
	width: 678px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dadada;
	margin-top: 5px;
}
.zhanshu_lab {
	height:18px;
	line-height:18px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.zhanshu_lab li {
	width:83px;
	line-height:20px;
	color:#000000;
	float:left;
	text-align:center;
	cursor:pointer;
	background-color: #FFFFFF;
	margin-right: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #d0d0d0;
	border-right-color: #d0d0d0;
	border-left-color: #d0d0d0;
}
.zhanshu_lab li.active {
	color:#000;
	cursor:auto;
	background-color: #d0d0d0;
}
.zhanshu_lab a, .zhanshu_lab a:hover {color:#000000;}
.zhanshu_tag_t {
	float: left;
	height: 165px;
	width: 678px;
	overflow: auto;
	margin-top: 2px;
}
.guozhan_table {
	width: 100%;
	border-collapse: collapse;
	background-color: #f0f0f0;
	}
.guozhan_table td {
	line-height: 28px;
	height:28px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dadada;
	text-indent: 8px;
}	
.vs3_table {
	border-collapse: collapse;
	background-color: #f0f0f0;
	}
.vs3_table td {
	line-height: 35px;
	height:35px;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dadada;
	text-indent: 8px;
}	
.blk20 {
	font-size: 20px;
	line-height: 26px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}
.gry1218 {

	font-size: 12px;
	line-height: 28px;
	color: #707070;
	text-decoration: none;
	padding-left: 6px;
}
.red16 {
	font-size: 16px;
	line-height: 24px;
	color: #CC0000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.guozhan_blue {
	font-size: 12px;
	line-height: 22px;
	color: #003399;
}
.gry1218x {


	font-size: 12px;
	line-height: 28px;
	color: #707070;
	text-decoration: none;
}
.blk1220 {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
	padding-left: 6px;
}
.blue1220 {
	font-size: 12px;
	line-height: 20px;
	color: #0099FF;
	text-decoration: none;
	padding-left: 6px;
}
/* ��Ӣ��ս�� */
.elite {
	float: none;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.elite_logo {
	float: none;
	width: 600px;
	text-align: center;
	height: 92px;
	margin-right: auto;
	margin-left: auto;
}
.elite_box {
	float: left;
	width: 295px;
	margin-bottom: 5px;
}
.elite_box2 {
	float: right;
	width: 295px;
	margin-bottom: 5px;
}
.elite_teramname {
	float: left;
	width: 295px;
	height: 22px;
	background-color: #E8E8E8;
	text-align: center;
	padding-top: 3px;
}
.elite_name {
	width: 90px;
	float: left;
	height: 17px;
	padding-top: 5px;
}
.elite_name_1 {
	width: 75px;
	float: left;
	height: 17px;
	padding-top: 5px;
}
.elite_rank {
	width: 70px;
	float: left;
	height: 17px;
	padding-top: 5px;
}
.elite_challenge {
	width: 60px;
	float: left;
	height: 17px;
	padding-top: 5px;
}
.elite_today {
	width: 70px;
	float: left;
	height: 14px;
	padding-top: 7px;
}
.elite_tooltip {
	height: 35px;
	float: left;
	width: 600px;
}
.elite_tooltip1 {
	height: 8px;
	float: left;
	margin-top: 9px;
}
.elite_tooltip2 {
	height: 8px;
	float: left;
	margin-top: 9px;
}
.elite_tooltip3 {
	height: 8px;
	float: left;
	margin-top: 7px;
	margin-left: 10px;
}
.elite_score {
	width: 510px;
	background-image: url(../images/guo_zhan/jytz/elite_bg3.gif);
	padding-left: 90px;
	height: 120px;
}
.elite_score_name {
	width: 110px;
	padding-top: 42px;
}
.elite_score_logo {
	width: 50px;
	margin-top: 25px;
}
.elite_score_vs {
	width: 100px;
	padding-top: 40px;
}
.elite_score_info {
	width: 390px;
	margin-left: 120px;
}
.elite_list1 {
	width: 471px;
	margin-bottom: 8px;
}
.elite_list2 {
	width: 126px;
	margin-bottom: 8px;
}
.elite_more {
	text-align: right;
	width: 597px;
	height: 15px;
	padding-right: 3px;
	margin-bottom: 8px;
	float: none;
	margin-right: auto;
	margin-left: auto;
}
.elite_wait_logo1 {
	float: left;
	height: 55px;
	width: 250px;
	text-align: right;
	padding-top: 15px;
	background-image: url(../images/guozhan/090219_elite_bg1.gif);
	background-repeat: repeat-x;
}
.elite_wait_logo2 {
	float: left;
	height: 55px;
	width: 250px;
	padding-top: 15px;
	background-image: url(../images/guozhan/090219_elite_bg1.gif);
	background-repeat: repeat-x;
}
.elite_wait_vs {
	float: left;
	height: 55px;
	width: 100px;
	padding-top: 15px;
	background-image: url(../images/guozhan/090219_elite_bg1.gif);
	background-repeat: repeat-x;
}
.elite_wait_name1 {
	float: left;
	height: 20px;
	width: 250px;
	text-align: right;
	padding-top: 8px;
	background-image: url(../images/guozhan/090219_elite_bg2.gif);
	background-repeat: repeat-x;
}
.elite_wait_name2 {
	float: left;
	height: 20px;
	width: 250px;
	padding-top: 8px;
	background-image: url(../images/guozhan/090219_elite_bg2.gif);
	background-repeat: repeat-x;
}
.elite_wait_vsname {
	float: left;
	height: 20px;
	width: 100px;
	text-align: center;
	padding-top: 8px;
	background-image: url(../images/guozhan/090219_elite_bg2.gif);
	background-repeat: repeat-x;
}
.elite_wait_arrow1 {
	width: 137px;
	margin-top: 25px;
	margin-bottom: 35px;
}
.elite_wait_arrow2 {
	width: 50px;
	margin-top: 25px;
}

/*����*/
.union_half {
	width:338px;
	margin-left: 6px;
}
.union_table0 {
	height: 20px;
	padding-top: 3px;
	padding-left: 6px;
	background-color: #E4E4E4;
	padding-bottom: 3px;
	width: 680px;
	float: none;
	margin-right: auto;
	margin-left: auto;
}
.union_table1 {
	height: 20px;
	padding-top: 6px;
	padding-left: 6px;
	background-color: #E4E4E4;
}
.union_table2 {
	height: 18px;
	padding-top: 3px;
	padding-left: 6px;
}
.union_table2name {
	height: 18px;
	padding-top: 6px;
	padding-left: 6px;
	width: 109px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}.union_table2vs {
	height: 18px;
	padding-top: 6px;
	padding-left: 6px;
	width: 20px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.union_table2begin {
	height: 18px;
	padding-top: 6px;
	padding-left: 6px;
	width: 75px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.union_table1_title {
	float: left;
	width: 150px;
}
.union_table1_link {
	float: right;
	width: 140px;
	margin-right: 6px;
}
.union_table {

}
.union_table td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	height: 20px;
}
.union_tablelist {
	overflow: auto;
	height: 240px;
}

/* �л� */
.u_Menu_01{
	height:22px;
	background-repeat: repeat-x;
	background-position: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-left: 8px;
}
.u_Menu_01 label{
	float:left;
	width:75px;
	height:22px;
	line-height:22px;
	text-align:center;
	cursor:pointer;
	color:#666;
	background-image: url(../images/bg1211_2.gif);
	background-repeat: repeat-x;
	background-position: 0;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: none;
	border-right-color: #CCC;
	border-left-color: #CCC;
}
.u_Menu_01 .selected{
	height:22px;
	color:#c31c0a;
	background-image: url(../images/bg1211_1.gif);
	background-repeat: repeat-x;
	background-position: 0;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
}
.u_Menu_01 a:link,.T_Menu_01 a:visited{color:#000; text-decoration:none;}
.u_Menu_01 a:hover{color:#f00; text-decoration:underline;}

/* ҳ�� */
.ipages {
	clear: both;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 0;
	width: 680px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.ipages a:link,
.ipages a:visited {
	color: #002C69;
	background: #FFF;
	border: 1px solid #002C69;
	margin-top: 0;
	margin-right: 5;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
.ipages a:hover,
.ipages a:active {
	padding: 2px 5px;
	margin: 0;
	border: 1px solid #EEF4FB;
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	text-decoration: none;
}
.ipages strong {
  padding: 2px 5px;
  margin: 0;
  color: #F60;
  background: #FFF;
  border: 1px solid #FFF;
}
.ipages span.disabled {
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #ccc 1px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 2px;
	BORDER-LEFT: #ccc 1px solid;
	COLOR: #002860;
	MARGIN-RIGHT: 2px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: #ccc 1px solid
}

/* ����ھ� 090306add */

.champion_info {
	background-color: #EFEFEF;
}
.champion_name {
	height: 18px;
	padding-top: 6px;
	padding-left: 10px;
	width: 120px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-right: 10px;
}
.champion_score {
	height: 18px;
	padding-top: 6px;
	padding-left: 6px;
	width: 50px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}	
	
/* ������� 090309add */
.zhengba_rule {
	height: 160px;
	width: 560px;
	overflow: auto;
	padding-right: 30px;
	padding-left: 30px;
	border: 3px solid #DDD;
	padding-top: 20px;
	padding-bottom: 20px;
	float: none;
	margin-right: auto;
	margin-left: auto;
}

/* ���� 090304add */

.union_new_1 {
	width: 200px;
	background-image: url(../images/bg1211_2.gif);
}
.union_new_2 {
	width: 68px;
	background-image: url(../images/bg1211_2.gif);
}
.lh28 {
	line-height: 28px;
}
.unoin_news_list {
	width: 322px;
	padding-left: 8px;
	padding-right: 8px;
	height: 100px;
}
.unoin_news_list li {
	font-size: 12px;
	line-height: 24px;
}
.union_paiming {
	width: 338px;
}
.union_num {
	width: 25px;
}
.union_name {
	width: 105px;
}
.union_county {
	width: 50px;
}
.union_captain {
	width: 101px;
}
.union_wind {
	width: 55px;
}
.border_down {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.union_more {
	width: 332px;
	padding-right: 6px;
}
.union_shop_title {
	width: 60px;
	margin-left: 10px;
}
.union_shop_input {
	width: 600px;
}

.union_half0 {
	width:344px;
}
.union_info {
	width: 680px;
	background-image: url(../images/bg1211_2.gif);
	padding-left: 10px;
}
.union_huizhang {
	height: 64px;
	width: 64px;
	margin-top: 10px;
	margin-right: 10px;
}
.union_huizhang_info {
	width: 270px;
	margin-top: 14px;
	margin-bottom: 3px;
}
.union_huizhang_info li {
	font-size: 12px;
	line-height: 28px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.union_huizhang_info2 {
	width: 166px;
	padding-left: 6px;
}
.union_huizhang_info3 {
	width: 317px;
	padding: 20px 5px;
	height: 100px;
}
.union_shop {
	width: 335px;
	text-align: center;
}
.union_shop_list {}

/* ��ս 090320add */
.guozhan_left {
	float: left;
	width: 438px;
	margin-left: 6px;
}
.guozhan_right {
	float: right;
	width: 242px;
}
.guozhan_left_name {
	float: left;
	width: 68px;
	margin-right: 5px;
	height: 400px;
}
.guozhan_left_names {
	float: left;
	margin-bottom: 7px;
	width: 67px;
}
.guozhan_left_pic {
	float: left;
	width: 360px;
}
.guozhan_left_pic1 {
	height: 42px;
	width: 167px;
	background-image: url(../images/guo_zhan/gz/kuang_1.gif);
	background-repeat: no-repeat;
	margin-bottom: 6px;
	padding-left: 11px;
	padding-top: 7px;
}
.guozhan_left_pic2 {
	height: 83px;
	width: 97px;
	background-image: url(../images/guo_zhan/gz/kuang_2.gif);
	background-repeat: no-repeat;
	margin-top: 2px;
	padding-left: 12px;
	padding-top: 8px;
	padding-right: 8px;
}
.guozhan_left_pic2x {
	height: 83px;
	width: 96px;
	background-image: url(../images/guo_zhan/gz/kuang_2.gif);
	background-repeat: no-repeat;
	margin-right: 5px;
	margin-top: 2px;
	padding-left: 13px;
	padding-top: 8px;
	padding-right: 8px;
}
.guozhan_left_pic3 {
	height: 44px;
	width: 170px;
	background-image: url(../images/guo_zhan/gz/kuang_1.gif);
	background-repeat: no-repeat;
	margin-top: 8px;
	padding-left: 6px;
	padding-right: 2px;
	padding-top: 12px;
}
.guozhan_left_pic3x {
	height: 44px;
	width: 298px;
	background-image: url(../images/guo_zhan/gz/kuang_3.gif);
	background-repeat: no-repeat;
	margin-top: 8px;
	padding-left: 40px;
	padding-right: 22px;
	padding-top: 12px;
}
.guozhan_left_pic1_chair {
	height: 35px;
	width: 35px;
	margin-right: 4px;
}
.guozhan_left_pic2_chair {
	height: 33px;
	width: 39px;
	margin-right: 4px;
	margin-bottom: 6px;
}
.guozhan_left_pic3_chair {
	height: 28px;
	width: 39px;
	margin-bottom: 6px;
	margin-right: 3px;
}
.guozhan_left_pic3x_chair {
	height: 30px;
	width: 57px;
	margin-right: 15px;
	margin-bottom: 6px;
}
.guozhan_left_pic_cho {
	width: 300px;
}
.guozhan_right_menu {
	float: right;
	width: 242px;
	overflow: hidden;
	position: relative;
}
.guozhan_right_menu2 {
	float: right;
	width: 240px;
	background-color: #E7E7E7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	height: 24px;
}
.guozhan_right_menu2_1 {
	float: left;
	height: 24px;
	width: 80px;
	margin-left: 6px;
}
.guozhan_right_menu2_2 {
	height: 24px;
	width: 134px;
	text-align: center;
}

.guozhan_right_menu3 {
	float: right;
	width: 234px;
	background-color: #E7E7E7;
	padding-left: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	height: 24px;
}
.u_Menu_02{
	height:23px;
	background-repeat: repeat-x;
	background-position: 0;
	padding-left: 0px;
	margin: 0;
}
.u_Menu_02 label{
	float:right;
	width:65px;
	height:23px;
	line-height:23px;
	text-align:center;
	cursor:pointer;
	color:#666;
	background-image: url(../images/bg1211_2.gif);
	background-repeat: repeat-x;
	background-position: 0;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
.u_Menu_02 .selected{
	height:23px;
	color:#c31c0a;
	background-image: url(../images/bg1211_1.gif);
	background-repeat: repeat-x;
	background-position: 0;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #ccc;
}
.u_Menu_02 a:link,.T_Menu_01 a:visited{color:#000; text-decoration:none;}
.u_Menu_02 a:hover{color:#f00; text-decoration:underline;}

.list_table4, .list_table4_popup{
	width: 100%;
	border:1px solid #d0d0d0;
	border-bottom:0px;
	border-right:0px;
	border-left:0px;
	margin-top:1px;
	background: #FFFFFF;
	border-collapse: collapse;
}
.list_table4 td , .list_table4_popup td{
	line-height: 20px;
	height:20px;
	border-bottom:1px solid #dadada;
	padding: 0px;
	text-align: left;
}

#BigDIV{
	width: 240px;
	margin-bottom: 10px;
}
#BigDIV li{
	font-size: 12px;
	line-height: 18px;
	text-indent: 5px;
}
.guozhan_water {
	width: 100px;
}

/* ��� 090323add */
.country{
	float: none;
	height: 430px;
	width: 677px;
	background-image: url(../images/guo_jia/090323_bg.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
}
.country_1{
	width: 70px;
	margin-left: 10px;
}
.country_2{
	width: 280px;
	margin-left: 40px;
	margin-top: 6px;
}
.country_3{
	width: 185px;
	margin-top: 65px;
}
.country_bgblk {
	background-color: #000;
}
.country_bggry{
	background-color: #E7E7E7;
}
.country_king{
	width: 70px;
	margin-top: 130px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.country_ico1 {
	height: 50px;
	width: 120px;
	margin-left: 10px;
}
.country_ico2 {
	height: 25px;
	width: 80px;
	margin-right: 4px;
	margin-left: 3px;
}
.country_paint {
	height: 246px;
	width: 137px;
	background-image: url(../images/guo_jia/090323_bg2.gif);
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.country_paint2 {
	height: 246px;
	width: 157px;
	background-image: url(../images/guo_jia/090323_bg2.gif);
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.country_gonggao {
	height: 246px;
	width: 157px;
	overflow: auto;
}
.country_manger {
	float: none;
	height: 125px;
	width: 296px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/guo_jia/090323_manger.jpg);
	background-repeat: no-repeat;
	padding-top: 95px;
	padding-left: 57px;
}
.country_manger_ico {
	height: 30px;
	width: 111px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.country_manger_enter {
	float: none;
	height: 27px;
	width: 82px;
	margin-left: auto;
	margin-right: auto;
}
