{% extends "master.html" %}
{% load common_extras %}
{% block head_ext %}
<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<link href="/site_media/css/default.css" type="text/css" media="all" rel="stylesheet">
<link href="/site_media/css/index.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">

   $(document).ready(function(){

       var url = window.location.href;
       var index = url.indexOf("?");
       if(index > 0){
          var id = url.substring(index + 1, url.length);
          $.get("/total/?user_id=" + id);
       }
   });

</script>
{% endblock %}
{% block title %}无道篮球经理{% endblock %}
{% block content %}
        <td align="left" valign="top" width="460">
		<!-- 焦点图 -->
		 <table style="margin: 10px 0pt 0pt 18px;" border="0" cellpadding="0" cellspacing="0" width="442">
          <tbody>
            <tr>
            <td style=""><!-- 焦点图 begin -->
				<div style="width: 442px; height: 192px;" class="Pixviewer" id="Pixviewer_cont_m_0">
					<a href="/article/notice/detail/33.html" target="_blank">
					  <img src="/site_media/image/U90P6T388D979F8341DT20110212150246.gif" id="F0BF0" height="192" width="442">
				    </a>
	            </div>
           </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">
            	<ul class="c2ul">
    	          <li><a href="/article/notice/list/1.html">游戏公告</a></li>
                </ul>
			    <ul class="c2ul2">
			    {% for notice in notices %}
				<li><a href="{{notice|article_link}}" target="_blank">{{notice.title}}</a><span>{{ notice.created_time|date:"m-d" }}</span></li>
			    {% endfor %}
			    </ul>
            </td>
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                 <tr>
                   <td height="92" valign="bottom">
                     <a href="/article/guide/detail/24.html">
                      <img src="/site_media/image/lanqiu1.jpg" height="82" width="216">
                     </a>
                   </td>
                   <td align="right" valign="bottom">
                     <a href="/article/guide/detail/27.html">
                      <img src="/site_media/image/lanqiu2.jpg" height="82" width="216">
                     </a>
                   </td>
                 </tr>
               </tbody>
              </table>
             </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">
            	<ul class="c2ul">
    	         <li>
    	            <a href="/article/strategy/list/1.html">游戏攻略</a>
                 </li>
                </ul>
			    <ul class="c2ul2">
			    	{% for strategy in strategys %}
				       <li><a href="{{strategy|article_link}}" target="_blank">{{strategy.title}}</a><span>{{ strategy.created_time|date:"m-d" }}</span></li>
			        {% endfor %}
			    </ul>
			   </td>
			   </tr>
	           <tr>
	            <td style="padding-top: 10px;">
	            	<ul class="c2ul">
	    	          <li><a href="/article/experience/list/1.html">玩家经验</a></li>
	                </ul>
	                <ul class="c2ul2">
			    	  {% for experience in experiences %}
				        <li><a href="{{experience|article_link}}" target="_blank">{{experience.title}}</a><span>{{ experience.created_time|date:"m-d" }}</span></li>
			          {% endfor %}
			        </ul>
	            </td>
	           </tr>
	          <tr>
	            <td>&nbsp;</td>
	          </tr>
	        </tbody>
	      </table>
     </td>
     <td align="left" valign="top">
        <table style="margin: 10px 0pt 0pt 13px;" border="0" cellpadding="0" cellspacing="0" width="266">
        <tbody>
           <tr>
            <td>
             <ul class="c3ul">
    	       <li><a href="#">游戏特色</a></li>
             </ul>
             <ul class="c3ul5">
    	       <li><span class="t1"></span>
    	         <a href="/article/guide/detail/23.html">战术系统：丰富的战术系统，针对您的球员进行合理配置，组成您的超强阵容。</a>
    	       </li>
               <li>
                 <span class="t2"></span>
                 <a href="/article/guide/detail/24.html"><b>街球队</b>；模拟真实NBA俱乐部球员管理，球员养成是游戏重要玩法之一，带领球队称霸球坛。
                 </a>
               </li>
               <li><span class="t3"></span>
                <a href="/article/guide/detail/26.html">转会市场；竞争激烈的球员转会市场，全新开放自由转会系统，俱乐部经理的必争之地。</a>
               </li>
             </ul>
           </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">
            <div style="position:relative; width:266px; height:283px; background:url(/site_media/image/paiming.png) no-repeat;">
             <div class="rankingtitle">
               <span><a href="#" target="_blank">玩家排名</a></span>
             </div>
    	     <div class="ranking" id="divRank">
    	       <table style="margin:0px 0pt 0pt 35px; line-height: 24px; text-align: center;" border="0" cellpadding="0" cellspacing="0" width="170">
                  <tbody>
	    	         {% for top_account in top_accounts %}
	    	           <tr>
	    	             <td>
	    	               {% ifequal forloop.counter 1%}
	    	                 <font color="red"> {{top_account.nickname}}</font>
	    	               {% else %}
	    	                 {{top_account.nickname}}
	    	               {% endifequal %}  
	    	             </td>
	    	             <td>{{top_account.teamability|team_ability}}</td>
	    	           <tr>
	    	         {% endfor %}
	    	      </tbody>
    	      </table>
    	     </div>   
            </td>
          </tr>
          <tr>
            <td style="padding-top: 10px;">
   	          <ul class="c3ul">
    	       <li><a href="#">篮球名博</a></li>
              </ul>
              <ul class="c3ul4">
		    	<li><span class="tt1">
		    	  <a href="http://blog.sina.com.cn/suqun" target="_blank">
		    	    <img src="/site_media/image/50_003.jpg"></a></span>
		    	  <a href="http://blog.sina.com.cn/suqun" target="_blank"><br>&nbsp;苏群</a>
		    	</li>
		        <li><span class="tt2">
		          <a href="http://blog.sina.com.cn/twiverson" target="_blank"><img src="/site_media/image/51.jpg"></a></span>
		          <a href="http://blog.sina.com.cn/twiverson" target="_blank"><br>&nbsp;朱彦硕</a></li>
		        <li>
		          <span class="tt3">
		           <a href="http://blog.sina.com.cn/titanguanweijia" target="_blank"><img src="/site_media/image/50_002.jpg"></a>
		          </span><a href="http://blog.sina.com.cn/titanguanweijia" target="_blank"><br>&nbsp;管维佳</a>
		        </li>
             </ul>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
     </td>
{% endblock %}



