<div id='menu'>
	<p class="menu_head">客户端监控</p>
	<div class="menu_body">
		<a href="">客户端状态</a>
	    <a href="">引擎状态</a>
	</div>
	<p class="menu_head">球员管理</p>
	<div class="menu_body">
		<a href="{% url player5 %}">职业球员</a>
		<a href="{% url player3 %}">街球球员</a>
	</div>
	<p class="menu_head">俱乐部管理</p>
	<div class="menu_body">
		<a href="{% url club %}">俱乐部信息</a>
	</div>
	<p class="menu_head">杯赛管理</p>
	<div class="menu_body">
		<a href="{% url cuplist %}">街球杯赛</a>
	</div>
	<p class="menu_head">游戏管理</p>
	<div class="menu_body">
		<a href="{% url gameinfo %}">游戏信息</a>
		<a href="{% url announce-list %}">游戏公告</a>
	</div>
	<p class="menu_head">帐号系统</p>
	<div class="menu_body">
		<a href="{% url invitecode %}">邀请码</a>
	</div>
</div>
<p id="menu_bar">&nbsp;</p>
