{% extends "master.html" %}
{% load common_extras %}

{% block title %}Host白名单{% endblock %}
{% block head_ext %}
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	var service = new rpc.ServiceProxy("/services/url/", 
			{asynchronous:false, methods: ['add_white_host', 'delete_white_host']});

	$('#add_host_button').click(function() {
		var host = $('#host_input').val();
		service.add_white_host(host);
		window.location = window.location;
	});
	$('input.delte_host_button').click(function() {
		var host = $(this).parent().prevAll().eq(2).text();
		service.delete_white_host(host);
		window.location = window.location;
	});
});

</script>
{% endblock %}
{% block content %}
<h2>Host白名单</h2>
<table cellspacing="1" class="tablesorter">
	<thead>
	<tr>
		<th>Host</th>
		<th>Host md5</th>
		<th>创建时间</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	{% if white_hosts %}
	{% for info in white_hosts %}
	<tr>
		<td>{{info.host}}</td>
		<td>{{info.host_md5}}</td>
		<td>{{info.created_time}}</td>
		<td><input type="button" class="delte_host_button" value="删除" /></td>
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td colspan="4">暂无数据.</td>
	</tr>
	{% endif %}
	<tr>
		<td colspan="4">
			<input size="80" name="host" id="host_input" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="button" id="add_host_button" value="添加" />
		</td>
	</tr>
	</tbody>
</table>

{% endblock %}