<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<link href="/site_media/css/skin.css" rel="stylesheet" type="text/css" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">

	  $(document).ready(function(){
	    
		 $('a.player_name').click(function() {
		     var id = $(this).parent().parent().attr('id');
		     $.ajax({
			    url: '{% url freeplayer-detail %}?id=' + id,
			    type: 'get',
			    datatype: 'html',
			    timeout: 1000,
			    error: function(error){
			        alert(error.message);
			    },
			    success: function(html){
			        $('#play_detail').html(html);
			    }
			});
		 });
	  });
</script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #eef2fb;
}
-->
</style>
<body>
<div id="left">
<table width="99%" border=0 cellpadding=0 cellspacing=0 id=sectable>
    <tbody>
      <tr align=middle height=20>
        <td align="center" class="{% ifequal position 'c' %}sec2{% else %}sec1{% endifequal %}"><a href="{% url free-players %}?position=c">联赛赛程<a></td>
        <td align="center" class="{% ifequal position 'pf' %}sec2{% else %}sec1{% endifequal %}"><a href="{% url free-players %}?position=pf">联赛排名<a></td>
        <td align="center" class="{% ifequal position 'sf' %}sec2{% else %}sec1{% endifequal %}"><a href="{% url free-players %}?position=sf">上轮本轮<a></td>
        <td align="center" class="{% ifequal position 'sg' %}sec2{% else %}sec1{% endifequal %}"><a href="{% url free-players %}?position=sg">技术统计<a></td>
      </tr>
    </tbody>
</table>
<table width="99%" border=0 cellpadding=0 cellspacing=0 class="normal_table">
  <thead>
    <th>轮次</th>
    <th>主场</th>
    <th>比分</th>
    <th>客场</th>
    <th>战术/战况</th>
    <th>轮次</th>
    <th>主场</th>
    <th>比分</th>
    <th>客场</th>
    <th class="right">战术/战况</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr id="{{ info.id }}">
        <td>{{ info.player_no }}</td>
        <td>{{ info.position }}</td>
        <td class="name"><a class="player_name">{{ info.name }}</a></td>
        <td>{{ info.age }}</td>
        <td>{{ info.stature }}</td>
        <td>{{ info.avoirdupois }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="right">&nbsp;</td>
       </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
</div>
<div id="side">信息页面</div>
</body>