{% extends "master.html" %}

{% block title %}爬虫任务管理{% endblock %}
{% block head_ext %}
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.draggable.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.droppable.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.resizable.js"></script>
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('input.modify_host_button').click(function() {
	    var host_md5 = $(this).parent().parent().attr('host_md5');
	    var host = $(this).parent().parent().attr('host');
	    var site_name = $(this).parent().parent().attr('site_name');
	    var site_email = $(this).parent().parent().attr('site_email');
	    var auto_send = $(this).parent().parent().attr('auto_send');
		show_dialog(host_md5, host, site_name, site_email, auto_send);
	});
	
	$('input.add_host_button').click(function() {
	    var host_md5 = '';
	    var host = '';
	    var site_name = '';
	    var site_email = '';
	    var auto_send = 0;
		show_dialog(host_md5, host, site_name, site_email, auto_send);
	});
	
	$('input.email_preview_button').click(function() {
	    var host = $(this).parent().parent().attr('host');
	    window.open(url,'');
	});
	
	service = new rpc.ServiceProxy("/services/auto_monitor_site/", 
			{asynchronous:false, methods: ['update_monitor_site']});
	
	$('#site_modify_form input.button').click(function() {
	    var host = $('#host').val();
	    var host_md5 = $('#host_md5').val();
	    var site_email = $('#site_email').val();
	    var site_name = $('#site_name').val();
	    var auto_send = $("input[type=radio][name='auto_send'][checked]").val();
	    if(host_md5 != ''){
	      service.update_monitor_site({'host': host, 'site_email': site_email, 
		                             'site_name': site_name, 'auto_send': auto_send});
	    }else if(host != ''){
		  service.update_monitor_site({'host': host, 'site_email': site_email, 
		                             'site_name': site_name, 'auto_send': auto_send,
		                             'from_type': 2, 'blackurl_count': 0});
	    }
	    window.location = window.location;
	});
	
});

function show_dialog(host_md5, host, site_name, site_email, auto_send) {
	$("#site_modify_dialog").show().dialog({
		height: 300, width: 450, modal: true,
	    title: '自动监控网站修改',
		overlay: {
            opacity: 0.5, 
            background: "black" 
        }
	});
    $("#site_modify_dialog").dialog('open');
    $('#host').val(host);
    $('#host_md5').val(host_md5);
    $('#site_name').val(site_name);
    $('#site_email').val(site_email);
    $('[name="auto_send"]:radio').each(function() {
       if (this.value == auto_send)   
       {   
          this.checked = true;   
       }       
    }); 
}
</script>
{% endblock %}
{% block content %}
<h2>
爬虫任务管理
<input type="text" value="{{ host }}" id="txtHost"/>
<input type="button" class="search_host_button" host="" value="搜索任务" />
<input type="button" class="add_host_button" host="" value="添加" />
</h2>
<table cellspacing="1" class="tablesorter" width="100%">
<thead>
	<tr>
		<th>任务名称</th>
		<th>开始页面</th>
		<th>是否内容页</th>
		<th>url正则</th>
		<th>创建时间</th>
		<th>操作</th>
	</tr>
	</thead>
	<tbody
		{% for spider_task in spider_tasks %}
		  <tr>
		     <td>{{ spider_task.task_name }}</td>
		     <td>{{ spider_task.start_url }}</td>
		     <td>{{ spider_task.is_content_page }}</td>
		     <td>{{ spider_task.url_pattern }}</td>
		     <td>{{ spider_task.created_at }}</td>
		     <td>button</td>
		  </tr>
		{% endfor %}
    </tbody>
</table>
<div id="site_modify_dialog" class="flora" style="display: none;">
    <form id="site_modify_form">
        <input type="hidden" id="host_md5" value="">
    	<p>
    		<label>网站地址:</label><br>
			<span><input id="host" type="text" value="" size="60" /></span><br>
			<label>网站名称:</label><br>
			<textarea id="site_name" rows="5" cols="50"></textarea><br>
			<label>网站邮箱:</label><br>
			<span><input id="site_email" type="text" value="" size="60" /></span><br>
			<span>自动发送:
			   <input type="radio" name="auto_send" value="0">否
               <input type="radio" name="auto_send" value="1">是
            </span><br>
			<input class="button" type="button" value="提交" />
		</p>
    </form>
</div>
{% endblock %}