{% load common_extras %}
<script type="text/javascript">
   function check_msg() {
       var myAjax = new Ajax.Request(
             '{% url check-new-message %}', // 请求的URL
             {
                method: 'get',
                asynchronous: true,
                onComplete: showResponse
             }

       );
   }
   function showResponse(response) {
      status = response.responseText;
      if(status == 1){
        $('msg').innerHTML = '<img src="/site_media/images/img_00.gif" id="xx_shan_shuo" title="有未读消息" height="11" width="17"/>';
      }else{
        $('msg').innerHTML = '<img src="/site_media/images/img_03.gif" id="xx_shan_shuo" title="没有未读消息" height="11" width="17"/>';
      }
   }
   setInterval(check_msg, 30000);  
</script>
<div class="left_box">
    <div class="logo">
        <img src="/site_media/images/logo.jpg" alt="" height="34" width="182">
    </div>
    <div class="date head_bg">　
        <b>
            <span id="sj_notice">
               
            </span>
        </b>
    </div>
    <script language="JavaScript">
        var main_url = false;
        var a = 3600 * 8;
        var Y = {{year}},
        M = {{month}},
        D = {{day}}; //取得 年 月 日
        var SEC = {{sec}};
        sys_clock(); //---------------------------------------------------初始化... 
        setInterval(sys_clock, 1000);
    </script>
    <!--1-->
    <div id="sy_zuo">
        <div class="l_box_1">
            <div class="l_box_1_center">
                <div class="user_info">
                    <ul>
                        <li>
                            <!--span class="vip"><a href="{{DUI_HUAN}}" target="_blank">[升级 VIP]</a></span-->
                            俱 乐部：
                            <span class="gray">
                                {{ team.name}}
                            </span>
                        </li>
                        <li>
                            经理名：
                            <span class="gray">
                               {{user_info.nickname}}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="line">
                </div>
                <div class="user_bank">
                    <span class="img_float">
                        <img id="imgClothes" src="{{team.micro}}" height="55" width="55">
                    </span>
                    <ul>
                        <li>
                            <span class="l_box_btn">
                                <a href="http://s3.dlm.17uxi.cn/source/i.php?a=445&amp;type=view&amp;lei_xing=1"
                                onclick="return show_popup(this)">
                                    刷新
                                </a>
                            </span>
                            资&nbsp;&nbsp;金：
                            <span class="color_1">
                                {{team.funds}}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="clear">
                </div>
                <div class="blank5">
                </div>
                <div class="line">
                </div>
                <div class="user_info">
                    <ul>
                        <li>
                            <img src="/site_media/images/h_letter.gif" height="8" width="13">
                            情报：
                            <a href="http://s3.dlm.17uxi.cn/source/i.php?a=150">
                                <img src="/site_media/images/img_02.gif" title="无受伤球员" alt="" height="11" width="11">
                            </a>
                            <a href="{% url message %}">
                               <span id="msg"><img src="/site_media/images/img_03.gif" id="xx_shan_shuo" title="没有未读消息" height="11" width="17"></msg></span>
                            </a>
                        </li>
                        <li>
                            <img src="/site_media/images/h_honor.gif" height="10" width="13">
                            荣誉：
                            <span class="gray">
                                0
                            </span>
                        </li>
                        <li>
                            <img src="/site_media/images/h_cachet.gif" height="10" width="13">
                            贡 献：
                            <span class="gray">
                                ----
                            </span>
                        </li>
                        <li>
                            <img src="/site_media/images/h_level.gif" height="10" width="13">
                            联赛：
                            <span class="gray">
                                第{{team.profession_league_evel}}等级 第{{team.profession_league_class}}组 第{{team.id|league_rank}}名
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="l_box_btn_1 left">
                    <a href="http://s3.dlm.17uxi.cn/source/i.php?a=832" target="_blank">
                        互动论坛
                    </a>
                </div>
                <div class="l_box_btn_1 right">
                    <a href="http://s3.dlm.17uxi.cn/source/i.php?a=109">
                        退出游戏
                    </a>
                </div>
                <div class="clear">
                </div>
                <div class="blank5">
                </div>
            </div>
            <div class="bot">
            </div>
        </div>
    </div>
    <!--/1-->
    <div class="blank5">
    </div>
    <!--chat begin-->
   <!--{ include "chat.html" }-->
    <!--chat end -->
</div>