<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>left</title>
<script type="text/javascript" src="/site_media/js/prototype.lite.js"></script>
<script type="text/javascript" src="/site_media/js/moo.fx.js"></script>
<script type="text/javascript" src="/site_media/js/moo.fx.pack.js"></script>
<link href="/site_media/css/left.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<table width="100%" height="280" border="0" cellpadding="0" cellspacing="0" bgcolor="#EEF2FB">
  <tr>
    <td width="182" valign="top">
	 <div id="container">
	   <h1 class="type"><a href="javascript:void(0)">球队公关</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/site_media/images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="{% url development %}" target="main">我的好友</a></li>
          <li><a href="{% url development %}" target="main">实力排行</a></li>
          <li><a href="{% url online-user %}" target="main">在线经理</a></li>
          <li><a href="{% url message %}" target="main">消息管理</a></li>
        </ul>
      </div>
         <h1 class="type"><a href="javascript:void(0)">球员管理</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/site_media/images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="{% url youth-player %}" target="main">年轻球员</a></li>
          <li><a href="{% url profession-player %}" target="main">职业球员</a></li>
          <li><a href="{% url development %}" target="main">试训球员</a></li>
        </ul>
      </div>
      <h1 class="type"><a href="javascript:void(0)">比赛管理</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/site_media/images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="{% url development %}" target="main">青年联赛</a></li>
          <li><a href="{% url league-index %}" target="main">职业联赛</a></li>
          <li><a href="{% url development %}" target="main">冠军杯赛</a></li>
          <li><a href="{% url friendly-match %}" target="main">友谊比赛</a></li>
        </ul>
      </div>
       <h1 class="type"><a href="javascript:void(0)">战术管理</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/site_media/images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="{% url development %}" target="main">青年战术</a></li>
          <li><a href="{% url profession-tactical %}" target="main">职业战术</a></li>
        </ul>
      </div>
       <h1 class="type"><a href="javascript:void(0)">球员市场</a></h1>
      <div class="content">
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/site_media/images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="{% url free-players %}" target="main">自由球员</a></li>
          <li><a href="{% url development %}" target="main">选秀球员</a></li>
          <li><a href="{% url youth-free-players %}" target="main">年轻球员</a></li>
          <li><a href="{% url development %}" target="main">国际球员</a></li>
        </ul>
      </div>
       <h1 class="type"><a href="javascript:void(0)">球队管理</a></h1>
      <div class="content">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="/site_media/images/menu_topline.gif" width="182" height="5" /></td>
          </tr>
        </table>
        <ul class="MM">
          <li><a href="{% url development %}" target="main">教练管理</a></li>
          <li><a href="{% url development %}" target="main">球队经营</a></li>
          <li><a href="{% url development %}" target="main">球场建设</a></li>
          <li><a href="{% url development %}" target="main">球队广告</a></li>
        </ul>
      </div>
     </div>
    </td>
  </tr>
</table>
</body>
</html>
    <script type="text/javascript">
		var contents = document.getElementsByClassName('content');
		var toggles = document.getElementsByClassName('type');
	
		var myAccordion = new fx.Accordion(
			toggles, contents, {opacity: true, duration: 400}
		);
		myAccordion.showThisHideOpen(contents[0]);
	</script>
