{% extends "master.html" %}
{% load common_extras %}

{% block head_ext %}
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.draggable.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.droppable.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.resizable.js"></script>
<script type="text/javascript" src="/site_media/js/rpc.js"></script>

<script type="text/javascript">
var service = null;

$(document).ready(function() {
	$('tr.clientStatusRow').click(function() {
		show_dialog(parseInt($(this).attr('client_id')));
	}).mouseover(function() {
		$(this).children('td').css({backgroundColor:"#F0F0F6"});
	}).mouseout(function() {
		$(this).children('td').css({backgroundColor:"#FFFFFF"});
	});

	service = new rpc.ServiceProxy("/services/client/", 
			{asynchronous:false, methods: ['get_client', 'set_command']});

	$('#client_status_form input.button').click(function() {
		var client_id = parseInt($('#client_id').html());
		var cmd = $(this).val();
		var params = $('#client_params').val()
		var msg = '确定要执行 ' + cmd + ' params: ' + params + '吗?'
		if(confirm(msg)) {
			service.set_command(client_id, cmd, params);
			$('#client_cmd').html(cmd);
		}
	});
});

function _load_client_status(client_id) {
	var client = service.get_client(client_id);
	var img_url = 'url(/site_media/images/' + client.status_name + '.gif)';
	$('#client_status').html(client.status_name).css({backgroundImage:img_url,
		backgroundRepeat: 'no-repeat', backgroundPosition: 'left center',
		paddingLeft: '15px'});
	$('#client_id').html(client.id);
	$('#client_ip').html(client.ip);
	$('#client_no').html(client.client_id);
	$('#client_version').html(client.version);
	$('#client_cmd').html(client.cmd || 'null');
	$('#client_params').val(client.params);
	$('#client_description').val(client.description).css({width:'100%', height:'150px'});
}	

function show_dialog(client_id) {
	$("#client_status_dialog").show().dialog({
		height: 400, width: 600, modal: true,
	    title: '客户端' + client_id + '详细信息(按ESC键可直接退出)',
		overlay: {
            opacity: 0.5, 
            background: "black" 
        }
	});
    $("#client_status_dialog").dialog('open');
    _load_client_status(client_id);
}
</script>
{% endblock %}
{% block title %}客户端监控{% endblock %}
{% block content %}
{% for category, clients in categories.items %}
<h2>{{category}}</h2>
<table cellspacing="1" class="tablesorter">
	<thead>
	<tr>
		<th>ID</th>
		<th>Status</th>
		<th>Version</th>
		<th>Last Update</th>
		<th>Description</th>
	</tr>
	</thead>
	<tbody>
	{% for client in clients %}
	{% ifequal category "url_auth" %}
	{% ifchanged client.ip %}
	<tr>
		<th colspan="5">{{client.ip}}</th>
	</tr>
	{% endifchanged %}
	{% endifequal %}
	<tr client_id="{{client.id}}" title="{{client|client_status}}, params:{{client.params|default:""}}" class="clientStatusRow">
		<td>{{client.id}}:{{client.ip}}:{{client.client_id}}</td>
		<td><img src="/site_media/images/{{client|client_status}}.gif" /></td>
		<td>{{client.version}}</td>
		<td>{{client.updated_time|date:"m-d H:i:s"}}</td>
		<td>{{client.description|linebreaksbr}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endfor %}

<div id="client_status_dialog" class="flora" style="display: none;">
    <form id="client_status_form">
    	<p>
    		<label>Status:</label>
			<span id="client_status"></span>
			<label>ID:</label>
			<span id="client_id"></span>
			<label>IP:</label>
			<span id="client_ip"></span>
			<label>NO.:</label>
			<span id="client_no"></span>
			<label>Version:</label>
			<span id="client_version"></span>
		</p>
		<p>
			<label>Description:</label>
			<textarea id="client_description" readonly="readonly"></textarea>
		</p>
		<p>
			<label>Command:</label>
			<span id="client_cmd"></span>
			<label>Params:</label>
			<span><input id="client_params" type="text" value="" /></span>
		</p>
		<p>
			<input class="button" type="button" value="Start" />
			<input class="button" type="button" value="Pause" />
			<input class="button" type="button" value="Stop" />
			<input class="button" type="button" value="Svnup" />
			<input class="button" type="button" value="Reboot" />
		</p>
    </form>
</div>
{% endblock %}