<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/site_media/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/jquery.validate.min.js"></script>
<script type="text/javascript" src="/site_media/js/ucenter.js"></script>
<script type="text/javascript" src="/site_media/js/select_list.js"></script>
<script type="text/javascript">

    var DEFAULT_THEME = '/site_media';
    var CONSTANTS = {URI:{}};
    CONSTANTS.URI.CAPTCHA = {
        IMG : '{% url captcha %}' 
    };
</script>
<script type="text/javascript" src="/site_media/js/common/functional.js"></script>
<script type="text/javascript" src="/site_media/js/common/captach.js"></script>
<link href="/site_media/css/ucenter.css" rel="stylesheet" type="text/css"/>
  <title>gba通行证注册</title>
<script type="text/javascript">

   $(document).ready(function(){
	    var rules = {
	        email: {
	            required: true,
	            email: true,
	            remote: {
	                url: "{% url check-email %}",
	                type: "post",
	                dataType: "json",
	                data: {
	                  email: function() {
	                     return $("#email").val();
	                  }
	                }
	            }
	        },
	        password: {
	            required: true
	        },
	        passwordcheck: {
	            required: true,
	            equalTo: "#password"
	        },
	        nickname:{
	            required: true,
	            rangelength: [5, 10]
	        },
	        captcha:{
	            required: true,
	            rangelength: [4, 4]
	        }  
	    };
    
	    var messages = {
	        email: {
	        	required: "Email地址必须填写",
	            email: "请输入一个有效的Email地址",
	            remote: "该邮箱已经注册过了"
	        }, 
	        password:{
	            required: "请输入密码"
	        },
	        passwordcheck:{
	            required: "请确认密码",
	            equalTo: "两次输入密码不一致"
	        },
	        nickname:{
	            required: "请输入用户名",
	            rangelength: '用户名为5到10个字符'
	        },
	        captcha:{
	            required: "请输入验证码",
	            rangelength: "验证为4位数字"
	        }
		};
	 
		$("#register").validate({
		  rules: rules, 
		  messages: messages,
		  errorPlacement: function(error, element) { 
		     error.appendTo(element.parent());     
	      }
	    });
    
	    YYYYMMDDstart();
	    Captach.getFirstCaptcha();

   });
</script>
<style>
  .error{color:red;margin-left:10px;}
</style>
</head>
<body>
    <div style="margin:0 auto; margin-top:20px; width:880px; height:63px;">
      GBA通行证注册
    </div>
    <div class="content">
    <div class="part1">
        <div class="register_remark">
          欢迎注册GBA篮球经理网，下面表单中的信息均为必填项，请认真填写
        </div>
        <form action="{% url register %}" method="post" id="register">
        <table border="0" cellpadding="0" cellspacing="0" class="reg_table">
            <tbody>
             <tr>
               <td style="width:150px; padding-right:4px;text-align:right; color:red;">
                必填选项
               </td>
	           <td class="regtd2">&nbsp;</td>	
            </tr>   
            <tr>
                <td class="regtd1">电子邮件：
                </td>
                <td class="regtd2">
                   <input name="email" id="email" class="regftxt"/>
                </td>
            </tr>
            <tr>
                <td class="regtd1">密码：
                </td>
                <td class="regtd2">
                 <input type="password" name="password" id="password" class="regftxt"/>
                </td>
            </tr>
            <tr>
                <td class="regtd1">确认密码：
                </td>
                <td class="regtd2">
                  <input type="password" id="passwordcheck" name="passwordcheck" class="regftxt"/>
                </td>
            </tr>
            <tr>
                <td class="regtd1" style=" padding-top:12px;">昵称：
                </td>
                <td class="regtd2" style=" padding-top:12px;">
                    <input type="text" name="nickname" id="nickname" class="regftxt"/>
                </td>
            </tr>
	        <tr>
               <td style="line-height:20px;" class="regtd1">验证码：
               </td>
               <td class="regtd2">
                 <input id="captcha" name="captcha" class="regftxt"/>&nbsp;&nbsp;
                    <img class="captchaimg"  height="21" hspace="0" vspace="0"/>
                   <a href="javascript:void(0);" onclick="return Captach.getCaptcha()">刷新验证码</a>
               </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <input type="submit" style="width:100px; line-height:24px;" value="完成注册" title="完成注册" id="btnregnext"/>
              </td>
            </tr>
	     <tr>
            <td colspan="2" class="regtd2" style="border-bottom:1px solid #ccc; padding-bottom:3px; padding-top:2px;line-height:10px; ">
            </td>
         </tr>
	      <tr>
            <td style="width:150px; padding-right:4px;text-align:right;">选填选项
            </td>
            <td class="regtd2">&nbsp;
	        </td>	
          </tr>
          <tr>
            <td class="regtd1">性别：
            </td>
            <td class="regtd2">
             <input type="radio" id="rdman" name="rdgender" checked="checked" onclick="document.getelementbyid(&#39;ddlgender&#39;).value=0;">男
             <input type="radio" id="rdwoman" name="rdgender" onclick="document.getelementbyid(&#39;ddlgender&#39;).value=1;">女 
             <input type="hidden" id="ddlgender" value="0">
            </td>
          </tr>
            <tr>
            <td class="regtd1">生日：
            </td>
            <td class="regtd2">
              <select name="yyyy" id="yyyy" style="width:60px;" onchange="yyyydd(this.value)">
                 <option value="">--</option>
              </select>
                    年
               <select name="mm" id="mm" onchange="mmdd(this.value)" style="width:46px;">
                <option value="">--</option>
               </select>
                    月
               <select name="dd" id="dd" style="width:46px;">
                <option value="">--</option>
               </select>
                    日
            </td>
            </tr>
            <tr>
            <td class="regtd1">地区：
            </td>
            <td class="regtd2">
                <select onchange="setcity(0,&#39;&#39;)" id="prv" name="prv" style="width:97px;">
                    <option id="opprovince" value="">— — 省</option>                
			        <option value="安徽">安徽</option>
			        <option value="北京">北京</option>
			        <option value="重庆">重庆</option>
			        <option value="福建">福建</option>
			        <option value="甘肃">甘肃</option>
			        <option value="广东">广东</option>
			        <option value="广西">广西</option>
			        <option value="贵州">贵州</option>
			        <option value="海南">海南</option>
			        <option value="河北">河北</option>
			        <option value="黑龙江">黑龙江</option>
			        <option value="河南">河南</option>
			        <option value="香港">香港</option>
			        <option value="湖北">湖北</option>
			        <option value="湖南">湖南</option>
			        <option value="江苏">江苏</option>
			        <option value="江西">江西</option>
			        <option value="吉林">吉林</option>
			        <option value="辽宁">辽宁</option>
			        <option value="澳门">澳门</option>
			        <option value="内蒙古">内蒙古</option>
			        <option value="宁夏">宁夏</option>
			        <option value="青海">青海</option>
			        <option value="山东">山东</option>
			        <option value="上海">上海</option>
			        <option value="山西">山西</option>
			        <option value="陕西">陕西</option>
			        <option value="四川">四川</option>
			        <option value="台湾">台湾</option>
			        <option value="天津">天津</option>
			        <option value="新疆">新疆</option>
			        <option value="西藏">西藏</option>
			        <option value="云南">云南</option>
			        <option value="浙江">浙江</option>
			        <option value="其他">其他</option>
                </select>
                <select name="city" id="city" style="width:97px;">
                 <option value="" id="opcity">— — 市</option>
                </select>        
            </td>
            </tr>
        </tbody>
      </table>
      </form>
    </div>
    </div>
</body>
</html>
