{% extends "master.html" %}
{% load common_extras %}
{% block head_ext %}
{% endblock %}
{% block title %}游戏信息{% endblock %}
{% block content %}
<table cellspacing="1" class="tablesorter">
  <thead>
    <th>ID</th>
    <th>赛季</th>
    <th>轮数</th>
    <th>天数</th>
    <th>联赛等级数</th>
  </thead>
  <tbody>
       <tr>
         <td>{{ info.gameid }}</td>
         <td>{{ info.season }}</td>
         <td>{{ info.turn }}</td>
         <td>{{ info.days }}</td>
         <td>{{ info.devlevelsum }}</td>
       </tr>
  </tbody>
</table>
{% endblock %}