#tactical {
    width:378px;
    height:204px;
	background-image: url(../images/tactical.png);
	background-repeat:no-repeat;
	margin: 20px;
}

#position_sg {
  left:67px; 
  position:absolute;
  top:50px;
}

#position_pg {
  left:114px;
  position:absolute;
  top:87px;
}

#position_sf {
  left:83px;
  position:absolute;
  top:190px;
}

#position_c {
  left:55px;
  position:absolute;
  top:100px;
}

#position_pf {
  left:32px;
  position:absolute;
  top:174px;
}

.player_tactical_tp{
    background-image: url(../images/playerbg.gif);
	background-repeat:no-repeat;
	width:26px;
	height:26px;
	text-align:center;
	border:1px;
	float:left;
	line-height:26px;
}