{% extends "admin/master.html" %}
{% load common_extras %}
{% block head_ext %}
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">
     
  service = new rpc.ServiceProxy("/services/admin/", {asynchronous:false, methods: ['get_action_desc', 'add_action_desc']});
  
  $(document).ready(function(){
   
	genPageLinks({{total}}, {{pagesize}});
	 
	$('.category').click(function(){
		 var category = $(this).attr('category');
		 var url = "{% url club %}?category=" + category;
		 window.location = url;
	});
	 
	 $(".category").each(function(){
	    if($(this).attr("category")=={{category}}){
		   $(this).attr("disabled", "disabled");
		}
	});
	 
  });
  
</script>
{% endblock %}
{% block title %}俱乐部管理{% endblock %}
{% block content %}
<input type="button" class="category" category="3" value="街球队 " />
<input type="button" class="category" category="5" value="职业队" />
<table cellspacing="1" class="tablesorter">
  <thead>
    <th>俱乐部ID</th>
    <th>名称</th>
    <th>类型</th>
    <th>用户ID</th>
    <th>MainXml</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr>
         <td>{{ info.clubid }}</td>
         <td>{{ info.name }}</td>
         <td>{{ info.category|club_category }}</td>
         <td>{{ info.userid }}</td>
         <td>{{ info.mainxml }}</td>
       </tr>
      {% endfor %}
    {% endif %}
     <tr style="display:none"><td id="pageLink" colspan="12"></td></tr>
  </tbody>
</table>
{% endblock %}