<table class="list_table" 
width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<th>赛季</th>
<th>收入</th>
<th>支出</th>
</tr>
{% for info in infos %}
<tr>
<td>{{info.season}}</td>
<td><font color="#0096f1">{{info.income}}</font></td>
<td><font color="red">{{info.outlay}}</font></td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="blank10"></div>
<div class="mlr8 tr">
{% ifequal page 1 %}
    首页
    上一页
{% else %}
     <a href="{% url season-finance-min %}?page=1" onclick="return href_to_div(this,'main_content');">首页</a>
     <a href="{% url season-finance-min %}?page={{prevpage}}" onclick="return href_to_div(this,'main_content');">&lt;上一页</a>
{% endifequal %}
{% ifequal page totalpage %}
    下一页
    末页
{% else %}
     <a href="{% url season-finance-min %}?page={{nextpage}}" onclick="return href_to_div(this,'main_content');">下一页&gt;</a>
     <a href="{% url season-finance-min %}?page={{totalpage}}" onclick="return href_to_div(this,'main_content');">末页</a>
{% endifequal %}
[第{{page}}/{{totalpage}}页]
</div>
	