<form id='frm' action='' method='post'>
<div class='floatBox_msg mauto'>
  <p class='lh21 color_7'>升级球场需要您 <font color=red>{{use_funds}}</font>资金，
  <font color=red>{{use_days}}</font> 天的时间</p>
 <div class='blank20'></div><div class='floatBox_msg_btn mauto'>
 <div class='btn_3 left'>
 <a href='#' onclick='return href_to_div("{% url arena-update-save %}","popup_inner");'>确认</a></div>
 <div class='btn_3 right'><a href='#' onclick='return hide_popup();'>取消</a></div>
 <div class='clear'></div>
</div></div>