{% extends "index.html" %}
{% block show_nav %}
<script language="javascript">
  sub_menu_highlight(6,1);
  nav_over('nav6','show6');
  nav_show('nav6','show6');
</script>
{% endblock %}
{% block sub_menu %}
<form action="n.php?a=350" method="post" onsubmit='return submit_to_div(this,"main_content");'>
<div class="Venues">
	<div class="Venues_box_l">
		<ul class="lh21">
		 <li><span class="fb">体育馆：</span>1级</li>
		 <li><span class="fb">座　位：</span>2000 个</li>
		 <li><span class="fb">广告栏：</span>1 个</li>
		 <li><span class="fb">球　迷：</span>2900 人</li>
		 <li class="color_6">
		  <a href="" onclick="return show_popup(this);">升级球场</a>
		  <input id="value" value="-42" type="hidden">
		   <label id="time"></label></li>
	    </ul>
    </div>
	<div class="Venues_box_r">
	  <img src="/site_media/images/qc.jpg" alt="" width="502" height="116">
	</div>
<div class="clear"></div>
{% endblock %}		
