{% extends "team/arena_build_master.html" %}
{% block main %}
		<table class="list_table">
		<tbody><tr valign="top"><th>球票价格</th>
		<th>赛季球票销售</th>
		<th class="end_cell">球场广告</th>
		</tr><tr valign="top"><td width="175">
			<div class="blank10"></div>
			<div class="blank5"></div>
			<div class="tc"><select name="qiu_piao_jia_ge" id="qiu_piao_jia_ge" 
style="width: 49px;"><option value="18" selected="selected">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
<option value="32">32</option>
<option value="33">33</option>
<option value="34">34</option>
<option value="35">35</option>
<option value="36">36</option>
<option value="37">37</option>
<option value="38">38</option>
<option value="39">39</option>
<option value="40">40</option>
<option value="41">41</option>
<option value="42">42</option>
<option value="43">43</option>
<option value="44">44</option>
<option value="45">45</option>
<option value="46">46</option>
<option value="47">47</option>
<option value="48">48</option>
<option value="49">49</option>
<option value="50">50</option></select> <input name="" value="确定" 
class="btn_5" type="submit"></div>
			<div class="blank20"></div>
			<div class="blank20"></div>
			<ul class="lh21">
			<li>上场球票价格：0 元</li>
			<li>上场门票销售：0 张</li>
			<li>上场门票收入：0 元</li>
			<li>赛季门票收入：72000 元</li>
			</ul>
		</td>
		<td>
			<table class="list_table3">
				<tbody><tr class="bgBlueLight">
					<td>轮次</td>
					<td>价格(元)</td>
					<td class="end_cell_1">销售(张)</td>
				</tr><tr>
				
</tr><tr class="end_cell"><td>2</td><td>18</td><td class="end_cell_1">2000</td></tr>
<tr class="bgBlueLight"><td>5</td><td>18</td><td class="end_cell_1">2000</td></tr>
			</tbody></table>

		</td>
		<td>
			

		</td>
		</tr>
		
		</tbody></table>
</div>
</form>
{% endblock %}