{% load common_extras %}
<div class="blueBox_bg">
<table class="list_table" width="100%" border="0" cellpadding="0" cellspacing="0">
 <thead>
   <tr>
    <th>队徽</th>
    <th>经理</th>
    <th>是否在线</th>
    <th>QQ对话</th>
    <th>约战</th>
    <th class="end_cell">操作</th>
  </tr>
 </thead>
 <tbody>
{% for info in infos %}
<tr>
  <td>
   <img id="imgClothes" src="{{info.friend_team_id|team_micro}}" width="30" height="30">
  </td>
  <td>
   <span class="blue">
   <img src="/site_media/images/boy.gif" hight="16" title="男" width="16">
   <a href="{%url user-detail%}?id={{info.friend_team_id}}" onclick="return show_popup(this);">{{info.friend_team_id|nickname}}</a>
   </span></td>
   <td>是</td>
   <td>暂无资料</td>
   <td>
    <a href="{% url send-match-request %}?team_id={{info.friend_team_id}}" onclick="return show_popup(this);"><img src="/site_media/images/btn_01.gif"></a>
   </td>
   <td>
      <a href="{% url send-message %}?team_id={{info.friend_team_id}}" onclick="return show_popup(this);">
      <img src="/site_media/images/icon_13.gif" title="留言">
      </a>
      |
      <a href="{% url delete-friend %}?team_id={{info.friend_team_id}}" onclick="return show_popup(this);">
      <font color="red">删除</font>
     </a>
   </td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="blank10"></div>
<div class="mlr8 tr">
{% ifequal page 1 %}
    首页
    上一页
{% else %}
     <a href="{% url friends-min %}?page=1" onclick="return href_to_div(this,'main_content');">首页</a>
     <a href="{% url friends-min %}?page={{prevpage}}" onclick="return href_to_div(this,'main_content');">&lt;上一页</a>
{% endifequal %}
{% ifequal page totalpage %}
    下一页
    末页
{% else %}
     <a href="{% url friends-min %}?page={{nextpage}}" onclick="return href_to_div(this,'main_content');">下一页&gt;</a>
     <a href="{% url friends-min %}?page={{totalpage}}" onclick="return href_to_div(this,'main_content');">末页</a>
{% endifequal %}
[第{{page}}/{{totalpage}}页]
</div>
<div class="clear"></div>
<dl>
  <dd>
	<table width="530" border="0" cellpadding="0" cellspacing="0">
	  <tbody>
	   <tr>
	     <td colspan="3" align="center" height="5"></td>
	   </tr>
	   <tr>
		 <td width="100" height="30">经理名称：</td>
		 <td width="150">
		 <input value="" name="jiao_se_ming_cheng" id="jiao_se_ming_cheng" onblur="hao_you_ming_chengCheck()" type="text">
		 </td>
		 <td width="280">
		  <input name="btnAdd" id="btnAdd" src="/site_media/images/friend.gif" alt="" type="image" border="0">[点击空白处查看经理名是否存在]</td>
		</tr>
		<input name="can_shu" id="can_shu" value="1" type="hidden">
		<tr>
		 <td colspan="3" align="center" height="25">
		  <font color="#ff0000">
		  <div id="notice"></div>
		  </font>
		</td>
	    </tr>
		</tbody>
	</table>
  </dd>
</dl>
<div class="clear"></div>
</form>
</div>