{% load common_extras %}
<div class="blueBox_bg">
<table class="list_table" width="100%" border="0" cellpadding="0" cellspacing="0">
 <thead>
   <tr>
    <th>队徽</th>
    <th>经理</th>
    <th>是否在线</th>
    <th>QQ对话</th>
    <th>约战</th>
    <th class="end_cell">操作</th>
  </tr>
 </thead>
 <tbody>
{% for info in infos %}
<tr>
  <td>
   <img id="imgClothes" src="{{info.friend_team_id|team_micro}}" width="30" height="30">
  </td>
  <td>
   <span class="blue">
   <img src="/site_media/images/boy.gif" hight="16" title="男" width="16">
   <a href="http://s3.dlm.17uxi.cn/source/n.php?a=119&amp;id=5913" onclick="return show_popup(this);">{{info.friend_team_id|nickname}}</a>
   </span></td>
   <td>是</td>
   <td>暂无资料</td>
   <td>
    <a href="http://s3.dlm.17uxi.cn/source/n.php?a=115&amp;id=5913" onclick="return show_popup(this);"><img src="/site_media/images/btn_01.gif"></a>
   </td>
   <td>
      <a href="{% url send-message %}?team_id={{info.friend_team_id}}" onclick="return show_popup(this);">
      <img src="/site_media/images/icon_13.gif" title="留言">
      </a>
      |
      <a href="{% url delete-friend %}?team_id={{info.friend_team_id}}" onclick="return show_popup(this);">
      <font color="red">删除</font>
     </a>
   </td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="blank10"></div>
<div class="mlr8 tr">&nbsp;首页
 &lt;上一页&nbsp;下一页&gt; 末页&nbsp;[第1/1页]
<div class="clear"></div>
<dl>
  <dd>
	<table width="530" border="0" cellpadding="0" cellspacing="0">
	  <tbody>
	   <tr>
	     <td colspan="3" align="center" height="5"></td>
	   </tr>
	   <tr>
		 <td width="100" height="30">经理名称：</td>
		 <td width="150">
		 <input value="花木兰" name="jiao_se_ming_cheng" id="jiao_se_ming_cheng" onblur="hao_you_ming_chengCheck()" type="text">
		 </td>
		 <td width="280">
		  <input name="btnAdd" id="btnAdd" src="ifr.php_files/friend.gif" alt="" type="image" border="0">（点击空白处查看经理名是否存在）</td>
		</tr>
		<input name="can_shu" id="can_shu" value="1" type="hidden">
		<tr>
		 <td colspan="3" align="center" height="25">
		  <font color="#ff0000">
		  <div id="notice"><font xmlns="http://www.w3.org/1999/xhtml">该经理存在！请点击添加</font></div>
		  </font>
		</td>
	    </tr>
		</tbody>
	</table>
  </dd>
</dl>
<div class="clear"></div>
</form>
</div>