<form method="post" action="{% url hire-staff %}?id={{staff.id}}" name="frm" onsubmit='return submit_to_div(this,"popup_inner")'>
<div class="floatBox_sms">
<div class="blank20"></div>
<div class="blank10"></div>
<p class="lh21">
 花费资金: {{fund}}
</p>
<p class="lh21">营养师：{{ staff.name }}。 </p>
<div class="h25">	
 球队:
 {% ifequal staff.is_youth 1%}
  街头队
 {% else %}
  职业队
 {% endifequal %}
</div>
<div class="blank10"></div>
<div class="floatBox_sms_btn">
<div class="left">
 <input name="Submit" value="确定" class="btn_3" type="submit">
</div>
<div class="btn_3 right"><a href="#" onclick="return hide_popup('');">取消</a>
</div>
</div><div class="clear"></div>
</div>
<div class="blank20"></div>
<div class="blank20"></div>
</form>
