<table class="list_table" 
width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<th>赛季</th>
<th>轮数</th>
<th>收入</th>
<th>支出</th>
<th>时间</th>
<th class="end_cell">操作</th>
</tr>
<tr>
<td>10</td>
<td>26</td>
<td><font color="#0096f1">0</font></td>
<td><font color="red">11698</font></td>
<td>2010-04-02 00:15:15</td>
<td><a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=343&amp;lun_ci_id=26&amp;sai_ji_id=10"
 onclick="return show_popup(this)"><font color="#0096f1">查看</font></a></td>
</tr>
<tr class="td_bgcolor_blue1">
<td>10</td>
<td>5</td>
<td><font color="#0096f1">36000</font></td>
<td><font color="red">11698</font></td>
<td>2010-04-08 00:17:40</td>
<td><a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=343&amp;lun_ci_id=5&amp;sai_ji_id=10"
 onclick="return show_popup(this)"><font color="#0096f1">查看</font></a></td>
</tr>
<tr>
<td>10</td>
<td>4</td>
<td><font color="#0096f1">0</font></td>
<td><font color="red">11698</font></td>
<td>2010-04-07 00:16:57</td>
<td><a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=343&amp;lun_ci_id=4&amp;sai_ji_id=10"
 onclick="return show_popup(this)"><font color="#0096f1">查看</font></a></td>
</tr>
<tr class="td_bgcolor_blue1">
<td>10</td>
<td>3</td>
<td><font color="#0096f1">0</font></td>
<td><font color="red">11698</font></td>
<td>2010-04-06 00:16:24</td>
<td><a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=343&amp;lun_ci_id=3&amp;sai_ji_id=10"
 onclick="return show_popup(this)"><font color="#0096f1">查看</font></a></td>
</tr>
<tr>
<td>10</td>
<td>2</td>
<td><font color="#0096f1">36000</font></td>
<td><font color="red">41698</font></td>
<td>2010-04-05 00:16:46</td>
<td><a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=343&amp;lun_ci_id=2&amp;sai_ji_id=10"
 onclick="return show_popup(this)"><font color="#0096f1">查看</font></a></td>
</tr>
<tr class="td_bgcolor_blue1">
<td>10</td>
<td>1</td>
<td><font color="#0096f1">0</font></td>
<td><font color="red">23396</font></td>
<td>2010-04-04 00:15:57</td>
<td><a 
href="http://s3.dlm.17uxi.cn/source/n.php?a=343&amp;lun_ci_id=1&amp;sai_ji_id=10"
 onclick="return show_popup(this)"><font color="#0096f1">查看</font></a></td>
</tr>
</tbody></table><div class="blank10"></div><div class="mlr8 tr">&nbsp;首页
 &lt;上一页&nbsp;下一页&gt; 末页&nbsp;[第1/1页]&nbsp;第 <input name="page" 
id="page" value="1" size="1" class="in1" onfocus="this.className='in2';"
 onblur="this.className='in1';" type="text"> 页 <input class="btn_2" 
value="GO" onclick="return 
href_to_div('n.php?a=342&amp;p='+document.getElementById('page').value,'main_content');"
 type="button">&nbsp;</div>
	