{% load common_extras %}		
<script language="javascript">
third_menu_highlight(1);	
</script>
<table class="list_table" border="0" cellpadding="0" cellspacing="0" width="100%">
 <tbody>
  <tr>
   <th>排名</th>
   <th>经理名称</th> 
   <th>所属球队</th>
   <th>联赛等级</th>
   <th>所属联盟</th>
   <th class="end_cell">综合能力</th>
 </tr>
{% for info in infos %}
<tr>
<td>{{info.rank}}</td>
<td>
 <a href="{% url user-detail %}?id={{info.id}}" onclick="return show_popup(this);">
  <font color="#0096f1">{{info.id|nickname}}</font>
</a>
</td>
<td>
 <span class="">
  <a href="{% url user-detail %}?id={{info.id}}" onclick="return show_popup(this);">
   <font color="#0096f1">{{info.name}}</font>
 </a>
</span>
</td>
<td>{{info.profession_league_evel}}.{{info.profession_league_class}}</td>
<td>
 <a href="" onclick="return show_popup(this)">
  暂无联盟
 </a>
</td>
<td>{{info.agv_ability|format_number}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="blank10"></div>
<div class="mlr8 tr">
{% if infos %}
{% ifequal page 1 %}
    首页
    上一页
{% else %}
     <a href="{% url team-ranking-min %}?page=1" onclick="return href_to_div(this,'main_content');">首页</a>
     <a href="{% url team-ranking-min %}?page={{prevpage}}" onclick="return href_to_div(this,'main_content');">&lt;上一页</a>
{% endifequal %}
{% ifequal page totalpage %}
    下一页
    末页
{% else %}
     <a href="{% url team-ranking-min %}?page={{nextpage}}" onclick="return href_to_div(this,'main_content');">下一页&gt;</a>
     <a href="{% url team-ranking-min %}?page={{totalpage}}" onclick="return href_to_div(this,'main_content');">末页</a>
{% endifequal %}
[第{{page}}/{{totalpage}}页]
{% endif %}
</div>
<form action="{% url team-ranking-min %}" method="post" name="frm" onsubmit='return submit_to_div(this,"main_content");'>
<table border="0" cellpadding="0" cellspacing="0" width="679">
 <tbody>
  <tr>
   <td width="60">
    <span class="blue">查找经理：</span>
   </td>
   <td width="170">
    <input name="keyword" id="keyword" class="in1" onfocus="this.className='in2';" onblur="this.className='in1';" style="width: 152px;" type="text">
   </td>
   <td>
   <label>
	<input src="/site_media/images/search.gif" name="Submit" type="image" width="56" height="19">
   </label>
  </td>
</tr>
</tbody>
</table>
</form>

		