{% extends "team/team_register_master.html" %}
{% block main %}
<form method="post" name="register_form" action="{% url register-team  %}">
<input type="text" name="step" value="{{next_step}}"/>
<div class="creatBox1">
    <div class="blank10">
    </div>
    <p>
       恭喜您，俱乐部已经创建成功，现在您需要挑选为您所用的球员，俱乐部分为职业球队与街球队，请您首先挑选职业队球员，他们将是您在比赛 初期的主力球员
    </p>
    <p>
      请选择<span class="red">8</span>名职业球员
    </p>
    <div class="tr mr20">
        <div class="right ml15">
           <input id="sub" value="完成" type="submit">
        </div>
        <font color="red">
            <div id="notice">
                <font xmlns="http://www.w3.org/1999/xhtml">您已选择'8',还可以选择'0'</font>
            </div>
        </font>
        <div class="right red lh18">点击球员名称可查看球员属性</div>
    </div>
    <div class="clear">
    </div>
    <div style="font-size: 13px;">
        <font color="red">
            <strong>
                组建职业队
            </strong>
        </font>
    </div>
</div>
<input name="dui_wu" id="dui_wu" value="1" type="hidden">
<table class="list_table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>位置</th>
            <th>身高</th>
            <th>体重</th>
            <th>综合</th>
            <th>薪水</th>
            <th class="end_cell">操作</th>
        </tr>
        {% for info in infos %}
        <tr>
            <td>
              <a href="http://s1.dlm.17uxi.cn/source/n.php?a=416&amp;id_mb_qiu_yuan=5" onclick="return show_popup(this)" title="大前">
               <font color="#0096f1">{{info.name}}</font>
              </a>
            </td>
            <td>{{info.age}}</td>
            <td>{{info.position}}</td>
            <td>{{info.stature}}</td>
            <td>{{info.avoirdupois}}</td>
            <td>{{info.ability}}</td>
            <td>{{info.wage}}</td>
            <td>
              <input checked="checked" name="qiu_yuan[]" onclick="return  checkSelect();" value="5" type="checkbox">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="floatBoxBg" style="display:none;"></div>
<div id="floatBox" class="floatBox" style="display: none;">
    <div class="floatBox_header"></div>
    <div class="floatBox_shadow">
        <div class="floatBox_closer">
            <a href="" onclick="return show_popup('floatBox');">
                <img id="popup_closer" src="re3_files/close.gif" alt="test" width="11" height="11">
            </a>
        </div>
        <div id="popup_inner" class="content">
            Loading...
        </div>
    </div>
    <div class="floatBox_footer"></div>
</div>
</form>
{% endblock %}