{% extends "team/team_register_master.html" %}
{% load common_extras %}
{% block main %}
<form method="post" name="register_form" action="{% url team-register  %}">
<input type="text" name="step" value="{{next_step}}"/>
<input type="text" name="team_name" value="{{team_name}}"/>
<input type="text" name="manager_name" value="{{manager_name}}"/>
<input type="text" name="hidClothes" value="{{hidClothes}}"/>
<input type="text" name="pro_player_ids" value="{{pro_player_ids}}"/>
<div class="creatBox1">
    <div class="blank10"></div>
    <p>
       您的职业球队已经组建完成，现在您需要挑选街球队的球员，这些街球员将是以后职业队的希望，您可以将表现好的街球员提拔到职业对成 为职业球员，来为俱乐部效力。
    </p>
    <p>
        请选择<span class="red">4</span>名业余球员
    </p>
    <div class="tr mr20">
        <div class="right ml15">
            <input id="sub" value="完成" type="submit" disabled="true">
        </div>
        <font color="red">
            <div id="notice">
                <font xmlns="http://www.w3.org/1999/xhtml">
                    您已选择0,还可以选择8
                </font>
            </div>
        </font>
        <div class="right red lh18">
            点击球员名称可查看球员属性
        </div>
    </div>
    <div class="clear">
    </div>
    <div style="font-size:13px;">
        <font color="red">
            <strong>组建街球队</strong>
        </font>
    </div>
</div>
<table class="list_table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>位置</th>
            <th>身高</th>
            <th>体重</th>
            <th>综合</th>
            <th class="end_cell">操作</th>
        </tr>
        {% for info in infos %}
        <tr>
            <td>
                <a href="http://s1.dlm.17uxi.cn/source/n.php?a=416&amp;id_mb_qiu_yuan=17"  onclick="return show_popup(this)" title="分卫">
                    <font color="#0096f1">{{info.name}}</font>
                </a>
            </td>
            <td>{{info.age}}</td>
            <td>{{info.position}}</td>
            <td>{{info.stature}}</td>
            <td>{{info.avoirdupois}}</td>
            <td>{{info.ability|format_number}}</td>
            <td>
                <input name="player[]" onclick="return checkSelect();" value="{{info.id}}" type="checkbox">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div id="floatBoxBg" style="display: none; position: fixed; height: 100%; width: 100%;">
</div>
<div id="floatBox" class="floatBox" style="display: none;">
    <div class="floatBox_header">
    </div>
    <div class="floatBox_shadow">
        <div class="floatBox_closer">
            <a href="" onclick="return show_popup('floatBox');">
                <img id="popup_closer" src="re4_files/close.gif" alt="test" width="11"
                height="11">
            </a>
        </div>
        <div id="popup_inner" class="content">
        </div>
    </div>
    <div class="floatBox_footer">
    </div>
</div>
</form>
{% endblock %}