<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GBA篮球经理</title>
    <link rel="stylesheet" type="text/css" href="/site_media/css/global.css">
    <link rel="stylesheet" type="text/css" href="/site_media/css/create.css">
    <script type="text/javascript" src="/site_media/js/common.js"></script>
    <script type="text/javascript" src="/site_media/js//prototype.js"></script>
    <script type="text/javascript" src="/site_media/js/team.js"></script>
    <script type="text/javascript" src="/site_media/js/team_register.js"></script>
</head>
<body>
    <div class="h25"></div>
    <div class="Area_920 create_bg">
        <div class="create_lc">
            <div class="create_lc_top"></div>
            <div class="create_box tc"><img src="/site_media/images/create_04.jpg" alt="" width="197" height="342"></div>
        </div>
        <div class="create_rc">
            <div class="blank10_w"></div>
            <div class="blank5_w"></div>
            <div class="rCreate_box f14">
                <ul>
                    <li {%ifequal step 1%}class="active"{%endifequal%}>1. 经理注册</li>
                    <li {%ifequal step 2%}class="active"{%endifequal%}> 2. 创建俱乐部</li>
                    <li {%ifequal step 3%}class="active"{%endifequal%}{%ifequal step 4%}class="active"{%endifequal%}> 3. 组建球队</li>
                    <li> 4. 完成，加入联赛</li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="blank10_w"></div>
            <div class="blank5_w"></div>
            <div class="create_rc_top"></div>
            {% block main %}{% endblock %}
        </div>
        <div class="clear"></div>
        <div class="create_bot"></div>
    </div>
</body>
</html>