{% extends "master.html" %}
{% load common_extras %}
{% block head_ext %}
<script type="text/javascript" src="/site_media/js/rpc.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.core.js"></script>
<script type="text/javascript" src="/site_media/js/jquery/ui/ui.dialog.js"></script>
<link rel="stylesheet" href="/site_media/js/jquery/ui/themes/flora/flora.all.css" type="text/css" media="screen" title="no title" />
<meta http-equiv="content-type" content="text/html; charset=utf8" />
<script type="text/javascript">
     
      
     
  service = new rpc.ServiceProxy("/services/account/", {asynchronous:false, methods: ['add_invitec_code',]});
  
  $(document).ready(function(){
   
   
	genPageLinks({{total}}, {{pagesize}});
	       
	
    $('input.add').click(function(){
	     $("#add_dialog").show().dialog({
		     height: 230, width: 330, modal: true,
	         title: '添加邀请码',
		     overlay: {
                opacity: 0.5, 
                background: "black" 
             }
	     });
	});
	
    $('#add_form input.button').click(function(){
		var count = $('#count').val();
        if(!count){
		   alert("请输入数量");
		}else{
		    try{
		       service.add_invitec_code(count);
	           window.location.reload() ;
			}catch(e){
			   alert(e.message);
			}
	    }
	});
	 
	$('.status').click(function(){
		 var category = $(this).attr('status');
		 var url = "{% url invitecode %}?status=" + category;
		 window.location = url;
	});
	 
	 $(".status").each(function(){
	    if($(this).attr("status")=={{status}}){
		   $(this).attr("disabled", "disabled");
		}
	});
	 
  });
  
</script>
{% endblock %}
{% block title %}邀请码管理{% endblock %}
{% block content %}
<input type="button" class="add" value="添加邀请码"/><br/>
<input type="button" class="status" status="1" value="未使用" />
<input type="button" class="status" status="2" value="已分配" />
<input type="button" class="status" status="3" value="已使用" />
<table cellspacing="1" class="tablesorter">
  <thead>
    <th>ID</th>
    <th>邀请码</th>
    <th>状态</th>
    <th>创建时间</th>
    <th>更新时间</th>
  </thead>
  <tbody>
    {% if infos %}
      {% for info in infos %}
       <tr id="{{ info.id }}">
         <td>{{ info.id }}</td>
         <td>{{ info.code }}</td>
         <td>{{ info.status|invite_code_status }}</td>
         <td>{{ info.created_time }}</td>
         <td>{{ info.updated_time }}</td>
       </tr>
      {% endfor %}
    {% endif %}
     <tr style="display:none"><td id="pageLink" colspan="12"></td></tr>
  </tbody>
</table>
<div id="add_dialog" class="flora" style="display: none;">
    <form id="add_form">
    	<p>
    		<label>数量:</label>
			<span><input id="count" type="text" value="12"/></span>
	    </p>
	    <br> 
		<input class="button" type="button" value="提交" />
    </form>
</div>
{% endblock %}